<template>
  <div>
    <v-label for="country">
      <b class="gray--text">{{ $t('fields.country') }}</b>
    </v-label>
    <v-select
      id="country"
      v-bind="$attrs"
      v-on="$listeners"
      :loading="loading"
      rounded
      filled
      v-model="form.country_id"
      :items="countries"
      item-text="title"
      item-value="id"
    >
    </v-select>
  </div>
</template>

<script>
export default {
  name: 'cityComponent',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      countries: [],
      loading: true,
    }
  },
  mounted() {
    this.getCountries()
  },
  methods: {
    getCountries() {
      this.loading = true

      this.$http
        .get({ resource: 'countries' })
        .then((res) => {
          const { data } = res.data

          this.countries = data
          // this.form.city_id = ''
          // this.form.area_id = ''
        })
        .finally(() => (this.loading = false))
    },
  },
}
</script>

