<template>
  <v-data-table :headers="headers" :items="orders" hide-default-footer>
    <template v-slot:item="{ item }">
      <tr class="table__row cursor-pointer">
        <td class="table__cell color-gray text-center">
          <span>
            {{ item ? item.code : '--' }}
          </span>
          <!-- <span v-else>
            {{ item ? item.name.en : '--' }}
          </span> -->
        </td>
        <td class="table__cell text-center">
          <v-icon small class="mb-1">mdi-calendar-month</v-icon>
          <span class="color-gray">{{
            $moment(item.created_at).format('YYYY/MM/DD') || ''
          }}</span>
        </td>
        <td class="table__cell color-gray text-center">
          <span> {{ $t(`${item.step}`) }}</span>
        </td>
        <td class="table__cell color-gray text-center">
          <span>{{ $t(`${item.applicant_type}`) }}</span>
        </td>
        <td class="table__cell color-gray text-center">
          <span class="color-primary">{{ $t(`${item.status}`) }}</span>
        </td>

        <td class="table__cell text-center">
          <v-btn
            class="text-capitalize bg-lighter radius-4 px-5"
            color="gray"
            icon
            small
            :to="localePath(`/profile/orders/${item.code}`)"
            ><v-icon color="gray" small>mdi-menu</v-icon></v-btn
          >
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    orders: {
      type: Array,
      default: () => [],
    },
    direction: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      headers: [
        {
          text: this.$t('code'),
          sortable: false,
          align: 'center',
        },
        {
          text: this.$t('order_date'),
          sortable: false,
          align: 'center',
        },
        {
          text: this.$t('step'),
          sortable: false,
          align: 'center',
        },
        {
          text: this.$t('applicant_type_table'),
          sortable: false,
          align: 'center',
        },
        {
          text: this.$t('status'),
          sortable: false,
          align: 'center',
        },
        {
          text: '',
          sortable: false,
          align: 'center',
        },
      ],
    }
  },
}
</script>
