<template>
  <section>
    <LazyHomeTitle
      :title="`guide.suggested_services_title`"
      :body="`guide.global_body`"
    />

    <v-container>
      <v-row>
        <v-col
          cols="12"
          lg="6"
          v-for="(service, index) in services"
          :key="index"
        >
          <LazyCardsSuggestedService :item="service" />
        </v-col>
        <v-col cols="12" class="mt-5">
          <section class="text-center">
            <LazyViewMore :to="localePath('/suggested-service')" />
          </section>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>


<script>
export default {
  name: 'SuggestedServicesHome',
  data() {
    return {
      services: [],
    }
  },
  fetch() {
    this.getServices()
  },
  methods: {
    async getServices() {
      const res = await this.$http.post({ resource: 'suggestedServices' })
      const { data } = res.data
      this.services = data
    },
  },
}
</script>
