<template>
  <main class="discover-items">
    <LazyPageTitle>
      {{ $t('heading.discover_items') }}
    </LazyPageTitle>
    <v-col cols="12" lg="6" class="mx-auto">
      <div class="events__filter-container">
        <v-row>
          <v-col cols="12" lg="4" class="align-self-center">
            <LazyFiltersSelect
              ref="filter_ref"
              :query="query"
              fieldName="country_id"
              label="country"
              resource="countries"
            />
          </v-col>
          <v-col cols="12" lg="4" class="align-self-center">
            <LazyFiltersSelect
              ref="filter_ref"
              :query="query"
              fieldName="city_id"
              label="city_id"
              resource="cities/0"
            />
          </v-col>
          <v-col cols="12" lg="4" class="align-self-center">
            <v-btn
              @click="handleFilter"
              height="50"
              block
              large
              class="primary mt-6"
              style="border-radius: 10px"
            >
              {{ $t('button.search_now') }}
            </v-btn>
          </v-col>
        </v-row>
      </div>
    </v-col>
    <v-container class="mt-16">
      <v-row>
        <v-col
          cols="12"
          lg="10"
          class="mx-auto"
          v-for="(category, index) in discoverCategories"
          :key="index"
        >
          <swiper class="swiper" :options="swiperOption">
            <swiper-slide
              v-for="(image, index) in category.images"
              :key="index"
            >
              <img width="100%" height="100%" :src="image.image" alt="photo" />
            </swiper-slide>

            <div slot="button-prev" class="swiper-button-prev">
              <img
                :src="require(`@/assets/images/${prevImgDir}-arrow.svg`)"
                alt="photo"
              />
            </div>
            <div slot="button-next" class="swiper-button-next">
              <img
                :src="require(`@/assets/images/${nextImgDir}-arrow.svg`)"
                alt="photo"
              />
            </div>
          </swiper>
        </v-col>
        <v-col cols="12">
          <LazyPagination :meta="meta" />
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'DiscoverItems',
  watchQuery: true,
  async asyncData({ $http, query }) {
    const res = await $http.post({ resource: 'discoverItems', data: query })
    const { data, meta } = res.data
    console.log(data)
    return {
      discoverCategories: data,
      meta,
    }
  },
  data() {
    return {
      query: {},
      swiperOption: {
        // loop: true,
        // speed: 1000,
        // autoplay: {
        //   delay: 3000,
        // },
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: false,
        slidesPerView: 'auto',
        coverflowEffect: {
          rotate: 0,
          stretch: 80,
          depth: 200,
          modifier: 1,
          slideShadows: true,
        },
        // breakpoints: {
        //   1440: {
        //     slidesPerView: 3,
        //     spaceBetween: 30,
        //   },
        //   1280: {
        //     slidesPerView: 3,
        //     spaceBetween: 30,
        //   },
        //   991: {
        //     slidesPerView: 3,
        //     spaceBetween: 30,
        //   },
        //   768: {
        //     slidesPerView: 3,
        //     spaceBetween: 30,
        //   },
        //   640: {
        //     slidesPerView: 2,
        //     spaceBetween: 30,
        //   },
        //   320: {
        //     slidesPerView: 1,
        //     spaceBetween: 30,
        //   },
        // },
        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
    }
  },
  methods: {
    handleFilter() {
      this.$refs.filter_ref.handleFilter()
    },
  },
  computed: {
    nextImgDir() {
      if (this.$i18n.locale === 'ar') {
        return 'left'
      } else {
        return 'right'
      }
    },
    prevImgDir() {
      if (this.$i18n.locale === 'ar') {
        return 'right'
      } else {
        return 'left'
      }
    },
    direction() {
      if (this.$i18n.locale === 'ar') {
        return 'rtl'
      } else {
        return 'ltr'
      }
    },
  },
}
</script>

