<template>
  <section class="filter-area">
    <v-text-field
      outlined
      dense
      :loading="loading"
      :disabled="loading"
      :append-icon="filter.code ? 'mdi-close' : ''"
      @click:append="clearSearchData()"
      v-model="filter.code"
      :placeholder="$t('code')"
      prepend-inner-icon="mdi-magnify"
      v-on:keyup.enter="filterParents"
      :hide-details="!!hint || hideDetails"
    ></v-text-field>
  </section>
</template>

<script>
export default {
  props: {
    pagination: {
      type: Object,
      default: () => {},
    },
    hint: {
      type: String,
      default: '',
    },
    hideDetails: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      filter: {
        code: '',
      },
    }
  },
  methods: {
    filterParents() {
      const query = {}
      let routeQuery = { ...this.$route.query }
      Object.keys(this.filter).forEach((key) => {
        if (this.filter[key]) {
          query[key] = this.filter[key]
        }
      })
      if (routeQuery.page > 1) {
        routeQuery.page = 1
      }

      this.$router.push({ query: { ...routeQuery, ...query } })
    },
    clearSearchData() {
      let routeQuery = { ...this.$route.query }
      this.filter.code = ''
      delete routeQuery.code
      this.$router.push({ query: routeQuery })
    },
  },
  watch: {
    $route: {
      immediate: true,
      handler({ query }) {
        this.filter.code = query.code
      },
    },
  },
}
</script>
