<template>
  <section>
    <input
      type="file"
      ref="file"
      @change="onFileChange"
      multiple
      v-on="$attrs"
      style="display: none"
    />

    <v-row>
      <v-col lg="2" md="2" sm="3" cols="12">
        <v-card
          class="pt-5 pb-4 text-center image-preview-button"
          @click="openFileUpload"
          v-on="$attrs"
          width="100%"
          height="75px"
        >
          Upload
        </v-card>
      </v-col>
      <!-- {{ fileNaming }} -->

      <v-col
        cols="12"
        lg="1"
        md="2"
        sm="3"
        v-for="(showImg, index) in ShowImgs"
        :key="index"
        class="img_pointer px-2 p-relative"
      >
        <v-card class="image-preview text-center bordered" width="100%">
          <!-- v-if="$ref.file.type == ''" -->
          <v-avatar
            v-if="showImg.substring(0, 20) == 'data:application/pdf'"
            height="75px"
            width="100%"
            class="radius-4"
          >
            <v-icon class="grey lighten-3" color="red" large>
              mdi-file-pdf
            </v-icon>
          </v-avatar>
          <v-avatar
            v-else-if="
              showImg.substring(0, 64) ==
              'data:application/vnd.openxmlformats-officedocument.spreadsheetml'
            "
            height="75px"
            width="100%"
            class="radius-4"
          >
            <v-icon class="grey lighten-3" color="primary" large>
              mdi-file-excel
            </v-icon>
          </v-avatar>
          <v-avatar
            v-else-if="showImg.substring(0, 15) == 'data:text/plain'"
            height="75px"
            width="100%"
            class="radius-4"
          >
            <v-icon class="grey lighten-3" color="gray" large>
              mdi-text-box
            </v-icon>
          </v-avatar>
          <v-avatar
            v-else-if="
              showImg.substring(0, 55) ==
              'data:application/vnd.openxmlformats-officedocument.word'
            "
            height="75px"
            width="100%"
            class="radius-4"
          >
            <v-icon class="grey lighten-3" color="blue" large>
              mdi-file-word
            </v-icon>
          </v-avatar>
          <img
            v-else
            :src="showImg"
            height="75px"
            alt
            class="ml-2 show-photo"
          />
          <!-- <span v-else>sdfsdfsdf</span> -->
          <!-- <span v-if="fileNaming != null">{{ fileNaming.name ||  }}</span> -->
          <v-icon
            class="delete-image"
            @click="deleteIamge($event, index, ShowImgs, showImg)"
            :title="$t('label.delete')"
          >
            mdi-delete
          </v-icon>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="errorDialog" max-width="300">
      <v-card>
        <v-card-text class="subheading">{{ ImageErrorMsg }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="errorDialog = false" text>Got it!</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import { isValidImgType, isValidImgSize } from '@/utils/validate'
// import { deleteMedia } from "@/api/media.js";
// import { UpdateMedia } from "@/helpers/apiMethods";

export default {
  props: {
    imgsUrl: {
      type: Array,
      default: () => [],
    },
    width: {
      type: Number,
      default: null,
    },
    height: {
      type: Number,
      default: null,
    },
    maxHeight: {
      type: Number,
      default: 200,
    },
    minHeight: {
      type: Number,
      default: 200,
    },
    reset: {
      type: Boolean,
      default: false,
    },
    fieldName: {
      type: String,
      default: '',
    },
    maxSize: {
      type: Number,
      default: 1,
    },
    value: {
      type: String,
    },
  },

  watch: {
    reset: {
      handler(newValue) {
        if (newValue) {
          this.resetImageFile()
        }
      },
      immediate: true,
    },
    imgsUrl: {
      handler(value) {
        const imgsPaths = value.map((el) => el.path)
        this.ShowImgs = [...imgsPaths, ...this.ShowImgsCopy]
      },
      immediate: true,
    },
  },
  data() {
    return {
      ShowImgs: [],
      ShowImgsCopy: [],
      imgsFiles: [],
      errorDialog: null,
      errorText: '',
      errorType: '',
      editCase: false,
      photoIndex: '',
      isSingle: false,
      fileNaming: null,
    }
  },
  methods: {
    openFileUpload() {
      this.isSingle = false
      this.editCase = false
      this.$nextTick(() => this.$refs.file.click())
    },
    handleUpdatePhoto(index) {
      this.photoIndex = index
      this.editCase = true
      this.isSingle = true
      this.$nextTick(() => this.$refs.file.click())
    },

    deleteIamge($event, index, imgs, showImg) {
      this.change = false

      let key = this.imgsFiles[this.imgsFiles.length]

      const { id } = this.imgsUrl[index] ? this.imgsUrl[index] : {}
      if (id !== undefined) {
        this.popUp().then((value) => {
          if (!value.dismiss) {
            // deleteMedia(id)
            //   .then(() => {
            //     // this.ShowImgs.splice(index, 1);
            //     this.ShowImgsCopy.splice(index, 1);
            //     this.ShowImgsCopy = this.ShowImgsCopy.filter(
            //       el => el !== showImg
            //     );
            //     // this.imgsFiles.splice(key, 1);.
            //     this.$emit("handle_delete_image", index);
            //   })
            //   .catch(err => console.log(err));
          }
        })
      } else {
        imgs.splice(index, 1)
        this.imgsFiles.splice(key, 1)
        this.ShowImgsCopy = this.ShowImgsCopy.filter((el) => el !== showImg)

        this.$refs.file.value = ''
      }
    },
    // updatephoto(imgFile) {
    //   let formData = new FormData();
    //   formData.append("file", imgFile);
    //   formData.append("_method", "PUT");
    //   formData.append("locale", "en");
    //   if (this.photoIndex) {
    //     const { id } = this.imgsUrl[this.photoIndex];
    //     UpdateMedia({ id, data: formData })
    //       .then(res => {
    //         const { media } = res.data;

    //         this.$set(this.ShowImgs, this.photoIndex, media.path);
    //         this.editCase = false;
    //         this.isSingle = false;
    //         this.imgsFiles = [];
    //       })
    //       .catch(err => console.log(err));
    //   }
    // },

    onFileChange(e) {
      let imgFiles = e.target.files
      // console.log(imgFiles)
      this.fileNaming = imgFiles
      for (let i = 0; i < imgFiles.length; i++) {
        const fileReader = new FileReader() // important

        // if (this.validateType(imgFiles[i])) {
        if (this.validateSize(imgFiles[i])) {
          this.imgsFiles.push(imgFiles[i])

          fileReader.addEventListener('load', () => {
            if (!this.editCase) {
              this.ShowImgs.push(fileReader.result)
              this.ShowImgsCopy.push(fileReader.result)
            }
          })
        }
        // }
        fileReader.readAsDataURL(imgFiles[i])
      }

      this.readImage(this.imgsFiles)
    },
    readImage(imgsFiles) {
      this.$emit('fileSelected', imgsFiles)
      if (this.editCase) {
        this.updatephoto(imgsFiles[0])
      }
    },
    validateSize(file) {
      if (isValidImgSize(file.size, this.maxSize)) {
        return true
      } else {
        this.errorType = 'SIZE'
        this.errorDialog = true
        return false
      }
    },
    validateDimentions(file) {
      return new Promise((resolve, reject) => {
        let image = new Image()
        image.src = URL.createObjectURL(file)
        image.addEventListener(
          'load',
          () => {
            let width = image.naturalWidth
            let height = image.naturalHeight
            if (width !== this.width && height !== this.height) {
              reject(false)
            } else {
              resolve(true)
            }
          },
          false
        )
      })
    },
    validateType(file) {
      if (isValidImgType(file)) {
        return true
      } else {
        this.errorType = 'MIME'
        this.errorDialog = true

        return false
      }
    },
    resetImageFile() {
      // this.imgsUrl = null;
      this.imgsFiles = []
      this.ShowImgsCopy = []
      this.$refs.file.value = ''
    },
  },
  computed: {
    ImageErrorMsg() {
      if (this.errorType === 'SIZE') {
        return this.$t('validation.imageSize', { count: this.maxSize })
      } else {
        return ''
      }
    },
  },
}
</script>

<style scoped lang="scss">
.upload_file_section {
  border: 1px solid #ccc;
  padding: 20px !important;
  cursor: pointer;
  /* width: 86px; */
  height: 100px;
  width: a;
  border-radius: 4px;
  background-color: #fafbfb;
}
.upload_file_section:hover .upload_icon {
  animation: move infinite 0.8s ease-in-out;
  color: rgb(38, 163, 235);
  /* transition: all 0.5s ease-in-out; */
}
.upload_icon {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
}
.show-photo {
  border-radius: 3px;
  position: relative;
}
.edit-icon {
  position: absolute;
  top: 12px;
  right: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px #444;
  transition: all 0.5s ease;
  &:hover {
    color: brown;
  }
}
.file-upload {
  .image__placeholder {
    border: 1px solid #ccc;
    border-right: 0;

    height: 56px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(193, 193, 193, 0.5);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: transparent;
    overflow: hidden;
  }
}
@keyframes move {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}
</style>
