<template>
  <div>
    <v-label>
      <span class="gray--text"> {{ $t(`fields.${$attrs.label}`) }}</span>
    </v-label>
    <v-select
      rounded
      filled
      flat
      v-bind="$attrs"
      v-on="$listeners"
      hide-details
      label=""
      :loading="loading"
      :items="items"
      item-text="title"
      item-value="id"
      v-model="query[fieldName]"
      clearable
      @click:clear="handleClearFilter(fieldName)"
    ></v-select>
  </div>
</template>

<script>
export default {
  name: 'SelectFilter',
  props: {
    query: {
      type: Object,
      default: () => {},
    },
    fieldName: {
      type: String,
      default: '',
    },
    resource: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    loading: true,
    items: [],
  }),
  methods: {
    handleClearFilter(filterName) {
      const query = { ...this.$route.query }
      delete query[filterName]
      this.$router.push({ query })
    },
    handleFilter() {
      if (this.query[this.fieldName] !== '')
        this.$router.push({ query: { ...this.$route.query, ...this.query } })
      return Promise.resolve(true)
    },
    getItems() {
      this.$http
        .get({ resource: this.resource })
        .then((res) => {
          const { data } = res.data
          this.items = data
        })
        .finally(() => (this.loading = false))
    },
  },
  watch: {
    $route: {
      handler({ query }) {
        this.getItems()
        if (query[this.fieldName]) {
          this.query[this.fieldName] = Number(query[this.fieldName])
        }
      },
      immediate: true,
    },
  },
}
</script>

