<template>
  <form-wrapper :validator="$v.form">
    <v-form @submit.prevent="handleForgetPassword">
      <v-col cols="12">
        <h2 class="text-center">{{ $t('heading.forget_password') }}</h2>
        <p class="text-center">
          {{ $t('heading.please_add_register_phone_number') }}
        </p>
      </v-col>
      <v-col cols="12" class="py-0">
        <form-group name="mobile" attribute="fields.mobile">
          <template slot-scope="{ attrs, listeners }">
            <LazyPhone v-bind="attrs" v-on="listeners" :form="form" />
          </template>
        </form-group>
      </v-col>

      <v-col cols="12">
        <v-btn
          type="submit"
          :disabled="$v.form.$invalid"
          :loading="loading"
          large
          block
          class="primary"
          >{{ $t('button.send') }}</v-btn
        >
      </v-col>
    </v-form>
  </form-wrapper>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'ForgetPassword',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data: () => ({
    loading: false,
  }),
  methods: {
    handleForgetPassword() {
      this.loading = true
      this.$http
        .post({ resource: 'forget_password', data: this.form })
        .then(() => {
          this.$emit('on-switch', 'Otp')
        })
        .finally(() => {
          this.loading = false
        })
    },
  },

  validations: {
    form: {
      mobile: {
        required,
      },
      country_code_id: {
        required,
      },
    },
  },
}
</script>

