<template>
  <main class="services">
    <LazyPageTitle>
      {{ $t('heading.my_services') }}
    </LazyPageTitle>
    <section class="services-area">
      <v-container>
        <v-row>
          <v-col cols="12" lg="6">
            <v-tabs
              center-active
              centered
              hide-slider
              active-class="active-service"
              v-model="tab"
              align-with-title
              class="mt-3"
              @change="handleChange"
            >
              <v-tabs-slider color="transparent"></v-tabs-slider>

              <v-tab v-for="item in items" :key="item">
                <small>{{ $t(`fields.${item}`) }}</small>
              </v-tab>
            </v-tabs>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            v-for="(service, index) in services"
            :key="index"
            lg="3"
            md="4"
            sm="6"
            cols="12"
          >
            <LazyCardsService :service="service" @on-delete="onDelete(index)" />
          </v-col>
        </v-row>
        <v-fab-transition>
          <v-btn
            :to="localePath('/services/add')"
            style="z-index: 99999"
            fixed
            color="secondary"
            fab
            dark
            bottom
            small
          >
            <v-icon color="white" large>mdi-plus</v-icon>
          </v-btn>
        </v-fab-transition>
        <LazyPagination :meta="meta" />
      </v-container>
    </section>
  </main>
</template>

<script>
export default {
  name: 'Services',
  // middleware: 'isClient',
  watchQuery: true,
  async asyncData({ $http, query }) {
    let service_type = { type: query.type ? query.type : 'activity' }
    const res = await $http.get({
      resource: `front/services`,
      query: { ...query, ...service_type },
    })
    const { data, meta } = res.data
    return {
      services: data,
      meta,
    }
  },
  data() {
    return {
      tab: 0,
    }
  },
  computed: {
    items() {
      return ['activity', 'route']
    },
  },
  methods: {
    onDelete(index) {
      this.$delete(this.services, index)
    },
    handleChange() {
      const type = this.items[this.tab]
      this.$router.push(this.localePath({ query: { type } }))
    },
    handleCurrentTap(type) {
      this.tab = this.items.indexOf(type)
    },
  },
  watch: {
    $route: {
      handler({ query }) {
        if (query.type) {
          this.handleCurrentTap(query.type)
        }
      },
      immediate: true,
    },
  },
}
</script>

