<template>
  <div>
    <v-label for="phone">
      <b class="gray--text">{{ $t('fields.mobile') }}</b>
    </v-label>
    <v-text-field
      v-bind="$attrs"
      v-on="$listeners"
      rounded
      filled
      flat
      type="number"
      v-model="form.mobile"
      id="phone"
    >
      <template v-slot:append>
        <v-divider vertical class="mx-1" />
        <v-fade-transition width="50px" leave-absolute>
          <v-select
            :loading="loading"
            hide-details
            class="pa-0 ma-0"
            style="direction: ltr; width: 150px"
            append-icon="mdi-chevron-down"
            rounded
            dense
            v-model="form.country_code_id"
            :items="countries"
            item-text="country_code"
            item-value="id"
            @click.stop
            :placeholder="$t('fields.country_code')"
          >
            <template v-slot:item="{ item }">
              <div class="d-flex justify-center align-center">
                <img
                  style="border-radius: 5px"
                  class="mx-1"
                  width="32"
                  :src="item.image"
                  alt="photo"
                />
                <span>
                  {{ item.country_code }}
                </span>
              </div>
            </template>

            <template v-slot:selection="{ item }">
              <div class="d-flex justify-center align-center">
                <img
                  style="border-radius: 5px"
                  class="mx-1"
                  width="32"
                  :src="item.image"
                  alt="photo"
                />
                <span>
                  {{ item.country_code }}
                </span>
              </div>
            </template>
          </v-select>
        </v-fade-transition>
      </template>
    </v-text-field>
  </div>
</template>

<script>
export default {
  name: 'PhoneComponent',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      countries: [],
      loading: true,
    }
  },
  mounted() {
    this.getCountries()
  },
  methods: {
    getCountries() {
      this.$http
        .get({ resource: 'countriesCode' })
        .then((res) => {
          const { data } = res.data
          this.countries = data
        })
        .finally(() => (this.loading = false))
    },
  },
}
</script>

