<template>
  <main class="my-profile__features pa-10">
    <v-row>
      <v-col cols="12">
        <h2>{{ $t('advantages') }}</h2>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        lg="3"
        v-for="(feature, index) in $auth.user.guide_features"
        :key="index"
      >
        <div class="d-flex align-center" v-if="feature.title !== 0">
          <img width="20" height="20" :src="feature.image" alt="photo" />
          <span class="px-2 font-weight-bold gray--text text-capitalize">
            <template v-if="feature.title === 1">
              {{ $t('driver_fast') }}
            </template>
            <template v-else>
              {{ feature.title }}
            </template>
          </span>
        </div>
      </v-col>
    </v-row>
  </main>
</template>

<script>
export default {
  name: 'Features',
}
</script>

