<template>
  <main>
    <div class="my-profile__personal-info">
      <v-card flat class="pa-5">
        <v-card-title class="justify-center">
          <v-avatar size="100">
            <v-img alt="photo" :src="$auth.user.image" />
          </v-avatar>
        </v-card-title>
        <v-card-subtitle class="text-center pt-3 text-capitalize">
          <h2 class="gray--text">{{ $auth.user.name }}</h2>
          <h4 class="light-gray--text">{{ $auth.user.account_type }}</h4>
          <div
            class="mt-3 d-flex justify-center align-center"
            v-if="$auth.user.admin_approve === 'true'"
          >
            <img
              :src="require('@/assets/images/certified.svg')"
              alt="certified"
            />
            <span class="success--text font-weight-bold">{{
              $t('heading.certified')
            }}</span>
          </div>
        </v-card-subtitle>
        <v-card-text v-if="$auth.user && $auth.user.type === 'guide'">
          <ul class="my-profile__personal-info__rate-list">
            <li v-for="(rate, index) in rates" :key="index">
              <span class="px-1">{{ $auth.user[rate] }}</span>
              <img :src="require(`@/assets/images/${rate}.svg`)" alt="photo" />
            </li>
          </ul>
          <ul class="mt-10 my-profile__personal-info__details">
            <li>
              <v-icon color="gray">mdi-credit-card</v-icon>
              <span>
                {{ $t('id_number') }}
              </span>
              <span>{{ $auth.user.id_number }} </span>
            </li>
            <li>
              <v-icon color="gray">mdi-credit-card</v-icon>
              <span>
                {{ $t('rank') }}
              </span>
              <span>{{ $auth.user.verified }} </span>
            </li>
            <li>
              <v-icon color="gray">mdi-account</v-icon>
              <span>
                {{ $t('account_type') }}
              </span>
              <span>{{ $auth.user.account_type }} </span>
            </li>
            <li>
              <v-icon color="gray">mdi-certificate</v-icon>

              <a
                class="secondary--text"
                target="_blank"
                :href="$auth.user.certification_image"
                >{{ $t('view_tourism_certfication') }}
              </a>
            </li>
          </ul>
        </v-card-text>
      </v-card>
    </div>
    <template v-if="$auth.user && $auth.user.type === 'guide'">
      <v-col cols="12">
        <h3 class="mt-5">
          {{ $t('fields.experience') }}
        </h3>
      </v-col>
      <v-col cols="12">
        <a
          target="_blank"
          :href="$auth.user.experience"
          class="my-profile__personal-info__pdf-button"
        >
          <v-icon color="primary">mdi-download</v-icon>
          <span class="px-1 gray--text">file.pdf</span>
          <v-icon color="error">mdi-file-pdf-box</v-icon>
        </a>
      </v-col>
    </template>
  </main>
</template>

<script>
export default {
  name: 'PersonalInfo',
  data() {
    return {
      rates: [
        'very_satisfied_rate',
        'satisfied_rate',
        'acceptable_rate',
        'good_rate',
        'bad_rate',
      ],
    }
  },
}
</script>

