<template>
  <main class="my-profile__reviews pa-10">
    <v-row>
      <v-col cols="12">
        <h2>{{ $t('reviews') }}</h2>
      </v-col>
      <v-col cols="12">
        <v-data-table
          style="background-color: transparent"
          :items="items"
          hide-default-footer
          hide-default-header
          :items-per-page="500000000"
          :mobile-breakpoint="0"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td class="py-5">
                <v-avatar size="40">
                  <img
                    alt="Avatar"
                    src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"
                  />
                </v-avatar>
                <span class="px-1 font-weight-bold gray--text">{{
                  item.name
                }}</span>
              </td>
              <td>
                {{ item.date }}
              </td>
              <td>
                <div class="d-flex align-center justify-center">
                  <img
                    :src="require(`@/assets/images/very_satisfied_rate.svg`)"
                    alt="photo"
                  />
                  <span class="font-weight-bold gray--text px-2">
                    راضي جدا
                  </span>
                </div>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </main>
</template>

<script>
export default {
  name: 'Reviews',
  data() {
    return {
      items: [
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
        { image: '', date: '16/10/2022', rate: 1, name: 'شريف كامل' },
      ],
    }
  },
}
</script>

