<template>
  <div>
    <v-label :for="fieldName">
      <b class="gray--text">{{ $t(`fields.${fieldName}`) }}</b>
    </v-label>
    <v-row>
      <v-col
        class="py-0"
        cols="12"
        lg="6"
        v-for="(item, index) in items"
        :key="index"
      >
        <v-checkbox
          :id="fieldName"
          color="secondary"
          v-model="form[fieldName]"
          :value="item.id"
        >
          <template v-slot:label>
            <span class="light-gray--text"> {{ item.title }}</span>
          </template>
        </v-checkbox>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'CheckBox',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
    fieldName: {
      type: String,
      default: '',
    },
    reqName: {
      type: String,
      default: 'attachments',
    },
    items: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

