<template>
  <div>
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-right="40"
      transition="scale-transition"
      offset-y
      min-width="auto"
      absolute
      z-index="9090"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="form[fieldName][index][subFieldName]"
          prepend-icon=""
          readonly
          rounded
          filled
          v-bind="[attrs, $attrs]"
          v-on="{ ...on, ...$listeners }"
          append-icon="mdi-calendar"
        ></v-text-field>
      </template>
      <v-date-picker
        v-model="form[fieldName][index][subFieldName]"
        @input="menu = false"
      ></v-date-picker>
    </v-menu>
  </div>
</template>
<script>
export default {
  name: 'CustomDatePicker',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
    fieldName: {
      type: String,
      default: '',
    },
    subFieldName: {
      type: String,
      default: '',
    },
    index: {
      type: Number,
      default: 0,
    },
  },
  data: () => ({
    menu: false,
  }),
}
</script>