<template>
  <v-sheet
    class="borderless"
    :color="`grey ${theme.isDark ? 'darken-2' : 'lighten-4'}`"
  >
    <v-skeleton-loader
      v-bind="attrs"
      class="mx-auto"
      :type="type"
    ></v-skeleton-loader>
  </v-sheet>
</template>

<script>
export default {
  name: 'Shimmer',
  data() {
    return {
      attrs: {
        class: 'mb-6',
        boilerplate: true,
      },
    }
  },
  props: {
    type: {
      type: String,
      default: '',
    },
  },
  inject: {
    theme: {
      default: { isDark: false },
    },
  },
}
</script>
