<template>
  <main class="services">
    <LazyPageTitle>
      <template v-if="$route.query.type || $route.query.category_name">
        {{ $t($route.query.type) }} > {{ $route.query.category_name }}
      </template>
      <template v-else>
        {{ $t('services') }}
      </template>
    </LazyPageTitle>
    <LazyServicesFilter :services="services" />
    <section class="services-area">
      <v-container>
        <template v-if="services && services.length > 0">
          <v-row>
            <v-col
              v-for="(service, index) in services"
              :key="index"
              lg="3"
              md="4"
              sm="6"
              cols="12"
            >
              <LazyCardsSpecialOffer :offer="service" />
            </v-col>
          </v-row>

          <LazyPagination :meta="meta" />
        </template>
        <template v-else>
          <LazyEmptyState />
        </template>
      </v-container>
    </section>
  </main>
</template>

<script>
export default {
  name: 'Services',
  // middleware: 'isClient',
  watchQuery: true,
  async asyncData({ $http, query }) {
    try {
      let service_type = { type: query.type ? query.type : 'activity' }
      const res = await $http.get({
        resource: `front/services`,
        query: { ...query, ...service_type },
      })
      const { data, meta } = res.data
      return {
        services: data,
        meta,
      }
    } catch (error) {
      return {
        services: [],
      }
    }
  },

  computed: {
    items() {
      return ['activity', 'route']
    },
  },
  methods: {
    handleChange() {
      const type = this.items[this.tab]
      this.$router.push(this.localePath({ query: { type } }))
    },
  },
}
</script>

