<template>
  <form-wrapper :validator="$v.form">
    <v-row>
      <v-col cols="12" lg="8" class="mx-auto mb-10">
        <v-row>
          <v-col cols="12" class="my-10">
            <LazyErrorAlert />
          </v-col>
          <v-col cols="12" lg="6" class="py-0">
            <v-row>
              <v-col cols="12" class="py-0">
                <v-label for="service_type">
                  <b class="gray--text">{{ $t('fields.service_type') }}</b>
                </v-label>
                <v-radio-group
                  id="service_type"
                  @change="form.service_category_id = ''"
                  v-model="form.type"
                  row
                >
                  <v-radio
                    color="secondary"
                    :label="$t('fields.activity')"
                    value="activity"
                  ></v-radio>
                  <v-radio
                    color="secondary"
                    :label="$t('fields.route')"
                    value="route"
                  ></v-radio>
                </v-radio-group>
              </v-col>
              <v-col cols="12">
                <form-group
                  name="service_category_id"
                  attribute="fields.service_category_id"
                >
                  <template slot-scope="{ attrs, listeners }">
                    <LazyServicesCategory
                      :serviceType="form.type"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <form-group name="title" attribute="fields.service_name">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="title">
                      <b class="gray--text">{{ $t('fields.service_name') }}</b>
                    </v-label>
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      id="title"
                      v-model="form.title"
                      filled
                      rounded
                      flat
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <form-group name="city_id" attribute="fields.city_id">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyCity
                      :serviceType="form.city_id"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <form-group name="address" attribute="fields.address">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="service_type">
                      <b class="gray--text">{{ $t('fields.address') }}</b>
                    </v-label>
                    <v-text-field
                      v-model="form.address"
                      v-bind="attrs"
                      v-on="listeners"
                      filled
                      rounded
                      flat
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12" v-if="form.type === 'route'">
                <form-group name="duration" attribute="fields.duration">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="duration">
                      <b class="gray--text">{{ $t('fields.duration') }}</b>
                    </v-label>
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      id="duration"
                      v-model="form.duration"
                      filled
                      rounded
                      type="number"
                      flat
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12" v-if="form.type === 'route'">
                <form-group name="children" attribute="fields.children">
                  <template slot-scope="{ attrs, listeners }">
                    <CustomCheckbox
                      :items="[
                        { title: $t('fields.free_children'), id: 'free' },
                      ]"
                      false-value="free"
                      true-value="paid"
                      v-bind="attrs"
                      v-on="listeners"
                      fieldName="children"
                      :form="form"
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12" v-if="form.type === 'activity'">
                <form-group name="time_end" attribute="fields.time_end">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyTimePicker
                      :min="form['time_start']"
                      :serviceType="form.time_end"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                      fieldName="time_end"
                    >
                      <template #title>
                        {{ $t('fields.time_end') }}
                      </template>
                    </LazyTimePicker>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <form-group name="feature" attribute="fields.features">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="feature">
                      <b class="gray--text">{{ $t('fields.features') }}</b>
                    </v-label>
                    <v-textarea
                      :placeholder="$t('fields.add_features')"
                      v-bind="attrs"
                      v-on="listeners"
                      id="feature"
                      v-model="form.feature"
                      filled
                      rounded
                      no-resize
                      rows="6"
                      flat
                    >
                    </v-textarea>
                  </template>
                </form-group>
              </v-col>
              <template>
                <v-col cols="12">
                  <LazyCheckBox
                    :items="attachments"
                    :form="form"
                    fieldName="attachments"
                  />
                </v-col>
                <v-col cols="12">
                  <LazyCheckBox
                    :items="targetGroups"
                    fieldName="target_groups"
                    :form="form"
                  />
                </v-col>
              </template>

              <v-col cols="12" class="mt-5" v-if="form.type === 'route'">
                <v-row>
                  <v-col
                    cols="12"
                    v-for="(item, index) in form.regiments"
                    :key="index"
                  >
                    <v-row>
                      <v-col cols="12">
                        <v-label>
                          <b class="gray--text">
                            {{ $t(`fields.time_of_chor`) }}
                            <span>#{{ index + 1 }}</span>
                          </b>
                        </v-label>
                      </v-col>
                      <v-col cols="10">
                        <v-row>
                          <v-col cols="12" lg="6">
                            <LazyDatePicker
                              :form="form"
                              fieldName="regiments"
                              subFieldName="date_from"
                              :index="index"
                              :placeholder="$t('fields.from')"
                            />
                          </v-col>
                          <v-col cols="12" lg="6">
                            <LazyDatePicker
                              :placeholder="$t('fields.to')"
                              :index="index"
                              :form="form"
                              fieldName="regiments"
                              subFieldName="date_to"
                            />
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col
                        cols="2"
                        v-if="index > 0"
                        class="align-self-center"
                      >
                        <v-btn icon @click="handleDeleteRegiment(index, item)">
                          <v-icon color="error">mdi-delete</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" class="py-0 d-flex justify-end">
                    <a @click.prevent="addNewRegiments">
                      <v-icon>mdi-plus-box</v-icon>
                      <span class="light-gray--text">{{
                        $t('button.add_new_regiments')
                      }}</span>
                    </a>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>

          <!-- left side -->
          <v-col cols="12" lg="6" class="py-0">
            <v-row>
              <v-col cols="12">
                <form-group name="description" attribute="fields.description">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="description">
                      <b class="gray--text">{{ $t('fields.description') }}</b>
                    </v-label>
                    <v-textarea
                      :placeholder="$t('fields.add_description')"
                      v-bind="attrs"
                      v-on="listeners"
                      id="description"
                      v-model="form.description"
                      filled
                      rounded
                      no-resize
                      rows="5"
                      flat
                    >
                    </v-textarea>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <form-group name="country_id" attribute="fields.country">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyCountry
                      :serviceType="form.country_id"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <form-group name="area_id" attribute="fields.areas">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyAreas
                      :serviceType="form.area_id"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12" v-if="form.type === 'activity'">
                <form-group name="time_start" attribute="fields.time_start">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyTimePicker
                      :serviceType="form.time_start"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                      fieldName="time_start"
                      :max="form['time_end']"
                    >
                      <template #title>
                        {{ $t('fields.time_start') }}
                      </template>
                    </LazyTimePicker>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <form-group name="price" attribute="fields.price_for_person">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="price">
                      <b class="gray--text">
                        <template v-if="form.type == 'activity'">
                          {{ $t('fields.price_for_person') }}
                        </template>
                        <template v-else>
                          {{ $t('fields.track_price_for_person') }}
                        </template>
                      </b>
                    </v-label>

                    <v-text-field
                      type="number"
                      v-bind="attrs"
                      v-on="listeners"
                      id="price"
                      v-model="form.price"
                      filled
                      rounded
                      flat
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12" v-if="form.type === 'route'">
                <form-group name="children_age" attribute="fields.children_age">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="price">
                      <b class="gray--text">{{ $t('fields.children_age') }}</b>
                    </v-label>
                    <v-text-field
                      type="number"
                      v-bind="attrs"
                      v-on="listeners"
                      id="children_age"
                      v-model="form.children_age"
                      filled
                      rounded
                      flat
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12" v-if="form.type === 'route'">
                <form-group name="start_time" attribute="fields.start_time">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyTimePicker
                      :serviceType="form.start_time"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                      fieldName="start_time"
                    >
                      <template #title>
                        {{ $t('fields.start_time') }}
                      </template>
                    </LazyTimePicker>
                  </template>
                </form-group>
              </v-col>

              <v-col cols="12">
                <form-group name="main_image" attribute="fields.main_image">
                  <template slot-scope="{ attrs, listeners }">
                    <CustomFileUpload
                      accept="image/*"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                      fieldName="main_image"
                      append-icon="mdi-camera"
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col class="py-0 mb-0">
                    <v-label>
                      <b class="gray--text"
                        >{{ $t(`fields.sub_images`) }}
                        <!-- <sub class="error--text">*</sub> -->
                      </b>
                    </v-label>
                  </v-col>
                  <v-col
                    class="pt-0"
                    cols="12"
                    v-for="(image, index) in form.images"
                    :key="index"
                  >
                    <v-file-input
                      :key="index"
                      accept="image/*"
                      :clearable="false"
                      prepend-icon=""
                      truncate-length="15"
                      filled
                      rounded
                      flat
                      @change="onSelectImage($event, index)"
                    >
                      <template v-slot:append>
                        <v-icon v-if="index <= 0">mdi-camera</v-icon>
                        <v-icon
                          @click="handleDeleteImage(index, image)"
                          v-else
                          color="error"
                          >mdi-delete</v-icon
                        >
                      </template>
                      <template v-slot:append-outer>
                        <a
                          @click.stop
                          :href="image && image.image"
                          target="_blank"
                        >
                          <template
                            v-if="image && typeof image.image === 'string'"
                          >
                            <v-icon>mdi-file</v-icon>
                          </template>
                        </a>
                      </template>
                    </v-file-input>
                  </v-col>
                  <v-col cols="12" class="py-0 d-flex justify-end">
                    <a @click.prevent="addNewImage">
                      <v-icon>mdi-plus-box</v-icon>
                      <span class="light-gray--text">{{
                        $t('button.add_new_image')
                      }}</span>
                    </a>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <form-group name="persons" attribute="fields.allowed_persons">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="persons">
                      <b class="gray--text">{{
                        $t('fields.allowed_persons')
                      }}</b>
                    </v-label>

                    <v-text-field
                      type="number"
                      v-bind="attrs"
                      v-on="listeners"
                      id="persons"
                      v-model="form.persons"
                      filled
                      rounded
                      flat
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <LazyGoogleMap :location="form" />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-col cols="12" class="mt-10">
          <v-row>
            <v-col cols="12" lg="6">
              <v-btn
                :loading="loading"
                @click.prevent="handleSubmit"
                :disabled="$v.form.$invalid || form.images.length === 0"
                block
                class="primary"
                large
              >
                <template v-if="!isEdit">
                  {{ $t('button.add_service') }}
                </template>
                <template v-else>
                  {{ $t('button.edit_service') }}
                </template>
              </v-btn>
            </v-col>
            <v-col @click="addOffer" cols="12" lg="6">
              <v-btn block class="secondary" large>
                {{ $t('button.add_offer') }}
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-col>
    </v-row>
    <LazyServicesOffer ref="offer_ref" :form="form" :$v="$v" />
  </form-wrapper>
</template>

<script>
import { required, maxLength, requiredIf } from 'vuelidate/lib/validators'
export default {
  name: 'AddServiceForm',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
    defaultForm: {
      type: Object,
      default: () => {},
    },

    isEdit: {
      type: Boolean,
      default: false,
    },
  },
  fetch() {
    this.getCheckBooksItems()
  },
  data() {
    return {
      loading: false,
      images: [null],
      attachments: [],
      targetGroups: [],
    }
  },

  methods: {
    getCheckBooksItems() {
      const fields = ['attachments', 'targetGroups']
      for (const field of fields) {
        this.$http.get({ resource: field }).then((res) => {
          const { data } = res.data
          this[field] = data
        })
      }
    },
    addOffer() {
      this.$refs.offer_ref.toggleDialog()
      this.form.has_offer = true
    },
    addNewRegiments() {
      this.form.regiments.push({ date_from: '', date_to: '' })
    },
    onDeleteRegiment(index, item) {
      this.popUp().then((value) => {
        if (!value.dismiss) {
          this.$http
            .delete({ resource: 'deleteRegiment', param: item.id })
            .then(() => {
              this.$delete(this.form.regiments, index)
            })
        }
      })
    },
    handleDeleteRegiment(index, item) {
      if (item.id) {
        this.onDeleteRegiment(index, item)
      } else {
        this.$delete(this.form.regiments, index)
      }
    },
    resetFormTypeRoute() {
      if (!this.isEdit) {
        const fields = ['duration', 'start_time', 'children_age']
        for (const field of fields) {
          this.form[field] = ''
        }
        this.form.regiments = [{ date_form: '', date_to: '' }]
        this.$v.form.$reset()
      }
    },
    onSelectImage(file, index) {
      this.$set(this.form.images, index, file)
    },
    onDeleteImage(index, image) {
      this.popUp().then((value) => {
        if (!value.dismiss) {
          this.$http
            .delete({ resource: 'deleteServiceImage', param: image.id })
            .then(() => {
              this.$delete(this.form.images, index)
            })
        }
      })
    },
    handleDeleteImage(index, image) {
      if (image.id) {
        this.onDeleteImage(index, image)
      } else {
        this.$delete(this.form.images, index)
      }
    },
    addNewImage() {
      this.form.images.push(null)
    },
    generateData() {
      const formData = new FormData()
      const arrayFields = [
        'images',
        'regiments',
        'target_groups',
        'attachments',
      ]
      if (typeof this.form.main_image === 'string' || !this.form.main_image)
        delete this.form.main_image
      for (const key in this.defaultForm) {
        if (
          !arrayFields.includes(key) &&
          this.form[key] !== '' &&
          this.form[key] !== undefined
        ) {
          formData.append(key, this.form[key])
        }
      }

      this.form.attachments.length > 0 &&
        this.form.attachments.forEach((attachment, index) => {
          formData.append(`attachments[${index}]`, attachment)
        })

      this.form.target_groups.length > 0 &&
        this.form.target_groups.forEach((targetGroup, index) => {
          formData.append(`target_groups[${index}]`, targetGroup)
        })
      this.form.images.length > 0 &&
        this.form.images.forEach((image, index) => {
          if (image && !image.id) formData.append(`images[${index}]`, image)
        })
      this.form.type == 'route' &&
        this.form.regiments.length > 0 &&
        this.form.regiments.forEach((regiment, index) => {
          if (regiment.date_from !== '' && regiment.date_to !== '') {
            formData.append(
              `regiments[${index}][date_from]`,
              regiment.date_from
            )
            formData.append(`regiments[${index}][date_to]`, regiment.date_to)
          }
        })
      if (this.isEdit) {
        formData.append('service_id', this.form.id)
      }
      return formData
    },
    handleService(resource) {
      this.$http
        .post({ resource, data: this.generateData() })
        .then(() => {
          this.$router.push(this.localePath('/services'))
        })
        .catch((err) => {
          if (err) {
            window.scrollTo({ top: 0, behavior: 'smooth' })
          }
        })
        .finally(() => {
          this.loading = false
        })
    },
    handleSubmit() {
      this.loading = true
      if (!this.isEdit) {
        // in case create
        this.handleService('service')
      } else {
        // in update case
        this.handleService('update_service')
      }
    },
  },
  watch: {
    'form.type': {
      handler(value) {
        if (value === 'route') {
          this.resetFormTypeRoute()
        }
      },
      immediate: true,
    },
  },

  validations: {
    form: {
      type: {
        required,
      },
      service_category_id: {
        required,
      },
      title: {
        required,
      },
      address: {
        required,
        maxLength: maxLength(191),
      },
      country_id: {
        required,
      },
      city_id: {
        required,
      },
      area_id: {
        required,
      },
      time_start: {
        required: requiredIf(function () {
          if (this.form.type == 'activity') {
            return true
          } else {
            return false
          }
        }),
      },
      time_end: {
        required: requiredIf(function () {
          if (this.form.type == 'activity') {
            return true
          } else {
            return false
          }
        }),
      },

      feature: {
        required,
      },
      price: {
        required,
      },
      description: {
        required,
      },
      main_image: {
        required,
      },
      target_groups: {
        required,
      },
      attachments: {
        required,
      },
      persons: {
        required,
      },
      start_time: {
        required: requiredIf(function () {
          if (this.form.type == 'route') {
            return true
          } else {
            return false
          }
        }),
      },
      duration: {
        required: requiredIf(function () {
          if (this.form.type == 'route') {
            return true
          } else {
            return false
          }
        }),
      },
      children: {
        required: requiredIf(function () {
          if (this.form.type == 'route') {
            return true
          } else {
            return false
          }
        }),
      },
      children_age: {
        required: requiredIf(function () {
          if (this.form.type == 'route') {
            return true
          } else {
            return false
          }
        }),
      },
      regiments: {
        required: requiredIf(function () {
          if (this.form.type == 'route') {
            return true
          } else {
            return false
          }
        }),
      },
      offer_price: {
        required: requiredIf(function () {
          if (this.form.has_offer) {
            return true
          } else {
            return false
          }
        }),
      },
      offer_date_start: {
        required: requiredIf(function () {
          if (this.form.has_offer) {
            return true
          } else {
            return false
          }
        }),
      },
      offer_date_end: {
        required: requiredIf(function () {
          if (this.form.has_offer) {
            return true
          } else {
            return false
          }
        }),
      },
      offer_time_to: {
        required: requiredIf(function () {
          if (this.form.has_offer) {
            return true
          } else {
            return false
          }
        }),
      },
      images: {
        required,
      },
      offer_time_from: {
        required: requiredIf(function () {
          if (this.form.has_offer) {
            return true
          } else {
            return false
          }
        }),
      },
    },
  },
}
</script>

