<template>
  <main class="itineraries">
    <v-col cols="12">
      <h2 class="text-center">{{ $t('heading.itineraries') }}</h2>
    </v-col>
    <div class="itineraries__wrapper">
      <div
        class="itineraries__wrapper--item"
        v-for="(category, index) in categories"
        :data-index="index"
        :key="index"
        @click="handleRedirect(category)"
      >
        <div
          class="itineraries__wrapper--item__bg"
          :style="{ 'background-image': `url('${category.image}')` }"
        >
          <h2>{{ category.title }}</h2>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Itineraries',
  data() {
    return {
      categories: [],
    }
  },
  mounted() {
    this.setCategories('route').then((data) => {
      this.categories = data
    })
  },
  methods: {
    ...mapActions({
      setCategories: 'serviceCategories/setCategories',
    }),
    handleRedirect(category) {
      this.$router.push(
        this.localePath(
          `/services/category?category_id=${category.id}&type=route&category_name=${category.title}`
        )
      )
    },
  },
}
</script>

