<template>
  <footer class="footer pt-12">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <div class="footer__logo">
            <nuxt-link :to="localePath('/')" class="text-center">
              <img
                :src="require('@/assets/images/logo.svg')"
                height="40px"
                alt=""
              />
            </nuxt-link>
          </div>
          <p class="color-dark-white my-6">
            <small>
              هذا النص هو مثال لنص يمكن أن يستبدل في نفس المسـاحة لقد تم توليد
              هذا النص
            </small>
          </p>
        </v-col>
        <v-col cols="12" md="2">
          <section class="links">
            <h4 class="color-white links__head">
              <strong>{{ $t('important_links') }}</strong>
            </h4>
            <ul>
              <li
                v-for="(link, i) in important_links"
                :key="i"
                class="mt-2 links__icon"
              >
                <nuxt-link class="color-white" :to="link.to"
                  ><small>{{ link.title || '' }}</small></nuxt-link
                >
              </li>
            </ul>
          </section>
        </v-col>
        <v-col cols="12" md="4">
          <section class="links">
            <h4 class="color-white links__head">
              <strong>{{ $t('download_app') }}</strong>
            </h4>
            <p class="color-dark-white">
              <small>
                هذا النص هو مثال لنص يمكن أن يستبدل في نفس المسـاحة لقد تم توليد
                هذا النص
              </small>
            </p>
          </section>
        </v-col>
        <v-col cols="12" md="2">
          <section class="links">
            <h4 class="color-white links__head">
              <strong>{{ $t('contact_us') }}</strong>
            </h4>
          </section>
        </v-col>
      </v-row>
    </v-container>
    <section class="mt-10 text-center rights-reserved">
      <p class="mb-0">
        {{ $t('all_rights') }} &copy; {{ new Date().getFullYear() }}
      </p>
    </section>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Footer',
  data() {
    return {
      socials: [
        { icon: 'mdi-facebook', link: '' },
        { icon: 'mdi-twitter', link: '' },
        { icon: 'mdi-instagram', link: '' },
      ],
    }
  },
  computed: {
    ...mapGetters({
      settings: 'globalSettings/getSettings',
    }),
    important_links() {
      return [
        { title: this.$t('about_tamshia'), to: this.localePath('/about-us') },
        {
          title: this.$t('terms_and_conditions'),
          to: this.localePath('/terms-and-conditions'),
        },
        {
          title: this.$t('faqs'),
          to: this.localePath('/faqs'),
        },
      ]
    },
    contact_us() {
      return [
        { title: this.$t('address'), href: this.localePath('/photos') },
        {
          title: this.$t('email'),
          href: this.localePath('/news'),
        },
        {
          title: this.$t('phone'),
          href: this.localePath('/channels'),
        },
      ]
    },
    menu() {
      return [
        { title: this.$t('salaries'), to: this.localePath('/salaries') },
        {
          title: this.$t('source'),
          to: this.localePath('/source'),
        },
        {
          title: this.$t('searching_for_jobs'),
          to: this.localePath('/terms-conditions'),
        },
      ]
    },
    fast_links() {
      return [
        { title: this.$t('services'), to: this.localePath('/services') },
        {
          title: this.$t('faq'),
          to: this.localePath('/faq'),
        },
        {
          title: this.$t('arbitrators'),
          to: this.localePath('/arbitrators'),
        },
        {
          title: this.$t('usage_conditions'),
          to: this.localePath('/usage-conditions'),
        },
        {
          title: this.$t('courses'),
          to: this.localePath('/courses'),
        },
        {
          title: this.$t('contact_us'),
          to: this.localePath('/contact-us'),
        },
        {
          title: this.$t('news'),
          to: this.localePath('/news'),
        },
        {
          title: this.$t('complaints'),
          to: this.localePath('/complaints'),
        },
        {
          title: this.$t('organizational_chart'),
          to: this.localePath('/chart'),
        },
        {
          title: this.$t('documents'),
          to: this.localePath('/documents'),
        },
        {
          title: this.$t('financial_accounts'),
          to: this.localePath('/financials'),
        },
      ]
    },
  },
}
</script>

