<template>
  <main class="events" v-if="event">
    <v-container class="pa-0">
      <client-only>
        <section class="intro-slider">
          <template v-if="event.images.length > 0">
            <swiper ref="mySwiper" :options="swiperOptions" :dir="direction">
              <swiper-slide v-for="(item, index) in event.images" :key="index">
                <div class="events__slide-wrapper" style="width: 100%">
                  <img
                    style="border-radius: 15px"
                    width="100%"
                    height="100%"
                    alt="image"
                    :src="item.image"
                  />
                </div>
              </swiper-slide>
            </swiper>
          </template>
          <LazyShimmer class="shimmer-center" v-else :type="`image`" />
        </section>
      </client-only>
    </v-container>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-row>
            <v-col md="9" sm="12" cols="12">
              <section class="d-flex justify-space-between align-center">
                <article>
                  <h3 v-text="event.title || ''"></h3>
                  <p class="mb-0">
                    <v-breadcrumbs :items="items" divider="<"></v-breadcrumbs>

                    <!-- <small class="color-gray" v-text="event.type || ''"></small> -->
                  </p>
                </article>
              </section>
            </v-col>
          </v-row>
        </v-col>
        <v-col md="9" sm="12" cols="12">
          <article class="mt-5">
            <h4>{{ $t('fields.timing') }}</h4>

            <v-row>
              <v-col sm="6">
                <v-list>
                  <v-list-item class="px-0">
                    <v-list-item-avatar class="radius-10 bg-light">
                      <v-icon color="success">mdi-clock</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content class="px-2">
                      <h5>
                        {{
                          $moment(event.start_date)
                            .locale($i18n.locale)
                            .format('LL')
                        }}
                      </h5>
                      <p class="mb-0 color-gray">
                        <small>{{ $t('event_start_date') }}</small>
                      </p>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col sm="6">
                <v-list>
                  <v-list-item class="px-0">
                    <v-list-item-avatar class="radius-10 bg-light">
                      <v-icon color="success">mdi-timer-sand</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content class="px-2">
                      <h5>
                        {{
                          $moment(event.end_date)
                            .locale($i18n.locale)
                            .format('LL')
                        }}
                      </h5>
                      <p class="mb-0 color-gray">
                        <small>{{ $t('event_end_date') }}</small>
                      </p>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
            </v-row>
          </article>
          <article class="mt-5">
            <h4>{{ $t('fields.description') }}</h4>
            <p><small v-text="event.description || ''"></small></p>
          </article>
        </v-col>
        <v-col md="3" sm="12" cols="12">
          <article>
            <h4>{{ $t('location_on_map') }}</h4>
            <p class="color-gray">
              <v-icon small>mdi-map-marker</v-icon>
              <small v-text="event.country_name || ''"></small>
              <small v-if="event.city_name">,</small>
              <small v-if="event.city_name" v-text="event.country_name"></small>
            </p>
          </article>

          <LazyGoogleMap :location="event" />
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'EventDetails',
  data() {
    return {
      event: null,
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 10,

        pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
          clickable: true,
        },
        autoplay: {
          delay: 3500,
          disableOnInteraction: false,
        },
      },
    }
  },
  async asyncData({ $http, params }) {
    const res = await $http.get({
      resource: `single_event/${params.id}`,
    })
    const { data } = res.data
    console.log(data)
    return {
      event: data,
    }
  },
  computed: {
    direction() {
      if (this.$i18n.locale === 'ar') {
        return 'rtl'
      } else {
        return 'ltr'
      }
    },
    items() {
      return [
        {
          text: this.$t('events'),
          disabled: false,
          href: this.localePath('/events'),
        },
        {
          text: this.event.type,
          disabled: true,
        },
      ]
    },
  },
}
</script>
