<template>
  <div>
    <v-label for="areas">
      <b class="gray--text">{{ $t('fields.areas') }}</b>
    </v-label>
    <v-select
      id="areas"
      v-bind="$attrs"
      v-on="$listeners"
      :loading="loading"
      rounded
      filled
      v-model="form.area_id"
      :items="areas"
      item-text="title"
      item-value="id"
    >
    </v-select>
  </div>
</template>

<script>
export default {
  name: 'AreasComponent',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      areas: [],
      loading: true,
    }
  },
  methods: {
    getAreas(city_id = 0) {
      this.loading = true
      this.$http
        .get({ resource: `areas/${city_id}` })
        .then((res) => {
          const { data } = res.data

          this.areas = data
        })
        .finally(() => (this.loading = false))
    },
  },
  watch: {
    'form.city_id': {
      handler(value) {
        if (value) {
          this.getAreas(value)
        } else {
          this.getAreas()
        }
      },
      immediate: true,
    },
  },
}
</script>

