<template>
  <main class="services">
    <LazyPageTitle>
      {{ $t('heading.edit_service') }}
    </LazyPageTitle>
    <v-container class="mt-10">
      <LazyServicesAddForm
        :form="form"
        :isEdit="isEdit"
        :defaultForm="defaultForm"
      />
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'EditService',
  watchQuery: true,
  async asyncData({ params, $http }) {
    const res = await $http.get({ resource: `singleService/${params.id}` })
    const { data } = res.data
    console.log(data)
    return {
      form: {
        ...data,
        attachments: data.attachments.map((attachment) => attachment.id),
        target_groups: data.service_targets.map((target) => target.id),
        duration: data.duration,
        has_offer: Boolean(data.has_offer),
        offer_date_end: data.offer_end_date,
        offer_date_start: data.offer_start_date,
        offer_time_from: data.offer_end_time,
        offer_time_to: data.offer_start_time,
        offer_price: data.price,
      },
      isEdit: true,
    }
  },
  data() {
    return {
      form: {
        type: 'activity',
        title: '',
        service_category_id: '',
        main_image: null,
        images: [],
        duration: '',
        country_id: '',
        city_id: '',
        area_id: '',
        target_groups: [],
        attachments: [],
        persons: '',
        description: '',
        price: '',
        children: 'free',
        children_age: '',
        feature: '',
        start_time: '',
        regiments: [{ date_from: '', date_to: '' }],
        lat: '',
        lng: '',
        date_start: '',
        time_start: '',
        date_end: '',
        time_end: '',
        has_offer: false,
        offer_date_start: '',
        offer_date_end: '',
        offer_price: '',
        offer_time_to: '',
        offer_time_from: '',
        address: '',
      },
      defaultForm: {
        type: 'activity',
        title: '',
        service_category_id: '',
        main_image: null,
        images: [],
        duration: '',
        country_id: '',
        city_id: '',
        area_id: '',
        target_groups: [],
        attachments: [],
        persons: '',
        description: '',
        price: '',
        children: 'free',
        children_age: '',
        feature: '',
        start_time: '',
        regiments: [{ date_from: '', date_to: '' }],
        lat: '',
        lng: '',
        date_start: '',
        time_start: '',
        date_end: '',
        time_end: '',
        has_offer: false,
        offer_date_start: '',
        offer_date_end: '',
        offer_price: '',
        offer_time_to: '',
        offer_time_from: '',
        address: '',
      },
    }
  },

  mounted() {
    this.getCurrentLocation()
  },
  methods: {
    getCurrentLocation() {
      navigator.geolocation.getCurrentPosition(({ coords }) => {
        this.form.lat = coords.latitude
        this.form.lng = coords.longitude
      })
    },
  },
}
</script>
