<template>
  <main class="services">
    <LazyPageTitle>
      {{ $t('heading.add_service') }}
    </LazyPageTitle>
    <v-container class="mt-10">
      <LazyServicesAddForm :form="form" :defaultForm="defaultForm" />
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'AddService',
  middleware: 'isGuide',
  data() {
    return {
      form: {
        type: 'activity',
        title: '',
        service_category_id: '',
        main_image: null,
        images: [],
        duration: '',
        country_id: '',
        city_id: '',
        area_id: '',
        target_groups: [],
        attachments: [],
        persons: '',
        description: '',
        price: '',
        children: 'free',
        children_age: '',
        feature: '',
        start_time: '',
        regiments: [{ date_from: '', date_to: '' }],
        lat: '',
        lng: '',
        date_start: '',
        time_start: '',
        date_end: '',
        time_end: '',
        has_offer: false,
        offer_date_start: '',
        offer_date_end: '',
        offer_price: '',
        offer_time_to: '',
        offer_time_from: '',
        address: '',
      },
      defaultForm: {
        type: 'activity',
        title: '',
        service_category_id: '',
        main_image: null,
        images: [],
        duration: '',
        country_id: '',
        city_id: '',
        area_id: '',
        target_groups: [],
        attachments: [],
        persons: '',
        description: '',
        price: '',
        children: 'free',
        children_age: '',
        feature: '',
        start_time: '',
        regiments: [{ date_from: '', date_to: '' }],
        lat: '',
        lng: '',
        date_start: '',
        time_start: '',
        date_end: '',
        time_end: '',
        has_offer: false,
        offer_date_start: '',
        offer_date_end: '',
        offer_price: '',
        offer_time_to: '',
        offer_time_from: '',
        address: '',
      },
    }
  },

  mounted() {
    this.getCurrentLocation()
  },
  methods: {
    getCurrentLocation() {
      navigator.geolocation.getCurrentPosition(({ coords }) => {
        this.form.lat = coords.latitude
        this.form.lng = coords.longitude
      })
    },
  },
}
</script>
