<template>
  <form-wrapper :validator="$v.form">
    <v-form @submit.prevent="handleSendOpt">
      <v-col cols="12">
        <h2 class="text-center">{{ $t('heading.activation_code') }}</h2>
        <p class="text-center">
          {{ $t('heading.please_add_actividation_code') }}
        </p>
      </v-col>
      <v-col cols="12" lg="10" class="py-0 mx-auto">
        <form-group name="code" attribute="fields.code">
          <template slot-scope="{ attrs, listeners }">
            <v-otp-input
              style="direction: ltr; border-radius: 12px"
              v-bind="attrs"
              v-on="listeners"
              length="4"
              plain
              type="number"
              v-model="form.code"
            ></v-otp-input>
          </template>
        </form-group>
      </v-col>

      <v-col cols="12">
        <v-btn
          type="submit"
          :disabled="$v.form.$invalid || form.code.length < 4"
          :loading="loading"
          large
          block
          class="primary"
          >{{ $t('button.send') }}</v-btn
        >
      </v-col>
      <v-col cols="12" class="text-center">
        <div v-if="timer !== 0">
          <span>
            {{ $t('heading.resend_after') }}
            <strong>{{ timer }}</strong> {{ $t('heading.second') }}
          </span>
        </div>
        <a v-else @click.prevent="resendCode">
          <span class="gray--text">{{ $t('button.resend_code') }}</span>
          <v-icon
            v-text="'$vuetify.icons.resendIcon'"
            class="mx-1 spin"
          ></v-icon>
        </a>
      </v-col>
    </v-form>
  </form-wrapper>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'OtpForm',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data: () => ({
    loading: false,
    timer: 2,
    timeStamp: 30,
  }),

  validations: {
    form: {
      code: {
        required,
      },
    },
  },
  mounted() {
    this.handleTimer()
  },
  methods: {
    handleTimer() {
      this.timer = 30
      this.timeStamp = setInterval(() => {
        this.timer--
      }, 1000)
    },
    resendCode() {
      this.handleTimer()
      this.$http.post({ resource: 'forget_password', data: this.form })
    },
    handleSendOpt() {
      this.loading = true
      this.$http
        .post({ resource: 'check_forget_code', data: this.form })
        .then(() => {
          this.$emit('on-switch', 'ResetPassword')
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
  watch: {
    timer: {
      handler(value) {
        if (value === 0) {
          clearInterval(this.timeStamp)
        }
      },
      immediate: true,
    },
  },
}
</script>


<style lang="scss">
.v-otp-input--plain {
  .v-input__slot {
    border-radius: 12px;
  }
  .v-text-field__slot {
    height: 56px !important;
  }
}
.v-text-field > .v-input__control > .v-input__slot:before,
.v-text-field > .v-input__control > .v-input__slot:after {
  bottom: 15px !important;
  width: 40%;
  right: 0;
  margin: auto;
}
</style>