<template>
  <section class="bg-lighter pb-12">
    <LazyHomeTitle :title="`guide.explore`" :body="`guide.global_body`" />
    <v-container>
      <v-row>
        <v-col md="9" class="mx-auto">
          <v-row>
            <v-col
              md="3"
              sm="4"
              cols="12"
              v-for="(item, i) in categories"
              :key="i"
            >
              <v-card
                class="elevation-0 pa-3"
                :to="localePath(`/discover-items?category_id=${item.id}`)"
              >
                <v-avatar size="40">
                  <v-img :src="item.image || ''"></v-img>
                </v-avatar>
                <small class="px-3"> <b v-text="item.title"></b></small>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>


<script>
export default {
  props: {
    categories: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
