<template>
  <LazyGenericDialog :dialog.sync="dialog">
    <form-wrapper :validator="$v.form">
      <v-form>
        <v-col cols="12">
          <LazyErrorAlert />
        </v-col>
        <v-col cols="12">
          <h2 class="text-center">{{ $t('heading.change_password') }}</h2>
        </v-col>
        <v-col cols="12" class="py-0">
          <div class="password-wrapper">
            <form-group name="old_password" attribute="fields.current_password">
              <template slot-scope="{ attrs, listeners }">
                <v-label for="current_password">
                  <span class="gray--text">{{
                    $t('fields.old_password')
                  }}</span>
                </v-label>
                <v-text-field
                  v-bind="attrs"
                  v-on="listeners"
                  id="password"
                  v-model="form.old_password"
                  filled
                  rounded
                  flat
                  :type="currentType"
                  :append-icon="currentPasswordIcon"
                  @click:append="currentShowPassword = !currentShowPassword"
                >
                </v-text-field>
              </template>
            </form-group>
          </div>
        </v-col>
        <v-col cols="12" class="py-0">
          <div class="password-wrapper">
            <form-group name="new_password" attribute="fields.password">
              <template slot-scope="{ attrs, listeners }">
                <v-label for="password">
                  <span class="gray--text">{{
                    $t('fields.new_password')
                  }}</span>
                </v-label>
                <v-text-field
                  v-bind="attrs"
                  v-on="listeners"
                  id="password"
                  v-model="form.new_password"
                  filled
                  rounded
                  flat
                  :type="inputType"
                  :append-icon="passwordIcon"
                  @click:append="showPassword = !showPassword"
                >
                </v-text-field>
              </template>
            </form-group>
          </div>
        </v-col>
        <v-col cols="12">
          <v-btn
            :loading="loading"
            @click.prevent="handleUpdatePassword"
            :disabled="$v.form.$invalid"
            large
            block
            class="primary"
            >{{ $t('button.save') }}</v-btn
          >
        </v-col>
      </v-form>
    </form-wrapper>
  </LazyGenericDialog>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'PasswordForm',
  data() {
    return {
      dialog: false,
      loading: false,
      showPassword: false,
      currentShowPassword: false,
      form: {
        old_password: '',
        new_password: '',
      },
    }
  },
  methods: {
    handleUpdatePassword() {
      this.loading = true
      this.$http
        .post({ resource: 'changeOldPassword', data: this.form })
        .then(() => {
          this.toggleDialog()
        })
        .finally(() => {
          this.loading = false
        })
    },
    toggleDialog() {
      this.dialog = !this.dialog
    },
  },
  computed: {
    inputType() {
      return this.showPassword ? 'text' : 'password'
    },
    currentType() {
      return this.currentShowPassword ? 'text' : 'password'
    },
    passwordIcon() {
      return this.showPassword ? 'mdi-eye' : 'mdi-eye-off'
    },
    currentPasswordIcon() {
      return this.currentShowPassword ? 'mdi-eye' : 'mdi-eye-off'
    },
  },

  validations: {
    form: {
      old_password: {
        required,
      },
      new_password: {
        required,
      },
    },
  },
  watch: {
    dialog: {
      handler(value) {
        if (!value) {
          this.form.old_password = ''
          this.form.new_password = ''
          this.$v.$reset()
          if (this.serverErrors) {
            this.$store.dispatch('errors/ClearServerErrors')
          }
        }
      },
      immediate: true,
    },
  },
}
</script>
