<template>
  <form-wrapper :validator="$v.form">
    <v-row>
      <v-col cols="12">
        <h2>
          {{ $t('heading.personal_info') }}
        </h2>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="name" attribute="fields.name">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="name">
              <b class="gray--text">{{ $t('fields.name') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="name"
              v-model="form.name"
              filled
              rounded
              flat
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="mobile" attribute="fields.mobile">
          <template slot-scope="{ attrs, listeners }">
            <LazyPhone v-bind="attrs" v-on="listeners" :form="form" />
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="city_id" attribute="fields.city">
          <template slot-scope="{ attrs, listeners }">
            <LazyCity v-bind="attrs" v-on="listeners" :form="form" />
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="email" attribute="fields.email">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="email">
              <b class="gray--text">{{ $t('fields.email') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="email"
              v-model="form.email"
              filled
              rounded
              flat
              type="email"
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>

      <v-col cols="12" lg="6" class="py-0">
        <form-group name="age" attribute="fields.age">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="age">
              <b class="gray--text">{{ $t('fields.age') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="age"
              v-model="form.age"
              filled
              rounded
              flat
              type="number"
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>

      <v-col cols="12" lg="6" class="py-0">
        <v-btn
          :loading="loading"
          @click.prevent="handleCompleteRegister"
          block
          class="primary"
          large
        >
          {{ $t('button.save_edit') }}
        </v-btn>
      </v-col>
      <v-col cols="12" class="text-center my-10">
        <div class="text-center">
          <span>{{ $t('button.do_you_want_change_password') }}</span>
          <a
            @click.prevent="$refs.password_form_ref.toggleDialog()"
            class="secondary--text"
          >
            {{ $t('button_press_here') }}</a
          >
        </div>
      </v-col>
    </v-row>
    <LazyProfilePasswordForm :form="form" ref="password_form_ref">
    </LazyProfilePasswordForm>
  </form-wrapper>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import { isPdfFile, isImage } from '@/utils/validate'
export default {
  name: 'ProfileClientForm',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    generateData() {
      const formData = new FormData()
      const stringFilesValues = [
        'image',
        'experience',
        'bank_image',
        'certification_image',
      ]
      for (const key of stringFilesValues) {
        if (typeof this.form[key] === 'string') {
          delete this.form[key]
        }
      }
      for (const key in this.form) {
        if (this.form[key] !== '') {
          formData.append(key, this.form[key])
        }
      }
      return formData
    },
    handleCompleteRegister() {
      this.$v.$touch()
      if (!this.$v.form.$invalid) {
        this.loading = true
        let resource = 'client_update_profile'

        this.$http
          .post({ resource, data: this.generateData() })
          .then(() => {
            this.$store.dispatch('user/setUser')
            this.$router.push(this.localePath('/my-profile'))
          })
          .catch((err) => {
            if (err) {
              window.scrollTo({ top: 0, behavior: 'smooth' })
            }
          })
          .finally(() => {
            this.loading = false
          })
      }
    },
  },

  validations() {
    return {
      form: {
        name: {
          required,
        },
        city_id: {
          required,
        },
        mobile: {
          required,
        },
        age: {
          required,
        },
        email: {
          required,
          email,
        },
        image: {
          required,
        },
      },
    }
  },
}
</script>

