<template>
  <form-wrapper :validator="$v.form">
    <v-row>
      <v-col cols="12">
        <h2>
          {{ $t('heading.personal_info') }}
        </h2>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="name" attribute="fields.name">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="name">
              <b class="gray--text">{{ $t('fields.name') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="name"
              v-model="form.name"
              filled
              rounded
              flat
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="mobile" attribute="fields.mobile">
          <template slot-scope="{ attrs, listeners }">
            <LazyPhone v-bind="attrs" v-on="listeners" :form="form" />
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="city_id" attribute="fields.city">
          <template slot-scope="{ attrs, listeners }">
            <LazyCity v-bind="attrs" v-on="listeners" :form="form" />
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="email" attribute="fields.email">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="email">
              <b class="gray--text">{{ $t('fields.email') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="email"
              v-model="form.email"
              filled
              rounded
              flat
              type="email"
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="currency_id" attribute="fields.currency_id">
          <template slot-scope="{ attrs, listeners }">
            <LazyCurrency v-bind="attrs" v-on="listeners" :form="form" />
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <v-label for="email">
          <b class="gray--text">{{ $t('fields.sex') }}</b>
        </v-label>
        <v-radio-group v-model="form.gender" row>
          <v-radio
            color="secondary"
            :label="$t('fields.male')"
            value="male"
          ></v-radio>
          <v-radio
            color="secondary"
            :label="$t('fields.female')"
            value="female"
          ></v-radio>
        </v-radio-group>
      </v-col>

      <v-col cols="12">
        <h2>
          {{ $t('heading.bank_account_information') }}
        </h2>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="bank_name" attribute="fields.bank_name">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="bank_name">
              <b class="gray--text">{{ $t('fields.bank_name') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="bank_name"
              v-model="form.bank_name"
              filled
              rounded
              flat
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="account_number" attribute="fields.account_number">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="account_number">
              <b class="gray--text">{{ $t('fields.account_number') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="account_number"
              v-model="form.account_number"
              filled
              rounded
              flat
              type="number"
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12">
        <h2>
          {{ $t('heading.your_account_info_in_site') }}
        </h2>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <v-label for="email">
          <b class="gray--text">{{ $t('fields.account_type') }}</b>
        </v-label>
        <v-radio-group v-model="form.account_type" row>
          <v-radio
            color="secondary"
            :label="$t('fields.provider')"
            value="provider"
          ></v-radio>
          <v-radio
            color="secondary"
            :label="$t('fields.captain')"
            value="captain"
          ></v-radio>
        </v-radio-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group
          name="certification_image"
          attribute="fields.certification_image"
        >
          <template slot-scope="{ attrs, listeners }">
            <CustomFileUpload
              append-icon="mdi-attachment"
              accept="image/*"
              v-bind="attrs"
              v-on="listeners"
              :form="form"
              fieldName="certification_image"
            />
          </template>
        </form-group>
      </v-col>

      <v-col cols="12" lg="6" class="py-0">
        <form-group name="id_number" attribute="fields.id_number">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="id_number">
              <b class="gray--text">{{ $t('fields.id_number') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="id_number"
              v-model="form.id_number"
              filled
              rounded
              flat
              type="number"
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="bank_image" attribute="fields.bank_image">
          <template slot-scope="{ attrs, listeners }">
            <CustomFileUpload
              append-icon="mdi-attachment"
              accept="image/*"
              v-bind="attrs"
              v-on="listeners"
              :form="form"
              fieldName="bank_image"
            />
          </template>
        </form-group>
      </v-col>

      <v-col cols="12" lg="6" class="py-0">
        <form-group name="experience" attribute="fields.experience">
          <template slot-scope="{ attrs, listeners }">
            <CustomFileUpload
              append-icon="mdi-attachment"
              accept="application/pdf"
              v-bind="attrs"
              v-on="listeners"
              :form="form"
              fieldName="experience"
            />
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="about" attribute="fields.description">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="description">
              <b class="gray--text">{{ $t('fields.description') }}</b>
            </v-label>
            <v-textarea
              v-bind="attrs"
              v-on="listeners"
              id="description"
              v-model="form.about"
              filled
              rounded
              flat
              no-resize
              rows="6"
            >
            </v-textarea>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12">
        <h2>
          {{ $t('heading.Advantages') }}
        </h2>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="language" attribute="fields.language">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="language">
              <b class="gray--text">{{ $t('fields.language') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="language"
              v-model="form.language"
              filled
              rounded
              flat
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="carType" attribute="fields.carType">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="carType">
              <b class="gray--text">{{ $t('fields.carType') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="carType"
              v-model="form.carType"
              filled
              rounded
              flat
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <form-group name="certifications" attribute="fields.certification">
          <template slot-scope="{ attrs, listeners }">
            <v-label for="certification">
              <b class="gray--text">{{ $t('fields.certification') }}</b>
            </v-label>
            <v-text-field
              v-bind="attrs"
              v-on="listeners"
              id="certification"
              v-model="form.certifications"
              filled
              rounded
              flat
            >
            </v-text-field>
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <v-checkbox
          color="secondary"
          false-value="0"
          true-value="1"
          v-model="form.speedDelivery"
          :label="$t('fields.speedDelivery')"
        ></v-checkbox>
      </v-col>
      <v-col cols="12" lg="6" class="py-0">
        <v-btn
          :loading="loading"
          @click.prevent="handleCompleteRegister"
          block
          class="primary"
          large
        >
          {{ $t('button.save_edit') }}
        </v-btn>
      </v-col>
      <v-col cols="12" class="text-center my-10">
        <div class="text-center">
          <span>{{ $t('button.do_you_want_change_password') }}</span>
          <a
            @click.prevent="$refs.password_form_ref.toggleDialog()"
            class="secondary--text"
          >
            {{ $t('button_press_here') }}</a
          >
        </div>
      </v-col>
    </v-row>
    <LazyProfilePasswordForm :form="form" ref="password_form_ref">
    </LazyProfilePasswordForm>
  </form-wrapper>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import { isPdfFile, isImage } from '@/utils/validate'
export default {
  name: 'ProfileClientForm',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    generateData() {
      const formData = new FormData()
      const stringFilesValues = [
        'image',
        'experience',
        'bank_image',
        'certification_image',
      ]
      for (const key of stringFilesValues) {
        if (typeof this.form[key] === 'string') {
          delete this.form[key]
        }
      }
      for (const key in this.form) {
        if (this.form[key] !== '') {
          formData.append(key, this.form[key])
        }
      }
      return formData
    },
    handleCompleteRegister() {
      this.$v.$touch()
      if (!this.$v.form.$invalid) {
        this.loading = true
        let resource =
          this.$auth.user.completed_register === 'false'
            ? 'guideCompleteRegister'
            : 'guideUpdateProfile'

        this.$http
          .post({ resource, data: this.generateData() })
          .then(() => {
            this.$store.dispatch('user/setUser')
            this.$router.push(this.localePath('/my-profile'))
          })
          .catch((err) => {
            if (err) {
              window.scrollTo({ top: 0, behavior: 'smooth' })
            }
          })
          .finally(() => {
            this.loading = false
          })
      }
    },
  },

  validations() {
    return {
      form: {
        name: {
          required,
        },
        city_id: {
          required,
        },
        mobile: {
          required,
        },
        email: {
          required,
          email,
        },
        currency_id: {
          required,
        },
        account_number: {
          required,
        },

        certification_image: {
          required,
          isImage: isImage(this.$auth.user.completed_register),
        },
        bank_image: {
          required,
          isImage: isImage(this.$auth.user.completed_register),
        },
        bank_name: {
          required,
        },
        id_number: {
          required,
        },
        experience: {
          required,
          isPdfFile: isPdfFile(this.$auth.user.completed_register),
        },
        language: {
          required,
        },
        carType: {
          required,
        },
        certifications: {
          required,
        },
        about: {
          required,
        },
        image: {
          required,
        },
      },
    }
  },
}
</script>

