<template>
  <form-wrapper :validator="$v.form">
    <v-form @submit.prevent="handleRegister">
      <v-row>
        <v-col cols="12" class="py-0">
          <LazyErrorAlert />
        </v-col>
        <v-col cols="12">
          <h2 class="text-center pb-5">{{ $t('heading.register') }}</h2>
        </v-col>
        <v-col cols="12" class="py-0">
          <v-label for="type">
            <strong class="gray--text">{{ $t('fields.register_as') }}</strong>
          </v-label>

          <form-group name="type" attribute="fields.type">
            <template slot-scope="{ attrs, listeners }">
              <v-select
                id="type"
                v-model="form.type"
                :items="types"
                item-text="name"
                item-value="value"
                rounded
                filled
                v-bind="attrs"
                v-on="listeners"
              ></v-select>
            </template>
          </form-group>
        </v-col>
        <v-col cols="12" sm="6" class="py-0">
          <v-label for="name">
            <strong class="gray--text">{{ $t('fields.name') }}</strong>
          </v-label>
          <form-group name="name" attribute="fields.name">
            <template slot-scope="{ attrs, listeners }">
              <v-text-field
                id="name"
                v-bind="attrs"
                v-on="listeners"
                v-model="form.name"
                filled
                rounded
                flat
              >
              </v-text-field>
            </template>
          </form-group>
        </v-col>

        <v-col cols="12" sm="6" class="py-0">
          <div class="password-wrapper">
            <form-group name="password" attribute="fields.password">
              <template slot-scope="{ attrs, listeners }">
                <v-label for="password">
                  <strong class="gray--text">
                    {{ $t('fields.password') }}</strong
                  >
                </v-label>
                <v-text-field
                  v-bind="attrs"
                  v-on="listeners"
                  id="password"
                  v-model="form.password"
                  filled
                  rounded
                  flat
                  :type="inputType"
                  :append-icon="passwordIcon"
                  @click:append="showPassword = !showPassword"
                >
                </v-text-field>
              </template>
            </form-group>
          </div>
        </v-col>
        <v-col cols="12" class="py-0">
          <form-group name="mobile" attribute="fields.mobile">
            <template slot-scope="{ attrs, listeners }">
              <LazyPhone v-bind="attrs" v-on="listeners" :form="form" />
            </template>
          </form-group>
        </v-col>
        <v-col cols="12" class="py-0">
          <v-checkbox color="secondary">
            <template v-slot:label>
              <span class="gray--text">
                {{ $t('fields.accept') }}
              </span>
              <span class="secondary--text">
                {{ $t('fields.accept_terms_condition') }}</span
              >
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="12">
          <v-btn
            type="submit"
            :disabled="$v.form.$invalid"
            :loading="loading"
            large
            block
            class="primary"
            >{{ $t('button.register') }}</v-btn
          >
        </v-col>
        <v-col cols="12">
          <div class="text-center">
            <span>{{ $t('fields.already_have_account') }}</span>
            <a @click.prevent="$emit('on-switch', 'Login')">
              {{ $t('button.login_now') }}
            </a>
          </div>
        </v-col>
        <v-col cols="12">
          <LazyLanguage />
        </v-col>
      </v-row>
    </v-form>
  </form-wrapper>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'Register',
  data: () => ({
    showPassword: false,
    loading: false,
    form: {
      mobile: '',
      name: '',
      type: '',
      password: '',
      country_code_id: '',
    },
  }),
  computed: {
    inputType() {
      return this.showPassword ? 'text' : 'password'
    },
    passwordIcon() {
      return this.showPassword ? 'mdi-eye' : 'mdi-eye-off'
    },
    types() {
      return [
        { name: this.$t('client'), value: 'client' },
        { name: this.$t('guid'), value: 'guide' },
      ]
    },
  },
  methods: {
    handleRegister() {
      this.loading = true
      this.$http
        .post({ resource: 'register', data: this.form })
        .then(() => {
          this.$auth.loginWith('local', { data: this.form })
          this.$emit('close-dialog')
        })
        .finally(() => (this.loading = false))
    },
  },
  validations: {
    form: {
      mobile: {
        required,
      },
      password: {
        required,
      },
      country_code_id: {
        required,
      },
      type: {
        required,
      },
      name: {
        required,
      },
    },
  },
}
</script>

