<template>
  <v-card flat class="service-card" :to="localePath(`/services/${item.id}`)">
    <div style="height: 200px; position: relative">
      <v-img eager height="100%" alt="photo" :src="item.image"></v-img>

      <v-fab-transition>
        <v-btn
          fab
          small
          absolute
          bottom
          right
          depressed
          :ripple="false"
          style="right: 20px; cursor: initial"
        >
          <v-avatar
            size="50"
            class="elevation-0"
            style="border: 1px solid white"
          >
            <img alt="photo" :src="item.guide_image" />
          </v-avatar>
        </v-btn>
      </v-fab-transition>
    </div>

    <v-card-text style="background-color: #fbfbfb">
      <v-list flat style="background-color: transparent">
        <v-list-item class="px-0">
          <v-list-item-content>
            <v-list-item-title>
              <strong>{{ item.guide_name }}</strong>
            </v-list-item-title>
            <v-list-item-subtitle class="d-flex align-center pt-1">
              <v-icon small>mdi-phone</v-icon>
              <span class="px-1">{{ item.guide_mobile }}</span>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <div class="px-0 gray--text">
        <read-more
          :more-str="$t('button.read_more')"
          :text="item.description"
          :less-str="$t('button.read_less')"
          :max-chars="200"
        ></read-more>
      </div>
      <v-divider class="mb-3"></v-divider>
      <div class="map-height">
        <LazyGoogleMap
          :location="item"
          readOnly
          :draggable="false"
          markerLabel="city"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'SuggestedServiceCard',
  props: {
    item: {
      type: Object,
      default: () => {
        ;({
          image: '',
          guide_image: '',
          lng: '',
          lat: '',
        })
      },
    },
  },
}
</script>
