<template>
  <main class="my-profile">
    <v-container>
      <v-row>
        <v-col cols="12" lg="4">
          <LazyMyProfilePersonalInfo />
        </v-col>
        <v-col cols="12" lg="8">
          <v-row>
            <v-col cols="12" v-if="$auth.user && $auth.user.type === 'guide'">
              <LazyMyProfileFeatures />
            </v-col>
            <v-col cols="12" v-if="$auth.user && $auth.user.rates.length > 0">
              <LazyMyProfileReviews />
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <LazyActivities />
        </v-col>
        <v-col cols="12" class="py-16">
          <LazyItineraries />
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'MyProfile',
  middleware: 'isGuest',
}
</script>

