<template>
  <!-- <section> -->
  <v-toolbar flat color="transparent" class="fix-header px-0">
    <v-list flat color="transparent" class="d-sm-flex">
      <v-list-item dense class="px-0">
        <v-list-item-action>
          <nuxt-link
            exact
            :to="localePath('/')"
            class="logo d-flex align-center"
          >
            <img
              :src="require('@/assets/images/logo.svg')"
              height="40px"
              alt=""
            />
          </nuxt-link>
        </v-list-item-action>
      </v-list-item>
    </v-list>

    <v-list
      flat
      color="transparent"
      class="d-adjust d-sm-flex justify-space-around"
    >
      <v-list-item class="px-0 text-center" dense>
        <v-btn text class="text-capitalize on-hover" :to="localePath(`/`)"
          ><small
            ><strong class="size-12">{{ $t('home') }}</strong></small
          ></v-btn
        >
      </v-list-item>
      <template v-for="(item, index) in items">
        <v-list-item
          v-if="item.requiredAuth"
          class="px-0 text-center"
          dense
          :key="index"
        >
          <v-btn
            text
            class="text-capitalize on-hover"
            :to="localePath(`${item.to}`)"
            ><small
              ><strong class="size-12">{{ item.title }}</strong></small
            ></v-btn
          >
        </v-list-item>
      </template>
    </v-list>
    <v-spacer></v-spacer>
    <v-btn
      v-if="$auth.loggedIn"
      class="text-capitalize radius-0 bg-transparent dividered px-2 mx-3"
      elevation="0"
      small
      icon
      :to="localePath('/my-favorite')"
    >
      <!-- v-on="on" -->
      <v-icon
        :color="$route.path.includes('my-favorite') ? 'secondary' : 'gray'"
        small
        >mdi-heart</v-icon
      >
    </v-btn>

    <v-btn
      class="text-capitalize radius-0 bg-transparent dividered px-2 mx-3"
      elevation="0"
      small
      @click="onLanguageChange"
      icon
    >
      <!-- v-on="on" -->
      <v-icon small>mdi-earth</v-icon>
    </v-btn>

    <v-btn
      @click="dialog = !dialog"
      elevation="0"
      small
      outlined
      color="primary"
      class="text-capitalize"
      v-if="!$auth.loggedIn"
    >
      <strong class="pb-1 px-sm-2"
        ><small class="d-adjust">{{ $t('login') }}</small>
        <v-icon small class="d-large-adjust">mdi-login</v-icon>
      </strong>
    </v-btn>
    <template v-else>
      <v-menu bottom right offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            elevation="0"
            large
            class="radius-0 text-capitalize"
            v-bind="attrs"
            v-on="on"
          >
            <v-avatar color="primary" size="32">
              <v-img :src="$auth.user && $auth.user.image" alt="photo" />
            </v-avatar>
          </v-btn>
        </template>

        <v-list class="py-0 profile-list">
          <!-- v-for="(link, i) in profileRoutes"
                      :key="i" -->
          <v-list-item :to="localePath('/my-profile')" class="bordered-bottom">
            <v-list-item-title class="d-flex justify-space-between">
              <small>
                <span class="px-3">{{ $t('my_profile') }} </span>
              </small>
            </v-list-item-title>
          </v-list-item>
          <v-list-item
            :to="localePath('/update-profile')"
            class="bordered-bottom"
          >
            <v-list-item-title class="d-flex justify-space-between">
              <small>
                <span class="px-3">{{ $t('update_profile') }} </span>
              </small>
            </v-list-item-title>
          </v-list-item>

          <v-list-item @click="$auth.logout()" class="bordered-bottom">
            <v-list-item-title class="d-flex justify-space-between">
              <small>
                <span class="px-3">{{ $t('logout') }} </span></small
              >
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
    <LazyGenericDialog :dialog.sync="dialog">
      <LazyAuth :dialog="dialog" @close-dialog="dialog = !dialog" />
    </LazyGenericDialog>
  </v-toolbar>

  <!-- </section> -->
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'NavBar',
  data() {
    return {
      dialog: false,
    }
  },
  methods: {
    handleToggleDialog() {
      this.$store.dispatch('handleLoginDialog').then(() => {
        this.dialog = !this.dialog
      })
    },
    toggleDialog() {
      if (!this.$auth.loggedIn) this.dialog = !this.dialog
    },
    onLanguageChange() {
      this.$router.push(this.switchLocalePath(this.languageDropdown.code))
      if (this.$auth.loggedIn) {
        this.$store.dispatch('user/setUser')
      }
    },
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  mounted() {
    this.$eventBus.$on('open-login-dialog', () => {
      this.toggleDialog()
    })
  },
  computed: {
    locale() {
      return this.$i18n.locale
    },
    ...mapGetters({
      settings: 'globalSettings/getSettings',
    }),
    languageDropdown() {
      return this.$i18n.locales.find((el) => el.code !== this.$i18n.locale)
    },
    currentLocale() {
      return this.$i18n.locales.find((el) => el.code === this.$i18n.locale)
    },
  },
}
</script>


