<template>
  <div>
    <v-text-field
      readonly
      hide-details
      class="counter-input"
      append-icon="mdi-minus"
      prepend-inner-icon="mdi-plus"
      v-bind="$attrs"
      v-on="$listeners"
      type="number"
      filled
      rounded
      v-model="form[fieldName]"
      @click:append="onDecrement"
      @click:prepend-inner="onIncrement"
    ></v-text-field>
  </div>
</template>

<script>
export default {
  name: 'CounterInput',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
    fieldName: {
      type: String,
      default: '',
    },
  },
  methods: {
    onDecrement() {
      if (this.form[this.fieldName] > 0) {
        this.form[this.fieldName]--
      }
      this.$emit('incrementValue')
    },
    onIncrement() {
      this.form[this.fieldName]++
      this.$emit('decrementValue')
    },
  },
}
</script>

<style lang="scss">
.counter-input {
  input {
    text-align: center !important;
  }
  .v-input__slot {
    padding: 0 10px !important;
  }
}
</style>