<template>
  <main>
    <LazyPageTitle>
      <template #default>
        {{ $t('heading.update_profile') }}
      </template>
    </LazyPageTitle>
    <v-container class="mt-10">
      <v-row>
        <v-col cols="12">
          <LazyErrorAlert />
        </v-col>
        <v-col cols="12" lg="4">
          <LazyImageUpload @fileSelected="onImageUpload" :imgUrl="form.image" />
        </v-col>
        <v-col cols="12" lg="8">
          <LazyProfileUpdateProviderForm
            v-if="$auth.user && $auth.user.type === 'guide'"
            :form="form"
          />
          <LazyProfileUpdateClientForm v-else :form="form" />
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'UpdateMyProfile',
  middleware: ['isGuest'],
  data() {
    return {
      form: {
        name: '',
        mobile: '',
        country_code_id: '',
        city_id: '',
        currency_id: '',
        bank_name: '',
        account_number: '',
        account_type: 'provider',
        id_number: '',
        image: '',
        bank_image: null,
        experience: null,
        certification_image: null,
        email: '',
        language: '',
        carType: '',
        certifications: '',
        speedDelivery: '0',
        gender: 'male',
        about: '',
        age: '',
      },
    }
  },
  methods: {
    onImageUpload({ file }) {
      this.form.image = file
    },
    assignData(profile) {
      for (const key in this.form) {
        this.form = {
          ...this.form,
          [key]: profile[key],
          country_code_id: Number(profile.country_code_id),
        }
      }
    },
  },
  computed: {
    myProfile() {
      return this.$auth.user
    },
  },
  watch: {
    myProfile: {
      handler(profile) {
        if (profile) {
          this.assignData(profile)
        }
      },
      immediate: true,
    },
  },
}
</script>

