<template>
  <section class="global-breadcrumb pt-6 pb-3">
    <v-container class="py-0">
      <h3 class="mb-0">{{ $t(`${title}`) || '' }}</h3>
      <v-icon small color="primary">mdi-home</v-icon>
      <v-breadcrumbs :items="breads" class="py-2 px-4">
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item :to="item.to" :disabled="item.disabled">
            {{ item.text || '' }}
          </v-breadcrumbs-item>
        </template>
      </v-breadcrumbs>
    </v-container>
  </section>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    breads: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
