@mixin mobile {
    @media only screen and (max-width: 767px) {
        @content;
    }
}
@mixin tablet {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
        @content;
    }
}
@mixin desktop {
    @media only screen and (min-device-width: 1281px) {
        @content;
    }
}
