/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.v-text-field--rounded {
    border-radius: 10px !important;
}
a {
    text-decoration: none;
}

:dir(rtl) {
    * {
        font-family: "Cairo" !important;
    }
    .align-text {
        text-align: left !important;
    }
    .forget-password {
        left: 0;
    }
}
:dir(ltr) {
    .align-text {
        text-align: right !important;
    }
    .forget-password {
        right: 0;
    }
}
.v-btn {
    letter-spacing: 0 !important;
    &::before {
        background-color: transparent !important;
    }
}
.d-adjust {
    @media (max-width: 767px) {
        display: none;
    }
    .v-btn {
        &--active {
            color: $secondary !important;
        }
    }
}
.d-large-adjust {
    @media (min-width: 767px) {
        display: none !important;
    }
}
.map-height {
    .GMap__Wrapper {
        max-height: 200px;
    }
}
.book-trip {
    .v-picker {
        background-color: #f7f7f7 !important;
        &__title {
            display: none !important;
        }
        &__body {
            background-color: transparent !important;
            width: 100% !important;
        }
    }
}
.min-h-20 {
    min-height: 20px !important;
}
.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: white !important;
    box-shadow: 0px 0px 0px -1px rgb(0 0 0 / 20%), 0px 0px 10px 0px rgb(0 0 0 / 14%), 0px 0px 1px 0px rgb(0 0 0 / 12%) !important;
}
.password-wrapper {
    position: relative;
}

.forget-password {
    position: absolute;
    bottom: 0;
    left: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.v-select__selection.v-select__selection--comma {
    min-height: 30px !important;
}
.v-text-field {
    .v-input__slot {
        background-color: $lightWight !important;
    }
}

// Radiuses
.radius-10 {
    border-radius: 10px !important;
}
.spin {
    animation: spin 3s infinite linear;
}

// Colors
.color-white {
    color: white !important;
}
.color-dark-white {
    color: $dark-white !important;
}
.color-gray {
    color: #767676;
}
.bg-light {
    background-color: #e5f5e5 !important;
}
.bg-lighter {
    background: #fbfbfb 0% 0% no-repeat padding-box;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.v-input--radio-group__input {
    justify-content: space-between !important;
}

li {
    list-style: none;
}

td {
    white-space: nowrap !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px !important;
    border-radius: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    display: none !important;
}
a {
    color: inherit !important;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 24px;
    line-height: 1.5;
    word-break: break-word;
    overflow: hidden;
}

#readmore {
    color: $secondary !important;
    font-size: 14px;
    font-weight: bold;
}

#payment-method {
    .v-radio {
        margin: 0 !important;
    }
    .v-label {
        margin-bottom: 4px !important;
    }
}
.regiments {
    .v-label {
        margin-bottom: 4px !important;
    }
}
.w-65 {
    width: 65px !important;
}
.discount {
    .v-input__append-outer {
        margin-top: 2px !important;
    }
}
.hint {
    border: 1px dashed #f6d700;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
    position: relative;
    img {
        position: absolute;
        right: -11px;
        top: 15px;
        height: 20px;
    }
}
