$primary: #7960da;
$dark-gray: #282828;
$dark-white: rgba(
    $color: white,
    $alpha: 0.4,
);
$lightWight: #f7f7f7;
$primary: #029794;
$light-white: #f7f7f7;
$secondary: #7960da;
$gray: #383838;
$warning: #ffb229;
$white: #fff;
$off-white: #ebebeb;
$light-gray: #fbfbfb;
