<template>
  <main class="events">
    <LazyPageTitle>
      {{ $t('heading.my_favorite') }}
    </LazyPageTitle>

    <v-container class="mt-16">
      <v-row>
        <v-col cols="12" lg="6">
          <v-tabs
            center-active
            centered
            hide-slider
            active-class="active-service"
            v-model="tab"
            align-with-title
            class="mt-3"
            @change="handleChange"
          >
            <v-tabs-slider color="transparent"></v-tabs-slider>

            <v-tab v-for="item in items" :key="item">
              <small>{{ $t(`fields.${item}`) }}</small>
            </v-tab>
          </v-tabs>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" lg="3" v-for="(offer, index) in offers" :key="index">
          <LazyCardsSpecialOffer
            :offer="offer"
            @on-favorite-change="handleRefresh"
          />
        </v-col>
        <v-col cols="12">
          <LazyPagination :meta="meta" />
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'MyFavorite',
  watchQuery: true,
  middleware: 'isGuest',
  async asyncData({ $http, query }) {
    let service_type = query.type ? query.type : 'activity'
    const res = await $http.get({
      resource: `favourites/${service_type}`,
      query,
    })
    const { data, meta } = res.data
    console.log(data)
    return {
      offers: data,
      meta,
    }
  },
  data() {
    return {
      query: {},
    }
  },
  computed: {
    items() {
      return ['activity', 'route']
    },
  },
  methods: {
    handleRefresh() {
      this.$nuxt.refresh()
    },
    handleChange() {
      const type = this.items[this.tab]
      this.$router.push(this.localePath({ query: { type } }))
    },
    handleCurrentTap(type) {
      this.tab = this.items.indexOf(type)
    },
  },
  watch: {
    $route: {
      handler({ query }) {
        if (query.type) {
          this.handleCurrentTap(query.type)
        }
      },
      immediate: true,
    },
  },
}
</script>

