<template>
  <div>
    <v-label :for="fieldName">
      <b class="gray--text">{{ $t(`fields.${fieldName}`) }}</b>
    </v-label>
    <v-row>
      <v-col cols="12" lg="6" v-for="(item, index) in items" :key="index">
        <v-checkbox
          :id="fieldName"
          v-bind="$attrs"
          v-on="$listeners"
          color="secondary"
          v-model="form[fieldName]"
          :value="item.id"
        >
          <template v-slot:label>
            <span class="light-gray--text"> {{ item.title }}</span>
          </template>
        </v-checkbox>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'CustomCheckBox',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
    fieldName: {
      type: String,
      default: '',
    },
    items: {
      type: [],
      default: () => [],
    },
  },
}
</script>

