<template>
  <v-card
    class="elevation-0 radius-10"
    :to="localePath(`/services/${service.id}`)"
  >
    <div class="services__actions">
      <v-btn
        icon
        class="white mx-2"
        small
        :to="localePath(`/services/edit/${service.id}`)"
      >
        <v-icon small color="success">mdi-pencil</v-icon>
      </v-btn>
      <v-btn small @click.prevent="handleDelete" icon class="white">
        <v-icon small color="error">mdi-delete</v-icon>
      </v-btn>
    </div>
    <v-img aspect-ratio="1.5" :src="service.main_image || ''" alt="photo" />
    <v-card-text class="py-2 d-flex">
      <span class="line-clamp-1">
        <v-icon small>mdi-map-marker</v-icon>
        <small>{{ service.address || '' }}</small>
      </span>
      <v-spacer></v-spacer>
      <strong class="secondary--text line-clamp-1">
        {{ service.price + ' ' }}
        <small>{{ service.currency }}</small>
      </strong>
    </v-card-text>
    <v-card-title class="py-0">
      <h6>{{ service.title || '' }}</h6>
    </v-card-title>

    <v-card-text>
      <v-divider class="my-3"></v-divider>
      <p class="mb-0 line-clamp-1">
        <b>{{ service.description || '' }}</b>
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    service: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    handleDelete() {
      this.popUp().then(() => {
        this.$http
          .delete({ resource: 'deleteService', param: this.service.id })
          .then(() => {
            this.$emit('on-delete')
          })
      })
    },
  },
}
</script>
