<template>
  <GMap
    ref="gMap"
    :language="$i18n.locale"
    :cluster="{ options: { styles: clusterStyle } }"
    :center="{ lat: parseFloat(location.lat), lng: parseFloat(location.lng) }"
    :options="mapOptions"
    :zoom="6"
    @click="setLocation"
  >
    <GMapMarker
      :position="{ lat: location.lat, lng: location.lng }"
      :options="markerOptions"
    >
    </GMapMarker>
  </GMap>
</template>

<script>
import location from '@/assets/images/location.svg'
export default {
  name: 'GoogleMap',
  props: {
    location: {
      type: Object,
      default: () => ({
        lat: '',
        lng: '',
      }),
    },
    readOnly: {
      type: Boolean,
      default: false,
    },
    draggable: {
      type: Boolean,
      default: true,
    },
    markerLabel: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      circleOptions: {},

      pins: {
        selected: 'data:image/png;base64,iVBORw0KGgo...',
        notSelected: 'data:image/png;base64,iVBORw0KGgo...',
      },
      mapStyle: ['terrain'],
      clusterStyle: [
        {
          url: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png',
          width: 56,
          height: 56,
          textColor: '#fff',
        },
      ],
    }
  },
  computed: {
    markerOptions() {
      return {
        icon: {
          url: location,
          labelOrigin: { x: 20, y: 65 },
          labelInBackground: true,
        },
        draggable: false,
        label: {
          text: this.location[this.markerLabel],
          color: '#383838',
          fontSize: '12px',
          fontWeight: 'bold',
          className: 'marker-label',
        },
      }
    },
    mapOptions() {
      return {
        zoomControl: false,
        fullscreenControl: false,
        draggable: this.draggable,
        mapTypeId: 'roadmap',
        // styles: this.mapStyle,
      }
    },
  },
  methods: {
    setLocation({ event }) {
      if (!this.readOnly) {
        this.location.lat = event.latLng.lat()
        this.location.lng = event.latLng.lng()
        this.handleMarker()
      }
    },
    handleMarker() {
      this.$refs.gMap.map.setCenter({
        lat: parseFloat(this.location.lat),
        lng: parseFloat(this.location.lng),
      })
      this.$refs.gMap.map.markers[0].setPosition({
        lat: parseFloat(this.location.lat),
        lng: parseFloat(this.location.lng),
      })
    },
  },
}
</script>

<style >
.GMap__Wrapper {
  border-radius: 15px;
}
.marker-label {
  background-color: #029f02 !important;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
}
</style>