<template>
  <section>
    <div class="img-wrap ratio-35">
      <div class="img-content radius-10">
        <img height="100%" :src="item.image || ''" alt="" />
      </div>
    </div>
    <article>
      <h1 class="mb-0 max-width-50">
        {{ item.title || '' }}
      </h1>
      <p
        class="my-md-5 max-width-50 line-clamp-2"
        v-html="item.description || ''"
      ></p>

      <template>
        <v-btn
          @click="handleRedirect"
          color="primary"
          large
          class="text-capitalize radius-10"
        >
          <v-icon small>mdi-seat-passenger</v-icon>
          <b class="px-3">{{ $t('read_more') }}</b>
        </v-btn>
      </template>
    </article>
  </section>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    direction: {
      type: String,
      default: '',
    },
  },
  methods: {
    handleRedirect() {
      if (this.$auth.loggedIn) {
        this.$router.push('/customize-trip')
      } else {
        this.$eventBus.$emit('open-login-dialog')
      }
    },
  },
}
</script>
