<template>
  <nuxt-link
    :to="
      localePath(
        `/services/category?category_id=${item.id}&type=activity&category_name=${item.title}`
      )
    "
  >
    <section class="activities__card">
      <div class="activities__card__img-wrapper">
        <img :src="item.image" alt="photo" />
      </div>
      <div class="mt-3">
        <h4>{{ item.title }}</h4>
        <!-- <h6 class="gray--text mt-1" style="opacity: 0.6">لدينا 85 ملهى</h6> -->
      </div>
    </section>
  </nuxt-link>
</template>

<script>
export default {
  name: 'ActivityCard',
  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

