<template>
  <main class="activities mt-10">
    <v-col cols="12">
      <h2 class="text-center">{{ $t('heading.activities_and_adventures') }}</h2>
    </v-col>
    <swiper ref="mySwiper" :options="swiperOptions" :dir="direction">
      <swiper-slide v-for="(item, index) in categories" :key="index">
        <v-col cols="12" lg="10" class="mx-auto d-flex justify-center">
          <LazyActivitiesCard :item="item" />
        </v-col>
      </swiper-slide>
      <div slot="button-prev" class="swiper-button-prev">
        <img
          :src="require(`@/assets/images/${prevImgDir}-arrow.svg`)"
          alt="photo"
        />
      </div>
      <div slot="button-next" class="swiper-button-next">
        <img
          :src="require(`@/assets/images/${nextImgDir}-arrow.svg`)"
          alt="photo"
        />
      </div>
    </swiper>
  </main>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Activities',
  data() {
    return {
      loading: false,
      categories: [],
      swiperOptions: {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        loop: false,
        spaceBetween: 0,
        centeredSlides: false,
        breakpoints: {
          1440: {
            slidesPerView: 5,
            spaceBetween: 30,
          },
          1280: {
            slidesPerView: 5,
            spaceBetween: 30,
          },
          991: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 30,
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 30,
          },
        },
        autoplay: false,
        // autoplay: {
        //   delay: 3500,
        //   disableOnInteraction: false,
        // },
      },
    }
  },
  mounted() {
    this.setCategories('activity').then((data) => {
      this.categories = data
    })
  },
  methods: {
    ...mapActions({
      setCategories: 'serviceCategories/setCategories',
    }),
  },
  computed: {
    nextImgDir() {
      if (this.$i18n.locale === 'ar') {
        return 'left'
      } else {
        return 'right'
      }
    },
    prevImgDir() {
      if (this.$i18n.locale === 'ar') {
        return 'right'
      } else {
        return 'left'
      }
    },
    direction() {
      if (this.$i18n.locale === 'ar') {
        return 'rtl'
      } else {
        return 'ltr'
      }
    },
  },
}
</script>

