.activities {
    &__card {
        text-align: center;
        &__img-wrapper {
            width: 56px;
            height: 56px;
            border: 2px solid $primary;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in-out;
            margin: auto;
            img {
                transition: all 0.5s ease-in-out;
                width: 40px;
                height: 40px;
                border-radius: 5px;
            }
            &:hover {
                & {
                    transform: rotate(45deg);
                    background-color: $primary;
                }
                img {
                    transform: rotate(-45deg);
                    // filter: invert(2) brightness(3);
                }
            }
        }
    }
}
