.booking {
    min-height: 100vh;
    margin-top: 64px;
    .v-list-item {
        height: 70px;
        &:not(:last-of-type) {
            border-bottom: 1px solid #ccc;
        }
    }

    .v-list-item--active {
        &::before {
            background-color: transparent !important;
        }
        .v-list-item__title {
            color: $secondary !important;
            font-weight: bold;
        }
    }
    .theme--light.v-list {
        background-color: transparent !important;
    }
}
