.discover-items {
    min-height: 100vh;
    .swiper-wrapper {
        justify-content: center !important;
    }
    .swiper {
        /* height: 100%; */
        /* width: 100%; */
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 393px !important;
            width: 600px !important;
            border-radius: 15px;
            overflow: hidden;
            img {
                box-shadow: 0px 3px 60px #0000001f !important;
            }
        }
    }
}
