.event {
    &__title {
        font-size: 15px;
    }
    &__img-wrapper {
        .v-image {
            border-radius: 15px;
        }
    }
}

.duration-chip {
    background: $secondary 0% 0% no-repeat padding-box !important;
    opacity: 0.4;
    color: $white !important;
    border-radius: 5px !important;
}

.events {
    min-height: 100vh;
    &__filter-container {
        background: $white;
        box-shadow: 0px 3px 60px #0000001f;
        border-radius: 15px;
        min-height: 135px;
        padding: 30px 20px;
        @include desktop {
            transform: translateY(-70px);
        }
    }
    &__slide-wrapper {
        @include desktop {
            height: 688px;
        }
    }
}
