.footer {
  // background: transparent url('@/assets/images/footer.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  z-index: 90;
  background-color: $dark-gray;
  &__logo {
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
  }
  &__title {
    color: #fff;
  }
  &__text {
    letter-spacing: -0.19px;
    color: #fff;
    line-height: 2;
  }
  &__links-container {
    @media only screen and (min-width: 768px) {
      width: 200px;
    }
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
    margin: auto;
  }
  &__row {
    background-color: #ccc;
    height: 1px;
  }
  &__social {
    @media only screen and (max-width: 767px) {
      margin: auto;
    }
  }
  .rights-reserved {
    background-color: $dark-gray;
    border-top: 1px solid $dark-white;
    color: $dark-white;
    opacity: 0.4;
    padding: 10px 0;
  }
}
.links {
  ul {
    list-style-type: none !important;
    padding: 0 !important;
  }
  &__head {
    position: relative;
    margin-bottom: 1.5rem;
    &::before {
      position: absolute;
      bottom: -10px;
      content: "";
      height: 2px;
      width: 40px;
      background-color: $dark-white;
    }
  }
}
