.img-wrap {
  position: relative;
  .img-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .slider_image {
      border-radius: 15px;
    }

    > img,
    > iframe {
      // max-width: 100%;
      max-height: 100%;
      display: block;
      // width: 100%;
      // width: auto;
    }
  }
  .img-content-transform {
    bottom: -45vh !important;
  }
  &.ratio-100 {
    padding-top: 100%;
  }
  &.ratio-80 {
    padding-top: 80%;
  }
  &.ratio-75 {
    padding-top: 75%;
  }
  &.ratio-60 {
    padding-top: 60%;
  }
  &.ratio-61 {
    padding-top: 61%;
  }
  &.ratio-65 {
    padding-top: 65%;
  }
  &.ratio-66 {
    padding-top: 66%;
  }
  &.ratio-56 {
    padding-top: 56%;
  }
  &.ratio-50 {
    padding-top: 50%;
  }
  &.ratio-45 {
    padding-top: 45%;
  }
  &.ratio-35 {
    padding-top: 35% !important;
    @media (max-width: 767px) {
      padding-top: 70% !important;
    }
  }
  &.ratio-40 {
    padding-top: 40%;
  }
  &.ratio-30 {
    padding-top: 30%;
  }
  &.ratio-33 {
    padding-top: calc(100% / 3);
  }
  &.ratio-20 {
    padding-top: 20%;
  }
  &.ratio-25 {
    padding-top: 25%;
    @media (max-width: 767px) {
      padding-top: 50%;
    }
  }
  &.ratio-10 {
    padding-top: 10%;
  }
}
