.itineraries {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 390px);
        @include tablet {
            grid-template-rows: repeat(3, 390px);
        }
        @include mobile {
            display: flex;
            flex-wrap: wrap;
        }
        gap: 10px;
        @include mobile {
            grid-template-rows: 390px;
            grid-template-columns: repeat(1, 1fr);
        }
        &--item {
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            @include mobile {
                width: 100%;
                height: 390px;
            }

            &:hover {
                .itineraries__wrapper--item__bg {
                    transform: scale(1.1);
                }
            }
            &__bg {
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                transition: all 0.5s ease-in-out;
                height: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                background: transparent linear-gradient(180deg, #00000000 0%, #00000099 100%) 0% 0% no-repeat
                    padding-box;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
            }
            h2 {
                color: $white;
                font-size: 20px;
                position: relative;
                z-index: 5;
                padding: 30px;
            }
        }
        [data-index="0"] {
            grid-row: 1/2;
            @include tablet {
                grid-column: 1/3;
            }
        }
        [data-index="1"] {
            grid-row: 2/-1;
            @include tablet {
                grid-column: 3/-1;
                grid-row: 2;
            }
        }
        [data-index="2"] {
            grid-column: 3/-1;
        }
        [data-index="3"] {
            grid-column: 2/3;
            grid-row: 1/-1;
            @include tablet {
                grid-column: 1/3;
                grid-row: 2;
            }
        }
        [data-index="4"] {
            grid-column: 3/4;
            @include tablet {
                grid-column: 1/3;
                grid-row: 3;
            }
            // grid-row: 2/-1;
            // @include tablet {
            //     grid-column: 1/3;
            //     grid-row: 2;
            // }
        }
        [data-index="5"] {
            grid-column: 4/-1;
            grid-row: 2/-1;
            @include tablet {
                grid-column: 3/-1;
                grid-row: 3;
            }
        }
    }
}
