.my-profile {
    min-height: 100vh;
    padding-top: 100px;

    &__personal-info {
        background-color: $off-white;
        border: 1px solid $off-white;
        border-radius: 12px;
        .v-card {
            background-color: transparent !important;
        }
        &__rate-list {
            list-style: none;
            display: flex;
            align-items: center;
            li {
                flex-basis: calc(100% / 5);
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-size: 18px;
                    display: inline-block;
                    font-weight: bold;
                }
            }
        }

        &__details {
            li {
                margin-bottom: 20px;
                span {
                    font-weight: bold;
                    color: $gray;
                }
            }
        }
        &__pdf-button {
            height: 56px;
            border: 2px dashed $primary;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__features {
        background-color: $off-white;
        border: 1px solid $off-white;
        border-radius: 12px;
        min-height: 180px;
    }
    &__reviews {
        height: 512px;
        max-height: 470px;
        overflow-y: auto;
        background-color: $off-white;
        border: 1px solid $off-white;
        border-radius: 12px;
    }
}
