.page-title {
    background-color: $primary;
    margin-top: 64px;
    padding: 2rem 0;
    font-size: 0.75rem;
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        color: $white;
    }
}
