.services {
    min-height: 100vh;
    .v-tab {
        margin: 0 !important;
    }
    &__actions {
        position: absolute;
        z-index: 3;
        top: 0.75rem;
        left: 0.75rem;
    }
}
label {
    display: block;
    margin-bottom: 10px;
}

.services-area {
    .v-card {
        background-color: #fbfbfb !important;
        overflow: hidden;
    }
}
.active-service {
    background-color: $primary !important;
    color: $white !important;
    border-radius: 8px !important;
}

.service-card {
    border-radius: 15px !important;
    overflow: hidden;
}
