.intro-slider {
    margin-top: 64px;
    overflow: hidden;
    .v-skeleton-loader__image {
        @media (min-width: 1280px) {
            min-height: 70vh !important;
        }
    }
    @media (max-width: 769px) {
        margin-top: 56px;
        .ratio-35 {
            padding-top: 65% !important;
        }
    }
    @media (max-width: 567px) {
        .ratio-35 {
            padding-top: 65% !important;
        }
    }
    @media (min-width: 1280px) {
        min-height: 50vh;
    }
    .swiper-slide {
        // min-height: 60vh;
        // background: transparent url('@/assets/images/home/headerbg.svg');
        background-repeat: no-repeat;
        // background: linear-gradient(to right, #00000059, #333333);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        color: white !important;
        article {
            position: absolute;
            top: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.34902), rgb(0 0 0 / 58%));
            bottom: 0;
            right: 0;
            left: 0;
            padding: 10vh 10vh 0 10vh;
            @media (min-width: 767px) {
                // max-width: 60%;
                h1 {
                    font-size: 36px !important;
                }
                p {
                    font-size: 16px;
                }
            }
            @media (max-width: 767px) {
                // max-width: 60%;
                h1 {
                    font-size: 20px !important;
                }
                p {
                    font-size: 14px !important;
                }
            }
            @media (max-width: 1024px) {
                // max-width: 60%;
                padding: 6vh 4vh;
            }
        }
    }
}
