.offer-card {
    border-radius: 15px !important;
    overflow: hidden;
    &__img-wrapper {
        position: relative;
    }
    &__offer-date {
        background: rgba(#fff, 0.3);
        border-radius: 5px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        height: 46px;
        position: absolute;
        width: 284px;
        bottom: 20px;
        right: 0;
        left: 0;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 0 10px;
        div {
            font-size: 12px;
            color: #fff;
        }
    }
    &__booking-btn {
        transition: all 0.3s ease-in-out;
        border-radius: 8px !important;
        &:hover {
            background-color: $primary;
            color: $white !important;
        }
    }
}
.offers {
    .swiper-container {
        padding: 10px !important;
    }
}
