.wallet {
    min-height: 100vh;
    padding-top: 100px;
    &__total-dues {
        background-color: rgba($primary, 0.1);
        min-height: 380px;
        max-height: 380px;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 15px;
        &__money {
            font-size: 50px;
            @include mobile {
                font-size: 25px;
            }
            sub {
                font-size: 16px;
                @include mobile {
                    font-size: 12px;
                }
            }
        }
    }
    &__history {
        background-color: #fbfbfb;
        min-height: 380px;
        max-height: 380px;
        overflow-y: auto;
        overflow-x: hidden;

        border-radius: 15px;
        h2 {
            font-size: 30px;
            @include mobile {
                font-size: 18px;
            }
        }
        span {
            font-size: 16px;
            @include mobile {
                font-size: 11px;
            }
        }
    }

    tr {
        background-color: #fbfbfb;
        height: 70px;
    }
}
