<template>
  <form-wrapper :validator="$v.form">
    <v-row>
      <v-col cols="12" lg="8" class="mx-auto mb-10">
        <v-row>
          <v-col cols="12" class="my-10">
            <LazyErrorAlert />
          </v-col>
          <v-col cols="12" lg="6" class="py-0">
            <v-row>
              <v-col cols="12" class="py-0">
                <v-label for="service_type">
                  <b class="gray--text">{{ $t('fields.service_type') }}</b>
                </v-label>
                <v-radio-group
                  id="service_type"
                  @change="form.category_id = ''"
                  v-model="form.type"
                  row
                >
                  <v-radio
                    color="secondary"
                    :label="$t('fields.activity')"
                    value="activity"
                  ></v-radio>
                  <v-radio
                    color="secondary"
                    :label="$t('fields.route')"
                    value="route"
                  ></v-radio>
                </v-radio-group>
              </v-col>
              <v-col cols="12">
                <form-group name="category_id" attribute="fields.category_id">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyServicesCategory
                      fieldName="category_id"
                      :serviceType="form.type"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12" class="mt-1">
                <form-group name="country_id" attribute="fields.country">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyCountry
                      :serviceType="form.country_id"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <form-group
                  name="date_start"
                  :attribute="
                    form.type === 'activity'
                      ? 'fields.date_start'
                      : 'fields.date_route_start'
                  "
                >
                  <template slot-scope="{ attrs, listeners }">
                    <LazySingleDatePicker
                      :max="form['date_end']"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                      fieldName="date_start"
                      :label="
                        form.type == 'activity'
                          ? 'date_activity_start'
                          : 'date_route_start'
                      "
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12" v-if="form.type === 'activity'">
                <form-group name="date_end" attribute="fields.date_end">
                  <template slot-scope="{ attrs, listeners }">
                    <LazySingleDatePicker
                      :min="form['date_start']"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                      fieldName="date_end"
                      :label="
                        form.type == 'activity'
                          ? 'date_activity_end'
                          : 'date_route_end'
                      "
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12" v-if="form.type === 'route'">
                <form-group name="duration" attribute="fields.duration">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="duration">
                      <b class="gray--text">{{ $t('fields.duration_date') }}</b>
                    </v-label>
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      id="duration"
                      v-model.number="form.duration"
                      filled
                      rounded
                      type="number"
                      flat
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>
            </v-row>
          </v-col>

          <!-- left side -->
          <v-col cols="12" lg="6" class="py-0">
            <v-row>
              <v-col cols="12">
                <form-group name="description" attribute="fields.description">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label for="description">
                      <b class="gray--text">{{ $t('fields.description') }}</b>
                    </v-label>
                    <v-textarea
                      :placeholder="$t('fields.add_description')"
                      v-bind="attrs"
                      v-on="listeners"
                      id="description"
                      v-model="form.description"
                      filled
                      rounded
                      no-resize
                      rows="5"
                      flat
                    >
                    </v-textarea>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <form-group name="city_id" attribute="fields.city_id">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyCity
                      :serviceType="form.city_id"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                    />
                  </template>
                </form-group>
              </v-col>
              <v-col
                cols="12"
                class="align-self-center"
                v-if="form.type == 'route'"
              >
                <v-list
                  flat
                  style="background-color: transparent; height: 110px"
                >
                  <v-list-item>
                    <v-list-item-icon class="mx-0">
                      <v-icon color="gray">mdi-calendar</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title class="px-2">
                        <span class="gray--text font-weight-bold"
                          >{{
                            `${$t(
                              'fields.time_end_booking'
                            )}  ${reservationEndDate}`
                          }}
                        </span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col cols="12">
                <form-group name="start_time" attribute="fields.start_time">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyTimePicker
                      :serviceType="form.start_time"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                      fieldName="start_time"
                      :max="form['end_time']"
                    >
                      <template #title>
                        <template v-if="form.type === 'activity'">
                          {{ $t('fields.time_activity_start') }}
                        </template>
                        <template v-else>
                          {{ $t('fields.time_route_start') }}
                        </template>
                      </template>
                    </LazyTimePicker>
                  </template>
                </form-group>
              </v-col>

              <v-col cols="12" v-if="form.type === 'activity'">
                <form-group name="end_time" attribute="fields.end_time">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyTimePicker
                      :min="form['start_time']"
                      :serviceType="form.end_time"
                      v-bind="attrs"
                      v-on="listeners"
                      :form="form"
                      fieldName="end_time"
                    >
                      <template #title>
                        {{ $t('fields.time_activity_end') }}
                      </template>
                    </LazyTimePicker>
                  </template>
                </form-group>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12">
            <v-label>
              <b class="gray--text">
                {{ $t('fields.gender_type') }}
              </b>
            </v-label>
          </v-col>
          <v-col cols="12" lg="6">
            <v-row>
              <v-col cols="12" lg="8" class="align-self-center">
                <v-label>
                  <b>
                    {{ $t('fields.men') }}
                  </b>
                </v-label>
              </v-col>
              <v-col cols="12" lg="4" class="align-self-center">
                <form-group name="male_count" attribute="fields.male_count">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyCounterInput
                      min="1"
                      :form="form"
                      fieldName="male_count"
                      v-bind="attrs"
                      v-on="listeners"
                    />
                  </template>
                </form-group>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" lg="6">
            <v-row>
              <v-col cols="12" lg="8" class="align-self-center">
                <v-label>
                  <b>
                    {{ $t('fields.females') }}
                  </b>
                </v-label>
              </v-col>
              <v-col cols="12" lg="4" class="align-self-center">
                <form-group name="female_count" attribute="fields.female_count">
                  <template slot-scope="{ attrs, listeners }">
                    <LazyCounterInput
                      min="1"
                      :form="form"
                      fieldName="female_count"
                      v-bind="attrs"
                      v-on="listeners"
                    />
                  </template>
                </form-group>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" lg="6">
            <v-row>
              <v-col cols="12" lg="8" class="align-self-center">
                <v-label>
                  <b>
                    {{ $t('fields.childrens') }}
                  </b>
                </v-label>
              </v-col>
              <v-col cols="12" lg="4" class="align-self-center">
                <form-group
                  name="children_count"
                  attribute="fields.children_count"
                >
                  <template slot-scope="{ attrs, listeners }">
                    <LazyCounterInput
                      min="1"
                      :form="form"
                      fieldName="children_count"
                      v-bind="attrs"
                      v-on="listeners"
                    />
                  </template>
                </form-group>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <v-col cols="12" class="mt-10">
          <v-row>
            <v-col cols="12" lg="6">
              <v-btn
                :loading="loading"
                @click.prevent="handleSubmit"
                block
                class="primary"
                large
              >
                <template>
                  {{ $t('button.send') }}
                </template>
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-col>
    </v-row>
  </form-wrapper>
</template>

<script>
import { required, requiredIf } from 'vuelidate/lib/validators'
export default {
  name: 'CustomizeTripForm',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      loading: false,
      images: [null],
    }
  },
  methods: {
    addOffer() {
      this.$refs.offer_ref.toggleDialog()
      this.form.has_offer = true
    },

    resetFormTypeRoute() {
      const fields = ['duration', 'date_end', 'start_time', 'end_time']
      for (const field of fields) {
        this.form[field] = ''
      }

      this.$v.form.$reset()
    },

    generateData() {
      const formData = new FormData()

      for (const key in this.form) {
        if (this.form[key] !== '' && this.form[key] !== undefined) {
          formData.append(key, this.form[key])
        }
      }

      return formData
    },
    handleService(resource) {
      this.$http
        .post({ resource, data: this.generateData() })
        .then(() => {
          this.$emit('on-submit')
        })
        .finally(() => {
          this.loading = false
          window.scrollTo({ top: 0, behavior: 'smooth' })
        })
    },
    handleSubmit() {
      this.$v.form.$touch()
      if (!this.$v.form.$invalid) {
        this.loading = true
        this.handleService('customizeTrip')
      }
    },
  },
  computed: {
    reservationEndDate() {
      if (this.form.date_start && this.form.duration) {
        const date = new Date(this.form.date_start)
        date.setDate(date.getDate() + this.form.duration)

        return this.$moment(date).locale(this.$i18n.locale).format('LL')
      } else {
        return ''
      }
    },
  },
  watch: {
    'form.type': {
      handler(value) {
        // if (value === 'route') {
        this.resetFormTypeRoute()
        // }
      },
      immediate: true,
    },
  },

  validations: {
    form: {
      type: {
        required,
      },
      category_id: {
        required,
      },

      country_id: {
        required,
      },
      city_id: {
        required,
      },

      date_start: {
        required,
      },
      date_end: {
        required: requiredIf(function () {
          if (this.form.type == 'activity') {
            return true
          } else {
            return false
          }
        }),
      },
      start_time: {
        required: requiredIf(function () {
          if (this.form.type == 'activity') {
            return true
          } else {
            return false
          }
        }),
      },
      end_time: {
        required: requiredIf(function () {
          if (this.form.type == 'activity') {
            return true
          } else {
            return false
          }
        }),
      },

      description: {
        required,
      },
      male_count: {
        required,
      },
      female_count: {
        required,
      },
      children_count: {
        required,
      },

      duration: {
        required: requiredIf(function () {
          if (this.form.type == 'route') {
            return true
          } else {
            return false
          }
        }),
      },
    },
  },
}
</script>

