<template>
  <main class="events">
    <LazyPageTitle>
      {{ $t('heading.events') }}
    </LazyPageTitle>
    <v-col cols="12" lg="10" class="mx-auto">
      <div class="events__filter-container">
        <v-row>
          <v-col cols="12" lg="3" class="align-self-center">
            <LazyFiltersSelect
              ref="filter_ref"
              :query="query"
              fieldName="event_type_id"
              label="event_types"
              resource="event_types"
            />
          </v-col>
          <v-col cols="12" lg="3" class="align-self-center">
            <LazyFiltersSelect
              ref="filter_ref"
              :query="query"
              fieldName="country_id"
              label="country"
              resource="countries"
            />
          </v-col>
          <v-col cols="12" lg="3" class="align-self-center">
            <LazyFiltersSelect
              ref="filter_ref"
              :query="query"
              fieldName="city_id"
              label="city_id"
              resource="cities/0"
            />
          </v-col>
          <v-col cols="12" lg="3" class="align-self-center">
            <v-btn
              @click="handleFilter"
              height="50"
              block
              large
              class="primary mt-6"
              style="border-radius: 10px"
            >
              {{ $t('button.search_now') }}
            </v-btn>
          </v-col>
        </v-row>
      </div>
    </v-col>
    <v-container class="mt-16">
      <v-row>
        <v-col cols="12" lg="6" v-for="(event, index) in events" :key="index">
          <LazyCardsEvent :event="event" col_4="4" col_8="8" />
        </v-col>
        <v-col cols="12">
          <LazyPagination :meta="meta" />
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'Events',
  watchQuery: true,
  async asyncData({ $http, query }) {
    const res = await $http.get({ resource: 'events', query })
    const { data, meta } = res.data

    return {
      events: data,
      meta,
    }
  },
  data() {
    return {
      query: {},
    }
  },
  methods: {
    handleFilter() {
      this.$refs.filter_ref.handleFilter()
    },
  },
}
</script>

