<template>
  <v-data-table :headers="headers" :items="courses" hide-default-footer :loading="loading">
    <template v-slot:item="{ item }">
      <tr class="table__row cursor-pointer">
        <td class="table__cell color-gray text-center">
          <span v-if="direction == 'rtl'">
            {{ item ? item.name.ar : '--' }}
          </span>
          <span v-else>
            {{ item ? item.name.en : '--' }}
          </span>
        </td>
        <td class="table__cell text-center">
          <v-icon small class="mb-1">mdi-calendar-month</v-icon>
          <span class="color-gray">{{
            $moment(item.created_at).format('YYYY/MM/DD') || ''
          }}</span>
        </td>
        <td class="table__cell color-gray text-center">
          <span>{{ item ? item.days : '--' }}</span>
          <span>{{ $t('days') }}</span>
        </td>
        <td class="table__cell color-gray text-center">
          <span v-if="direction == 'rtl'">
            {{ item ? item.city_name.ar : '--' }}
          </span>
          <span v-else>
            {{ item ? item.city_name.en : '--' }}
          </span>
        </td>
        <td class="table__cell color-gray text-center">
          <span>{{ item ? item.price : '--' }}</span>
          <span>{{ $t('sar') }}</span>
        </td>
        <td class="table__cell color-gray text-center">
          <span class="color-primary">{{ $t(`${item.status}`) }}</span>
        </td>
        <td class="table__cell text-center">
          <v-btn
            class="text-capitalize bg-lighter radius-4 px-5"
            color="gray"
            icon
            small
            :to="localePath(`/courses/${item.id}`)"
            ><v-icon color="gray" small>mdi-menu</v-icon></v-btn
          >
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    courses: {
      type: Array,
      default: () => [],
    },
    direction: {
      type: String,
      default: '',
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      headers: [
        {
          text: this.$t('name'),
          sortable: false,
          align: 'center',
        },
        {
          text: this.$t('participation_date'),
          sortable: false,
          align: 'center',
        },
        {
          text: this.$t('timing'),
          sortable: false,
          align: 'center',
        },
        {
          text: this.$t('course_location'),
          sortable: false,
          align: 'center',
        },

        {
          text: this.$t('pricing'),
          sortable: false,
          align: 'center',
        },
        {
          text: this.$t('status'),
          sortable: false,
          align: 'center',
        },
        {
          text: '',
          sortable: false,
          align: 'center',
        },
      ],
    }
  },
}
</script>
