<template>
  <v-data-table
    :mobile-breakpoint="0"
    hide-default-footer
    hide-default-header
    :items="items"
    :items-per-page="20"
  >
    <template v-slot:item="{ item, index }" :headers="headers">
      <!-- <tr> -->
      <slot :item="item" :index="index" />
      <!-- </tr> -->
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: 'WrappingTable',
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    headers: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

