<template>
  <main>
    <section class="image-previewer" :style="imgStyle">
      <div
        class="text-center"
        @click="$refs.file.click()"
        v-on="$attrs"
        style="cursor: pointer"
        :title="$t('button.upload_image')"
      >
        <div>
          <v-icon color="#fff" x-large>mdi-camera</v-icon>
          <p class="text-center white--text font-weight-bold mt-3">
            {{ $t('button.change_my_profile_image') }}
          </p>
        </div>
      </div>
      <!-- <v-card class="image-preview text-center bordered my-0" width="100%">
        <img
          v-if="ImageUrl"
          height="100%"
          ref="image_ref"
          class="radius-4"
          :src="ImageUrl"
          alt=""
        />
        <v-icon
          v-if="ImageUrl != null"
          class="delete-image"
          small
          @click="resetImageFile"
          >mdi-trash-can-outline</v-icon
        >
      </v-card> -->
      <!-- <section class="image-preview">
      </section> -->
    </section>
    <input
      type="file"
      ref="file"
      @change="onFileChange"
      style="display: none"
    />

    <v-dialog v-model="errorDialog" max-width="300" persistent>
      <v-card class="pt-5 pb-2">
        <v-card-text>{{ ImageErrorMsg }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="resetData">{{ $t('button.got_it') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </main>
</template>

<script>
import { isValidImgType, isValidImgSize } from '@/utils/validate'

export default {
  props: {
    file_name: {
      type: String,
      default: '',
    },
    reqType: {
      type: String,
      default: '',
    },
    maxSize: {
      type: Number,
      default: 2,
    },
    imgUrl: {
      type: String,
      default: null,
    },
    imgId: {
      default: null,
    },
    width: {
      type: Number,
      default: null,
    },
    height: {
      type: Number,
      default: null,
    },
    maxHeight: {
      type: Number,
      default: 200,
    },
    minHeight: {
      type: Number,
      default: 200,
    },
    reset: {
      type: Boolean,
      default: false,
    },
    resetToggle: {
      type: Boolean,
      default: false,
    },
    fieldName: {
      type: String,
      default: '',
    },
    value: {
      type: String,
    },
  },
  watch: {
    reset: {
      handler(value) {
        if (value) {
          this.resetImageFile()
        }
      },
      immediate: true,
    },

    imgUrl: {
      handler(newValue) {
        if (newValue && typeof newValue == 'string') {
          this.ImageUrl = newValue
        }
      },
      immediate: true,
    },
  },
  computed: {
    imgStyle() {
      return {
        backgroundImage: `url('${this.ImageUrl}')`,
      }
    },
    ImageErrorMsg() {
      if (this.errorType === 'MIME') {
        return this.$t('validation.imageType')
      } else if (this.errorType === 'SIZE') {
        return this.$t('validation.imageSize', { count: this.maxSize })
      } else if (this.errorType === 'DIMENSIONS') {
        return this.$t('validation.imageDimensions', {
          width: this.width,
          height: this.height,
        })
      } else {
        return ''
      }
    },
  },
  data() {
    return {
      imageName: null,
      ImageUrl: null,
      errorDialog: null,
      errorText: '',
      errorType: '',

      absolute: false,
      overlay: false,
      zIndex: 990,
    }
  },
  methods: {
    onFileChange(e) {
      if (e.target.files.length > 0) {
        let imageFile = e.target.files[0]
        // with Dimensions
        if (this.width && this.height) {
          if (this.validateType(imageFile)) {
            this.validateDimentions(imageFile)
              .then(() => {
                this.readImage(imageFile)
              })
              .catch(() => {
                this.errorType = 'DIMENSIONS'
                this.errorDialog = true
              })
          }
          // without Dimensions
        } else {
          if (this.validateType(imageFile)) {
            this.readImage(imageFile)
          }
        }
      }
    },
    readImage(imageFile) {
      if (this.validateSize(imageFile)) {
        // console.log("image file", imageFile);
        this.imageName = imageFile.name
        this.ImageUrl = URL.createObjectURL(imageFile)
        if (imageFile) {
          let dataObj = {
            file: imageFile,
          }
          if (this.fieldName) {
            dataObj.name = this.fieldName
            this.$emit('fileSelected', dataObj)
          } else {
            this.$emit('fileSelected', dataObj)
          }
        }
      }
    },

    validateDimentions(file) {
      return new Promise((resolve, reject) => {
        let image = new Image()
        image.src = URL.createObjectURL(file)
        image.addEventListener(
          'load',
          () => {
            let width = image.naturalWidth
            let height = image.naturalHeight
            if (width !== this.width && height !== this.height) {
              reject(false)
            } else {
              resolve(true)
            }
          },
          false
        )
      })
    },
    validaRatio(file) {
      return new Promise((resolve, reject) => {
        let image = new Image()
        image.src = URL.createObjectURL(file)
        image.addEventListener(
          'load',
          () => {
            let width = image.naturalWidth
            let height = image.naturalHeight
            if (width / height !== 1) {
              reject(false)
            } else {
              resolve(true)
            }
          },
          false
        )
      })
    },
    validateSize(file) {
      if (isValidImgSize(file.size, this.maxSize)) {
        return true
      } else {
        this.errorType = 'SIZE'
        this.errorDialog = true
        return false
      }
    },
    validateType(file) {
      if (isValidImgType(file)) {
        return true
      } else {
        this.errorType = 'MIME'
        this.errorDialog = true
        return false
      }
    },
    resetImageFile() {
      this.ImageUrl = null
      this.$refs.file.value = ''
    },
    resetData() {
      this.$refs.file.value = ''
      this.errorDialog = false
      setTimeout(() => {
        this.errorType = ''
      }, 300)
    },
  },
}
</script>

<style >
.image-previewer {
  transition: all 0.5s ease-in-out;
  height: 350px;
  background: #7960da 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 0.5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
</style>