<template>
  <div>
    <v-label for="city">
      <b class="gray--text">{{ $t('fields.city') }}</b>
    </v-label>
    <v-select
      id="city"
      v-bind="$attrs"
      v-on="$listeners"
      :loading="loading"
      rounded
      filled
      v-model="form.city_id"
      :items="cities"
      item-text="title"
      item-value="id"
    >
    </v-select>
  </div>
</template>

<script>
export default {
  name: 'cityComponent',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      cities: [],
      loading: true,
    }
  },
  methods: {
    getCities(country_id = 0) {
      this.loading = true

      this.$http
        .get({ resource: `cities/${country_id}` })
        .then((res) => {
          const { data } = res.data
          // this.form.area_id = ''
          this.cities = data
        })
        .finally(() => (this.loading = false))
    },
  },
  watch: {
    'form.country_id': {
      handler(value) {
        if (value) {
          this.getCities(value)
        } else {
          this.getCities()
        }
      },
      immediate: true,
    },
  },
}
</script>

