<template>
  <section class="services-area">
    <LazyHomeTitle
      :title="`guide.my_services_title`"
      :body="`guide.global_body`"
    />
    <v-container>
      <v-row>
        <v-col
          v-for="(service, i) in services"
          :key="i"
          lg="3"
          md="4"
          sm="6"
          cols="12"
        >
          <LazyCardsService :service="service" />
        </v-col>
        <v-col cols="12">
          <section class="text-center">
            <LazyViewMore :to="localePath('/services')" />
          </section>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  name: 'MyServices',
  async fetch() {
    if (this.$auth.loggedIn && this.$auth.user.type === 'guide') {
      const res = await this.$http.get({ resource: 'guide_services/activity' })
      const { data } = res.data
      this.services = data
    }
  },
  data() {
    return {
      services: [],
    }
  },
}
</script>