<template>
  <div>
    <v-label for="service_category">
      <b class="gray--text">{{ $t('fields.service_category') }}</b>
    </v-label>
    <v-select
      id="service_category"
      v-bind="$attrs"
      v-on="$listeners"
      :loading="loading"
      rounded
      filled
      v-model="form[fieldName]"
      :items="categories"
      item-text="title"
      item-value="id"
    >
    </v-select>
  </div>
</template>

<script>
export default {
  name: 'Categories',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
    serviceType: {
      type: String,
      default: 'activity',
    },
    fieldName: {
      type: String,
      default: 'service_category_id',
    },
  },
  data() {
    return {
      categories: [],
      loading: true,
    }
  },

  methods: {
    getServiceCategories() {
      this.$http
        .get({ resource: `serviceCategories/${this.serviceType}` })
        .then((res) => {
          const { data } = res.data

          this.categories = data
        })
        .finally(() => (this.loading = false))
    },
  },
  watch: {
    serviceType: {
      handler() {
        this.getServiceCategories()
      },
      immediate: true,
    },
  },
}
</script>

