<template>
  <main class="pt-15 my-10" style="min-height: 70vh" v-if="serviceDetails">
    <v-container>
      <v-row>
        <v-col md="9" sm="12" cols="12">
          <img
            width="100%"
            class="radius-10"
            :src="serviceDetails.main_image || ''"
            alt=""
          />
        </v-col>
        <v-col md="3" sm="12" cols="12">
          <img
            width="100%"
            class="radius-10"
            v-for="(img, i) in serviceDetails.images"
            :key="i"
            :src="img.image || ''"
            alt=""
          />
        </v-col>
        <v-col cols="12">
          <v-row>
            <v-col md="9" sm="12" cols="12">
              <section class="d-flex justify-space-between align-center">
                <article>
                  <h3 v-text="serviceDetails.title || ''"></h3>
                  <p class="mb-0">
                    <small
                      class="color-gray"
                      v-text="serviceDetails.service_category || ''"
                    ></small>
                  </p>
                </article>
                <div class="actions">
                  <template
                    v-if="$auth.loggedIn && $auth.user.type === 'guide'"
                  >
                    <v-btn
                      icon
                      small
                      outlined
                      color="success"
                      :to="localePath(`/services/edit/${serviceDetails.id}`)"
                    >
                      <v-icon small>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn
                      small
                      outlined
                      color="error"
                      @click.prevent="handleDelete"
                      icon
                      class="mx-3"
                    >
                      <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                  </template>
                  <template
                    v-else-if="$auth.loggedIn && $auth.user.type === 'client'"
                  >
                    <v-btn
                      color="primary"
                      :to="
                        localePath(
                          `/services/book?type=${serviceDetails.type}&id=${serviceDetails.id}`
                        )
                      "
                      class="elevation-0 radius-10"
                    >
                      <small class="white--text">
                        <b>{{ $t('book_now') }}</b>
                      </small>
                    </v-btn>
                  </template>
                </div>
              </section>
            </v-col>
          </v-row>
        </v-col>
        <v-col md="9" sm="12" cols="12">
          <article class="mt-5">
            <h4>{{ $t('fields.description') }}</h4>
            <p><small v-text="serviceDetails.description || ''"></small></p>
          </article>
          <article class="mt-5">
            <h4 v-if="serviceDetails.regiments.length == 0">
              {{
                $route.query.type == 'customize_trip'
                  ? $t('fields.track_timing')
                  : $t('fields.timing')
              }}
            </h4>
            <h4 v-else>
              {{ $t('fields.track_timing') }}
            </h4>

            <v-row v-if="serviceDetails.regiments.length == 0">
              <v-col sm="6">
                <v-list>
                  <v-list-item class="px-0">
                    <v-list-item-avatar class="radius-10 bg-light">
                      <v-icon color="success">mdi-clock</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <h5 class="d-flex">
                        <template v-if="$route.query.type == 'customize_trip'">
                          <span>{{
                            serviceDetails.date_start ||
                            serviceDetails.start_date
                          }}</span>
                          <span class="px-1"> - </span>
                        </template>
                        <span>{{
                          serviceDetails.time_start || serviceDetails.start_time
                        }}</span>
                      </h5>
                      <p class="mb-0 color-gray">
                        <small>{{
                          $route.query.type == 'customize_trip'
                            ? $t('start_and_end_time')
                            : $t('activity_start_time')
                        }}</small>
                      </p>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col sm="6">
                <v-list>
                  <v-list-item class="px-0">
                    <v-list-item-avatar class="radius-10 bg-light">
                      <v-icon color="success">mdi-timer-sand</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <h5 class="d-flex">
                        <template v-if="$route.query.type == 'customize_trip'">
                          <span>{{
                            serviceDetails.date_end || serviceDetails.end_date
                          }}</span>
                          <span class="px-1"> - </span>
                        </template>
                        <span>{{
                          serviceDetails.time_end || serviceDetails.end_time
                        }}</span>
                      </h5>
                      <p class="mb-0 color-gray">
                        <small>{{
                          $route.query.type == 'customize_trip'
                            ? $t('leaving_time')
                            : $t('activity_end_time')
                        }}</small>
                      </p>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
            </v-row>
            <section class="mb-10" v-else>
              <v-row v-for="(timing, i) in serviceDetails.regiments" :key="i">
                <v-col cols="12" class="mt-2">
                  <p class="mb-0">
                    <small>{{ $t('regiment') + ' ' + (i + 1) }}</small>
                  </p>
                </v-col>
                <v-col sm="6" class="py-0">
                  <v-list class="py-0">
                    <v-list-item class="px-0">
                      <v-list-item-avatar class="radius-10 bg-light">
                        <v-icon color="success"
                          >mdi-calendar-month-outline</v-icon
                        >
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <h5 class="d-flex">
                          <span>{{ timing.date_from || '' }}</span>
                        </h5>
                        <p class="mb-0 color-gray">
                          <small>{{ $t('start_and_end_time') }}</small>
                        </p>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-col>
                <v-col sm="6" class="py-0">
                  <v-list class="py-0">
                    <v-list-item class="px-0">
                      <v-list-item-avatar class="radius-10 bg-light">
                        <v-icon color="success">mdi-timer-sand</v-icon>
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <h5 class="d-flex">
                          <span>{{ timing.date_to || '' }}</span>
                        </h5>
                        <p class="mb-0 color-gray">
                          <small>{{ $t('leaving_time') }}</small>
                        </p>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-col>
              </v-row>
            </section>
          </article>
          <template v-if="$route.query.type != 'customize_trip'">
            <article class="mt-5">
              <h4>{{ $t('fields.features') }}</h4>
              <p><small v-text="serviceDetails.feature || ''"></small></p>
            </article>
            <article class="mt-5">
              <h4 class="mb-4">{{ $t('fields.rate') }}</h4>
              <v-row no-gutters>
                <v-col cols="3">
                  <p class="mb-0">
                    <small>{{
                      serviceDetails.service_rates &&
                      serviceDetails.service_rates.good_place
                    }}</small>
                    <small>{{
                      serviceDetails.rateStatus &&
                      serviceDetails.rateStatus.good_place
                    }}</small>
                    😀
                  </p>
                </v-col>
                <v-col cols="3">
                  <p class="mb-0">
                    <small>{{
                      serviceDetails.service_rates &&
                      serviceDetails.service_rates.bad_place
                    }}</small>
                    <small>{{
                      serviceDetails.rateStatus &&
                      serviceDetails.rateStatus.bad_place
                    }}</small>
                    ☹️
                  </p>
                </v-col>
                <v-col cols="12" class="mb-3">
                  <p class="mb-0">
                    <small>{{ $t('how_do_you_rate_the_place') }}</small>
                  </p>
                </v-col>
                <v-col cols="3">
                  <p class="mb-0">
                    <small>{{
                      serviceDetails.service_rates &&
                      serviceDetails.service_rates.good_time
                    }}</small>
                    <small>{{
                      serviceDetails.rateStatus &&
                      serviceDetails.rateStatus.good_time
                    }}</small>
                    😀
                  </p>
                </v-col>
                <v-col cols="3">
                  <p class="mb-0">
                    <small>{{
                      serviceDetails.service_rates &&
                      serviceDetails.service_rates.bad_time
                    }}</small>
                    <small>{{
                      serviceDetails.rateStatus &&
                      serviceDetails.rateStatus.bad_time
                    }}</small>
                    ☹️
                  </p>
                </v-col>
                <v-col cols="12">
                  <p class="mb-0">
                    <small>{{ $t('how_do_you_rate_timing') }}</small>
                  </p>
                </v-col>
              </v-row>
            </article>
          </template>
        </v-col>
        <v-col md="3" sm="12" cols="12">
          <article>
            <h4>
              {{
                $route.query.type == 'customize_trip'
                  ? $t('location')
                  : $t('location_on_map')
              }}
            </h4>
            <p class="color-gray">
              <v-icon small>mdi-map-marker</v-icon>
              <small v-text="serviceDetails.country || ''"></small>
              <small v-if="serviceDetails.city">,</small>
              <small v-text="serviceDetails.city || ''"></small>
              <small v-if="serviceDetails.area">,</small>
              <small v-text="serviceDetails.area || ''"></small>
            </p>
          </article>
          <section
            class="map-height"
            v-if="$route.query.type != 'customize_trip'"
          >
            <LazyGoogleMap
              :location="serviceDetails"
              markerLabel="title"
              :draggable="false"
              readOnly
            />
          </section>

          <v-list two-line>
            <template
              v-if="
                serviceDetails.regiments && serviceDetails.regiments.length > 0
              "
            >
              <v-list-item class="px-0">
                <img
                  height="32px"
                  :src="require('@/assets/images/services/1.svg')"
                />

                <v-list-item-content class="px-3 d-block">
                  <v-list-item-title>2</v-list-item-title>
                  <v-list-item-subtitle>{{
                    $t('walk_count')
                  }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
            </template>

            <v-list-item
              class="px-0"
              v-if="$route.query.type != 'customize_trip'"
            >
              <img
                height="32px"
                :src="require('@/assets/images/services/2.svg')"
              />

              <v-list-item-content class="px-3 d-block">
                <v-list-item-title
                  ><small>{{
                    serviceDetails.price + ' ' + serviceDetails.currency
                  }}</small></v-list-item-title
                >
                <v-list-item-subtitle
                  ><small>{{
                    $t('trip_price_per_person')
                  }}</small></v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>

            <v-list-item class="px-0">
              <img
                height="32px"
                :src="require('@/assets/images/services/3.svg')"
              />

              <v-list-item-content class="px-3 d-block">
                <v-list-item-title class="d-flex">
                  <small
                    >{{ serviceDetails.persons || serviceDetails.allCount }}
                    <span v-if="serviceDetails.persons">{{
                      ' ' + $t('person')
                    }}</span>
                  </small>
                </v-list-item-title>
                <v-list-item-subtitle
                  ><small>{{
                    $t('all_trip_count')
                  }}</small></v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
        <template v-if="$route.query.type == 'customize_trip'">
          <v-col cols="12">
            <h4>{{ $t('offers') }}</h4>
            <v-row v-if="serviceDetails.offers.length > 0">
              <v-col
                v-for="(offer, i) in serviceDetails.offers"
                :key="i"
                md="6"
                sm="12"
                cols="12"
              >
                {{ offer }}
              </v-col>
            </v-row>
            <p v-else>
              <small>{{ $t('no_offers_available') }}</small>
            </p>
          </v-col>
          <v-col md="9" sm="12" cols="12">
            <section class="hint">
              <img :src="require('@/assets/images/services/lamp.svg')" alt="" />
              <p
                class="mb-0"
                v-for="hint in serviceDetails.hints"
                :key="hint.id"
              >
                {{ hint.body }}
              </p>
            </section>
          </v-col>
        </template>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  data() {
    return {
      serviceDetails: null,
      // moods: [
      //   { name: 'Happy', emoji: '😀' },
      //   { name: 'Angry', emoji: '😠' },
      //   { name: 'Really Angry', emoji: '😡' },
      //   { name: 'Really Sad', emoji: '☹️' },
      //   { name: 'Poop', emoji: '💩' },
      // ],
      items: [
        { header: 'Today' },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          title: 'Brunch this weekend?',
          subtitle: `<span class="text--primary">Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?`,
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
          title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
          subtitle: `<span class="text--primary">to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend.`,
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
          title: 'Oui oui',
          subtitle:
            '<span class="text--primary">Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?',
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
          title: 'Birthday gift',
          subtitle:
            '<span class="text--primary">Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?',
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
          title: 'Recipe to try',
          subtitle:
            '<span class="text--primary">Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
        },
      ],
    }
  },
  watchQuery: true,
  async asyncData({ $http, params, query }) {
    const reqName =
      query.type == 'customize_trip' ? 'customizedTrip' : 'singleService'
    const res = await $http.get({
      resource: `${reqName}/${params.id}`,
    })
    const { data } = res.data
    return {
      serviceDetails: data,
    }
  },
  methods: {
    handleDelete() {
      this.popUp().then(() => {
        this.$http
          .delete({ resource: 'deleteService', param: this.serviceDetails.id })
          .then(() => {
            this.$router.push(this.localePath('/services'))
          })
      })
    },
  },
}
</script>
