<template>
  <main class="suggested-service" style="min-height: 100vh">
    <LazyPageTitle>
      {{ $t('heading.SuggestedService') }}
    </LazyPageTitle>
    <v-col cols="12" lg="8" class="mx-auto">
      <div class="events__filter-container">
        <v-row>
          <v-col cols="12" lg="4" class="align-self-center">
            <LazyFiltersSelect
              ref="filter_ref"
              :query="query"
              fieldName="country_id"
              label="country"
              resource="countries"
            />
          </v-col>
          <v-col cols="12" lg="4" class="align-self-center">
            <LazyFiltersSelect
              ref="filter_ref"
              :query="query"
              fieldName="city_id"
              label="city_id"
              resource="cities/0"
            />
          </v-col>
          <v-col cols="12" lg="4" class="align-self-center">
            <v-btn
              @click="$refs.filter_ref.handleFilter()"
              height="50"
              block
              large
              class="primary mt-6"
              style="border-radius: 10px"
            >
              {{ $t('button.search_now') }}
            </v-btn>
          </v-col>
        </v-row>
      </div>
    </v-col>
    <v-container class="mt-10">
      <v-row>
        <v-col cols="12" lg="6" v-for="(item, index) in services" :key="index">
          <LazyCardsSuggestedService :item="item" />
        </v-col>
        <v-col cols="12">
          <LazyPagination :meta="meta" />
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'SuggestedService',
  watchQuery: true,
  async asyncData({ $http, query }) {
    const res = await $http.post({ resource: 'suggestedServices', data: query })
    const { data, meta } = res.data
    return {
      services: data,
      meta,
    }
  },
  data() {
    return {
      query: {},
    }
  },
}
</script>

