<template>
  <client-only>
    <section class="intro-slider">
      <template v-if="sliders.length > 0">
        <swiper ref="mySwiper" :options="swiperOptions" :dir="direction">
          <swiper-slide v-for="(item, index) in sliders" :key="index">
            <!-- :style="{ background: 'url(' + item.image + ')' }" -->
            <v-container fluid class="pa-0">
              <LazyCardsSlider :item="item" :direction="direction" />
            </v-container>
          </swiper-slide>

          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </template>
      <LazyShimmer class="shimmer-center" v-else :type="`image`" />
    </section>
  </client-only>
</template>

<script>
export default {
  data() {
    return {
      sliders: [],
      loading: false,
      swiperOptions: {
        slidesPerView: 1,
        spaceBetween: 0,
        centeredSlides: true,
        // pagination: {
        //   el: '.swiper-pagination',
        //   type: 'bullets',
        //   clickable: true,
        // },
        autoplay: {
          delay: 3500,
          disableOnInteraction: false,
        },
      },
    }
  },
  methods: {
    getData() {
      this.loading = true
      this.$axios.get(`/sliders`).then((res) => {
        const { data } = res.data
        this.sliders = data
        this.loading = false
      })
    },
  },
  computed: {
    direction() {
      if (this.$i18n.locale === 'ar') {
        return 'rtl'
      } else {
        return 'ltr'
      }
    },
  },
  watch: {
    $route: {
      handler() {
        this.getData()
      },
      immediate: true,
    },
  },
}
</script>
