<template>
  <v-container>
    <section>
      <LazyHomeTitle :title="`guide.events`" :body="`guide.global_body`" />
    </section>

    <v-row>
      <v-col cols="12" lg="6">
        <LazyCardsEvent :event="events[0]" />
      </v-col>
      <v-col cols="12" lg="6">
        <LazyCardsEvent
          :event="event"
          col_4="3"
          col_8="9"
          v-for="(event, index) in events.slice(1, 5)"
          :key="index"
        />
      </v-col>
      <v-col cols="12" class="mt-5">
        <section class="text-center">
          <LazyViewMore :to="localePath('/events')" />
        </section>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Events',
  props: {
    events: {
      type: Array,
      default: () => [],
    },
  },
}
</script>