<template>
  <v-container class="my-10">
    <v-row>
      <v-col cols="12" lg="6">
        <v-btn
          style="border-radius: 8px; border: 1px solid #86868680"
          height="46"
          outlined
          color="off-white"
          elevation="0"
          @click="dialog = !dialog"
        >
          <v-icon color="light-gray">mdi-filter</v-icon>
          <span class="light-gray--text">{{ $t('filter') }}</span>
          <v-icon color="light-gray">mdi-chevron-down</v-icon>
        </v-btn>
        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          :nudge-width="200"
          offset-y
          right
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="mx-2"
              style="border-radius: 8px; border: 1px solid #86868680"
              width="46"
              height="46"
              v-bind="attrs"
              v-on="on"
              fab
              outlined
              color="off-white"
              elevation="0"
            >
              <v-icon color="light-gray">mdi-sort</v-icon>
            </v-btn>
          </template>

          <v-card>
            <v-list>
              <v-list-item>
                {{ $t('heading.sort_by') }}
              </v-list-item>
              <v-list-item>
                <v-radio-group
                  @change="handleFilter"
                  color="secondary"
                  v-model="arrange_type"
                >
                  <v-radio
                    v-for="(type, index) in arrangeTypes"
                    :key="index"
                    :label="type.label"
                    :value="type.value"
                  ></v-radio>
                </v-radio-group>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
        <span class="light-gray--text" v-if="arrange_type">{{
          arrangeTypeValue.label
        }}</span>
        <v-btn v-if="filterExist" @click="removeFilter" icon>
          <v-icon :title="$t('clear_filter')" color="error"
            >mdi-filter-remove</v-icon
          >
        </v-btn>
      </v-col>
      <v-col
        v-if="services && services.length > 0"
        cols="12"
        lg="6"
        class="d-flex justify-end algin-self-center"
      >
        <v-btn @click="showMap = !showMap" class="secondary">
          {{ $t('show_on_map') }}
        </v-btn>
      </v-col>
    </v-row>
    <LazyServicesFilterModel
      :dialog.sync="dialog"
      :query="query"
      :categories="categories"
    />
    <LazyServicesFilterShowOnMap
      :dialog.sync="showMap"
      :query="query"
      :services="services"
      :categories="categories"
    />
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ServicesCategoryFilter',
  props: {
    services: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      categories: [],
      arrange_type: '',
      menu: false,
      dialog: false,
      showMap: false,
      query: {
        flag: '',
        lat: '',
        lng: '',
        city_id: '',
        category_id: '',
        country_id: '',
        title: '',
        area_id: '',
        currency_id: '',
      },
    }
  },
  computed: {
    arrangeTypes() {
      return [
        { value: 'nearest', label: this.$t('nearest') },
        { value: 'top_rates', label: this.$t('top_rates') },
        { value: 'lowest_price', label: this.$t('lowest_price') },
        { value: 'top_price', label: this.$t('top_price') },
      ]
    },
    arrangeTypeValue() {
      return this.arrangeTypes.find((el) => el.value === this.arrange_type)
    },
    filterExist() {
      return Object.keys(this.$route.query).some(
        (filterKey) =>
          filterKey !== 'category_id' &&
          Object.keys(this.query).includes(filterKey)
      )
    },
  },

  methods: {
    ...mapActions({
      setCategories: 'serviceCategories/setCategories',
    }),
    handleFilter() {
      let query = {
        ...this.$route.query,
        flag: this.arrangeTypeValue.value,
      }
      if (this.arrangeTypeValue.value == 'nearest') {
        query['lat'] = this.query.lat
        query['lng'] = this.query.lng
      } else {
        this.$delete(query, 'lat')
        this.$delete(query, 'lng')
      }
      this.$router.push({ query })
    },
    getCurrentLocation() {
      navigator.geolocation.getCurrentPosition(({ coords }) => {
        this.query.lat = coords.latitude
        this.query.lng = coords.longitude
      })
    },
    removeFilter() {
      const query = { ...this.$route.query }
      for (const key in this.query) {
        if (key !== 'category_id') delete query[key]
      }
      this.$router.push({ query })
    },
  },
  mounted() {
    this.setCategories(this.$route.query.type).then((data) => {
      this.categories = data
    })
    this.getCurrentLocation()
  },
  watch: {
    $route: {
      handler({ query }) {
        if (query.flag) {
          this.arrange_type = query['flag']
        }
        for (const key in this.query) {
          if (query[key]) {
            if (/^\d+$/.test(query[key])) {
              this.query[key] = Number(query[key])
            } else {
              this.query[key] = query[key]
            }
          }
        }

        if (!query.category_name) {
          this.$router.push(this.localePath('/'))
        }
      },
      immediate: true,
    },
  },
}
</script>

