<template>
  <v-dialog
    max-width="900"
    :value="dialog"
    @input="$emit('update:dialog')"
    style="border-radius: 8px"
  >
    <v-card max-width="900" style="border-radius: 8px">
      <v-card-title class="justify-center py-5">
        {{ $t('filter') }} {{ $t($route.query.type) }}
      </v-card-title>
      <v-card-text class="pt-5">
        <v-row>
          <v-col cols="12" lg="10" class="mx-auto">
            <v-row>
              <v-col cols="12" lg="6" class="py-0">
                <v-label for="category_id">
                  <strong class="gray--text">{{
                    $t(`${$route.query.type}_type`)
                  }}</strong>
                </v-label>
                <v-select
                  v-model="query.category_id"
                  :items="categories"
                  id="category_id"
                  item-text="title"
                  item-value="id"
                  rounded
                  filled
                ></v-select>
              </v-col>
              <v-col cols="12" lg="6" class="py-0">
                <v-label for="type">
                  <strong class="gray--text">{{ $t('activity_name') }}</strong>
                </v-label>
                <v-text-field
                  v-model="query.title"
                  rounded
                  filled
                ></v-text-field>
              </v-col>
              <v-col cols="12" lg="6" class="py-0">
                <LazyCountry :form="query" />
              </v-col>
              <v-col cols="12" lg="6" class="py-0">
                <LazyCity :form="query" />
              </v-col>
              <v-col cols="12" class="py-0">
                <LazyAreas :form="query" />
              </v-col>
              <v-col cols="12" class="py-0">
                <v-label for="currency_id">
                  <strong class="gray--text">{{ $t('currency') }}</strong>
                </v-label>
                <v-select
                  v-model="query.currency_id"
                  :items="currencies"
                  id="currency_id"
                  item-text="title"
                  item-value="id"
                  rounded
                  filled
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-btn @click="handleFilter" block large class="primary">
                  {{ $t('show_result') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'FilterModel',
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    query: {
      type: Object,
      default: () => {},
    },
    categories: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    currencies: [],
  }),
  mounted() {
    this.getCurrencies()
  },
  methods: {
    getCurrencies() {
      this.$http.get({ resource: 'currencies' }).then((res) => {
        const { data } = res.data
        this.currencies = data
      })
    },
    handleFilter() {
      const query = { ...this.$route.query }
      for (const key in this.query) {
        if (this.query[key] !== '') {
          query[key] = this.query[key]
        }
      }
      this.$router.push({ query })
    },
  },
}
</script>

