<template>
  <div class="show-on-map ma-0">
    <v-btn-toggle
      @change="handleFilter"
      class="button-group"
      v-model="form.category_id"
      :active-class="
        form.category_id == Number($route.query.category_id)
          ? 'active-button'
          : ''
      "
      group
      mandatory
      borderless
    >
      <!-- <v-btn height="43" :value="$route.query.category_id">
        {{ $t('button.all') }}
      </v-btn> -->

      <v-btn
        v-for="(category, index) in categories"
        :key="index"
        height="43"
        :value="category.id"
      >
        {{ category.title }}
      </v-btn>
    </v-btn-toggle>
    <GmapMap
      :options="mapOptions"
      :language="$i18n.locale"
      ref="gMap"
      :center="{
        lat: services[0] && parseFloat(services[0].lat),
        lng: services[0] && parseFloat(services[0].lng),
      }"
      :zoom="7"
      map-type-id="terrain"
      style="height: 600px"
    >
      <GmapMarker
        :key="index"
        v-for="(service, index) in services"
        :position="{
          lat: parseFloat(service.lat),
          lng: parseFloat(service.lng),
        }"
        :clickable="true"
        :label="{
          text: service.title,
          color: '#383838',
          fontSize: '12px',
          fontWeight: 'bold',
          className: 'marker-label',
        }"
        :options="markerOptions"
      />
    </GmapMap>
  </div>
</template>

<script>
import location from '@/assets/images/location.svg'
export default {
  name: 'ServiceMap',
  props: {
    readOnly: {
      type: Boolean,
      default: false,
    },
    draggable: {
      type: Boolean,
      default: true,
    },
    markerLabel: {
      type: String,
      default: '',
    },
    form: {
      type: Object,
      default: () => {},
    },
    services: {
      type: Array,
      default: () => {
        return [{ lat: '', lng: '' }]
      },
    },
    categories: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      loadingMap: false,

      circleOptions: {},

      pins: {
        selected: 'data:image/png;base64,iVBORw0KGgo...',
        notSelected: 'data:image/png;base64,iVBORw0KGgo...',
      },
      mapStyle: ['terrain'],
    }
  },
  computed: {
    markerOptions() {
      return {
        icon: {
          url: location,
          labelOrigin: { x: 20, y: 65 },
          labelInBackground: true,
        },
        draggable: false,
      }
    },
    mapOptions() {
      return {
        zoomControl: false,
        fullscreenControl: false,
        draggable: this.draggable,
        mapTypeId: 'roadmap',
        // styles: this.mapStyle,
      }
    },
  },

  methods: {
    handleFilter() {
      this.$router.push({ query: { ...this.$route.query, ...this.form } })
    },
    getCurrentLocation() {
      navigator.geolocation.getCurrentPosition(({ coords }) => {
        this.form.lat = coords.latitude
        this.form.lng = coords.longitude
      })

      // setTimeout(() => {
      // }, 1000)
    },

    setLocation(loc) {
      this.$refs.gMap.map.setCenter({
        lat: parseFloat(loc.lat),
        lng: parseFloat(loc.lng),
      })
    },
  },
}
</script>

<style lang="scss">
.GMap__Wrapper {
  border-radius: 15px;
}
.marker-label {
  background-color: #029f02 !important;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
}
.show-on-map {
  margin-top: 20px;
  .v-btn-toggle--group > .v-btn.v-btn {
    border-radius: 7px !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #00000029 !important;
    color: #d5d0d0 !important;
    font-weight: bold !important;
    min-width: 100px !important;
  }
  .active-button {
    &.v-btn.v-btn {
      background: #008be7 !important;
      border-radius: 7px !important;
      color: #fff !important;
      font-weight: bold !important;
    }
  }
  position: relative;
  .button-group {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 57 !important;
  }
}
</style>