<template>
  <v-dialog
    persistent
    max-width="1200"
    :value="dialog"
    @input="$emit('update:dialog')"
    scrollable
  >
    <v-card max-width="1200" style="position: relative">
      <v-row no-gutters>
        <v-col cols="12" lg="4">
          <v-row style="max-height: 600px; overflow-y: auto">
            <v-col
              class="mb-2"
              v-for="(service, index) in services"
              :key="index"
              cols="12"
            >
              <LazyCardsSpecialOffer :offer="service" />
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" lg="8">
          <LazyServicesFilterServiceMap
            :services="services"
            :form="query"
            :categories="categories"
          />
        </v-col>
      </v-row>

      <v-btn
        height="24px"
        width="24px"
        style="z-index: 99999"
        absolute
        fab
        dark
        x-small
        left
        @click="$emit('update:dialog')"
      >
        <v-icon color="white" x-small>mdi-close</v-icon>
      </v-btn>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'FilterModel',
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    services: {
      type: Array,
      default: () => [],
    },
    locations: {
      type: Array,
      default: () => [],
    },
    categories: {
      type: Array,
      default: () => [],
    },
    query: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

