<template>
  <main class="customize-trip">
    <LazyPageTitle>
      <template> {{ $t('heading.customize_trip') }}</template>
      <template #sub_title>
        <h4 class="white--text pt-2">
          {{ $t('heading.place_you_would_like_to_visit') }}
        </h4>
      </template>
    </LazyPageTitle>
    <v-container class="mt-10">
      <LazyCustomizeTripForm
        :form="form"
        v-if="!requestDone"
        @on-submit="requestDone = true"
      />
      <v-col cols="12" lg="6" class="mx-auto" v-else>
        <lazyIllustrations>
          <h2>{{ $t('heading.request_has_been_sent') }}</h2>
        </lazyIllustrations>
      </v-col>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'CustomizeTrip',
  middleware: ['isProvider'],
  data: () => ({
    requestDone: false,
    form: {
      type: 'activity',
      category_id: '',
      date_start: '',
      date_end: null,
      start_time: '',
      end_time: '',
      description: '',
      duration: '',
      male_count: 0,
      female_count: 0,
      children_count: 0,
      country_id: '',
      city_id: '',
    },
  }),
}
</script>

