<template>
  <main>
    <LazyPageTitle>
      {{ $t('heading.faqs') }}
    </LazyPageTitle>
    <v-container class="my-12">
      <v-row>
        <v-col md="8" sm="12" cols="12" class="mx-auto">
          <article v-for="(item, i) in faqs" :key="i">
            <h3>
              <v-icon color="#383838">mdi-help-circle</v-icon>
              <small v-html="item.question || ''"></small>
            </h3>
            <p class="mb-0"><small v-html="item.answer || ''"></small></p>
            <v-divider class="my-3"></v-divider>
          </article>
        </v-col>
      </v-row>
      <LazyPagination :meta="meta" />
    </v-container>
  </main>
</template>

<script>
export default {
  watchQuery: true,
  async asyncData({ $http, query }) {
    const res = await $http.get({
      resource: `faqs`,
      query: { ...query },
    })
    const { data, meta } = res.data
    return {
      faqs: data,
      meta,
    }
  },
}
</script>