<template>
  <main>
    <v-container>
      <LazyWrappingTable :items="orders">
        <template v-slot="{ item }">
          <nuxt-link
            tag="tr"
            :to="localePath(`/services/${item.id}`)"
            style="cursor: pointer"
          >
            <td class="text-center">
              <v-chip class="light-secondary" style="border-radius: 8px">
                <strong class="secondary--text"> {{ item.cancelType }}</strong>
              </v-chip>
              <div class="light-gray--text">{{ $t('table.status') }}</div>
            </td>
            <td class="text-center">
              {{ `#${item.code}` }}
              <div class="light-gray--text">{{ $t('table.order_number') }}</div>
            </td>
            <td class="text-center">
              {{ item.category_name }}
              <div class="light-gray--text">{{ $t('table.service_type') }}</div>
            </td>
            <td class="text-center">
              {{ `${item.date}` }}
              <div class="light-gray--text">
                {{ $t('table.time_of_booking') }}
              </div>
            </td>
            <td class="text-center">
              {{ item.price }}
              <div class="light-gray--text">
                {{ $t('table.booking_price') }}
              </div>
            </td>

            <td class="text-center" v-if="item.guide_image">
              <v-list flat max-width="260" class="mx-auto">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title
                      :class="$i18n.locale == 'ar' ? 'text-left' : 'text-right'"
                    >
                      {{ item.guide_name }}
                    </v-list-item-title>
                    <!-- <v-list-item-subtitle>
                      <span class="light-gray--text">
                        {{ item.provider }}
                      </span>
                    </v-list-item-subtitle> -->
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-avatar size="70">
                      <img :src="item.guide_image" alt="avatar" />
                    </v-avatar>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
            </td>
          </nuxt-link>
        </template>
      </LazyWrappingTable>
    </v-container>
    <v-col cols="12">
      <LazyPagination :meta="meta" />
    </v-col>
  </main>
</template>

<script>
export default {
  name: 'UnCompletedBooking',
  props: {
    orders: {
      type: Array,
      default: () => [],
    },
    meta: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

