<template>
  <main>
    <LazyPageTitle>
      {{ $t('heading.about_us') }}
    </LazyPageTitle>
    <v-container class="my-12">
      <p v-html="settings.about || ''"></p>
    </v-container>
  </main>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      settings: 'globalSettings/getSettings',
    }),
  },
}
</script>