<template>
  <main>
    <v-app dark v-if="!loading">
      <LazyLayoutHeader />
      <nuxt :nuxt-child-key="$route.fullPath" />
      <!-- <nuxt :nuxt-child-key="$route.fullPath" /> -->
      <LazyLayoutFooter />
    </v-app>
    <LazyLoader v-else />
  </main>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {
      loading: true,
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.loading = false
    })
  },
  watch: {
    $route: {
      handler() {
        if (this.$route.path == '/' || this.$route.path == '/en') {
          this.$store.dispatch('globalSettings/setSettings')
        }
      },
      immediate: true,
    },
    '$auth.loggedIn': {
      handler(value) {
        if (value) {
          this.$store.dispatch('user/setUser')
        }
      },
      immediate: true,
    },
  },
  head() {
    return {
      htmlAttrs: {
        lang: this.$i18n.locale,
        dir: this.$i18n.locale === 'en' ? 'ltr' : 'rtl',
      },
    }
  },
}
</script>
