<template>
  <div class="page-title">
    <h1 class="text-center">
      <slot />
    </h1>
    <slot name="sub_title" />

    <slot name="body" />
  </div>
</template>

<script>
export default {
  name: 'PageTitle',
}
</script>


