<template>
  <div>
    <v-label :for="fieldName" v-if="showLabel">
      <b class="gray--text">
        {{ $t(`fields.${fieldName}`) }}
      </b>
    </v-label>
    <v-file-input
      :clearable="false"
      prepend-icon=""
      truncate-length="15"
      v-bind="$attrs"
      v-on="$listeners"
      :id="fieldName"
      v-model="form[fieldName]"
      filled
      rounded
      flat
      @click:prepend.stop="handleFile"
    >
      <template v-slot:append-outer>
        <a @click.stop :href="form[fieldName]" target="_blank">
          <template v-if="typeof form[fieldName] === 'string'">
            <v-icon>mdi-file</v-icon>
          </template>
        </a>
      </template>
    </v-file-input>
  </div>
</template>

<script>
export default {
  name: 'CustomFileUpload',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
    fieldName: {
      type: String,
      default: '',
    },
    showLabel: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

