<template>
  <main>
    <LazyPageTitle>
      <template> {{ service.title }}</template>
      <template #sub_title>
        <h3 class="white--text pt-2">
          {{ `${$t(service.type)} > ${service.service_category}` }}
        </h3>
      </template>
    </LazyPageTitle>
    <v-container class="py-12">
      <form-wrapper :validator="$v.form">
        <v-row>
          <v-col cols="12">
            <LazyErrorAlert />
          </v-col>
          <template v-if="!this.form.gift">
            <v-col cols="12" lg="4">
              <v-card outlined class="elevation-0 radius-10 pa-5">
                <h4>{{ $t('pill_details') }}</h4>
                <p class="d-flex mt-3">
                  <small>{{ service.title || '' }}</small>
                  <v-spacer></v-spacer>
                  <small>{{ service.price + ' ' + service.currency }}</small>
                </p>
                <v-divider></v-divider>
                <p class="d-flex mt-3">
                  <small
                    ><b>{{ $t('total') }}</b></small
                  >
                  <v-spacer></v-spacer>
                  <small v-if="total_price"
                    ><b>{{ total_price }}</b></small
                  >
                  <small v-else
                    ><b>{{ service.price + ' ' + service.currency }}</b></small
                  >
                </p>
                <p class="color-gray mt-3 mb-0">
                  <small v-html="$t('pricing_note')"></small>
                </p>
              </v-card>
            </v-col>
            <v-col cols="12" lg="4">
              <section class="book-trip" v-if="$route.query.type == 'activity'">
                <p>{{ $t('fields.booking_start_date') }}</p>
                <v-date-picker
                  :min="service.offer_start_date"
                  :max="service.offer_end_date"
                  v-model="form.reservation_date"
                  color="primary"
                ></v-date-picker>
              </section>
              <section v-else>
                <p>{{ $t('available_regiments') }}</p>
                <v-radio-group class="mt-0 regiments" v-model="regiment_id">
                  <v-radio
                    v-for="(regiment, i) in service.regiments"
                    :key="i"
                    color="secondary"
                    :label="
                      $t('fields.from') +
                      ' ' +
                      regiment.date_from +
                      ' ' +
                      $t('fields.to') +
                      ' ' +
                      regiment.date_to
                    "
                    :value="regiment.id"
                  ></v-radio>
                </v-radio-group>
              </section>
              <section class="mt-5">
                <v-label for="payment-method" class="mb-0">
                  <b class="gray--text">{{ $t('fields.payment_method') }}</b>
                </v-label>
                <v-radio-group
                  id="payment-method"
                  v-model="form.payment_type"
                  row
                >
                  <v-radio
                    color="secondary"
                    :label="$t('fields.online')"
                    value="visa"
                  ></v-radio>
                  <v-radio
                    color="secondary"
                    :label="$t('fields.through_wallet')"
                    value="wallet"
                  ></v-radio>
                </v-radio-group>
              </section>
            </v-col>
            <v-col cols="12" lg="4">
              <v-row>
                <v-col cols="12" class="pb-0 discount">
                  <p>{{ $t('fields.coupon_code') }}</p>
                  <v-text-field
                    label=""
                    filled
                    dense
                    rounded
                    v-model="coupon"
                    :disabled="has_discount"
                  >
                    <template v-slot:append-outer>
                      <v-btn
                        icon
                        small
                        @click="checkCoupon"
                        :disabled="!coupon"
                        v-if="discount == ''"
                        ><v-icon color="success">mdi-check</v-icon></v-btn
                      >
                      <div class="text-center w-65" v-else>
                        <h4 class="secondary--text mx-auto">{{ discount }}</h4>
                        <div>
                          <span
                            class="light-gray--text"
                            style="font-size: 12px"
                          >
                            {{ $t('discount') }}
                          </span>
                        </div>
                      </div>
                    </template>
                  </v-text-field>
                </v-col>
                <!-- <v-col cols="12" class="align-self-center py-0">
                <v-list flat style="background-color: transparent">
                  <v-list-item>
                    <v-list-item-icon class="mx-0">
                      <v-icon color="gray">mdi-calendar</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title class="px-2">
                        <span class="gray--text font-weight-bold"
                          >سعر الطلب بعد الخصم : 90 ريال
                        </span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col> -->
                <v-col cols="12" class="py-0">
                  <v-label>
                    <b class="gray--text">
                      {{ $t('fields.gender_type') }}
                    </b>
                  </v-label>
                </v-col>
                <v-col cols="12" class="py-0">
                  <v-row>
                    <v-col cols="12" lg="8" class="align-self-center">
                      <v-label>
                        {{ $t('fields.men') }}
                      </v-label>
                    </v-col>
                    <v-col cols="12" lg="4" class="align-self-center">
                      <form-group
                        name="male_count"
                        attribute="fields.male_count"
                      >
                        <template slot-scope="{ attrs, listeners }">
                          <LazyCounterInput
                            min="1"
                            :form="form"
                            @incrementValue="handleSubmit"
                            @decrementValue="handleSubmit"
                            fieldName="male_count"
                            v-bind="attrs"
                            v-on="listeners"
                          />
                        </template>
                      </form-group>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12">
                  <v-row>
                    <v-col cols="12" lg="8" class="align-self-center">
                      <v-label>
                        {{ $t('fields.females') }}
                      </v-label>
                    </v-col>
                    <v-col cols="12" lg="4" class="align-self-center">
                      <form-group
                        name="female_count"
                        attribute="fields.female_count"
                      >
                        <template slot-scope="{ attrs, listeners }">
                          <LazyCounterInput
                            min="1"
                            @incrementValue="handleSubmit"
                            @decrementValue="handleSubmit"
                            :form="form"
                            fieldName="female_count"
                            v-bind="attrs"
                            v-on="listeners"
                          />
                        </template>
                      </form-group>
                    </v-col>
                  </v-row>
                </v-col>

                <v-col cols="12" class="py-0">
                  <v-row>
                    <v-col cols="12" lg="8" class="align-self-center">
                      <v-label>
                        {{ $t('fields.childrens') }}
                      </v-label>
                    </v-col>
                    <v-col cols="12" lg="4" class="align-self-center">
                      <form-group
                        name="children_count"
                        attribute="fields.children_count"
                      >
                        <template slot-scope="{ attrs, listeners }">
                          <LazyCounterInput
                            min="1"
                            :form="form"
                            @incrementValue="handleSubmit"
                            @decrementValue="handleSubmit"
                            fieldName="children_count"
                            v-bind="attrs"
                            v-on="listeners"
                          />
                        </template>
                      </form-group>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" class="mt-8">
                  <v-row>
                    <v-col cols="12" lg="6">
                      <v-btn
                        :loading="loading"
                        @click.prevent="handleSubmitForm"
                        :disabled="$v.form.$invalid"
                        block
                        color="primary"
                        class="elevation-0"
                        large
                      >
                        {{ $t('button.confirm_booking') }}
                      </v-btn>
                    </v-col>
                    <v-col @click="gift" cols="12" lg="6">
                      <v-btn block color="secondary" class="elevation-0" large>
                        {{ $t('button.gift') }}
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </template>
          <template v-else>
            <v-row>
              <v-col md="6">
                <p>{{ $t('gift_details') }}</p>
                <form-group name="gift_owner" attribute="fields.gift_owner">
                  <template slot-scope="{ attrs, listeners }">
                    <v-label>
                      <b class="gray--text">{{ $t('fields.gift_owner') }}</b>
                    </v-label>
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      class="mt-2"
                      v-model="form.gift_owner"
                      filled
                      rounded
                      flat
                      type="text"
                    >
                    </v-text-field>
                  </template>
                </form-group>
                <form-group
                  name="gift_receiver"
                  attribute="fields.gift_receiver"
                >
                  <template slot-scope="{ attrs, listeners }">
                    <v-label>
                      <b class="gray--text">{{ $t('fields.gift_receiver') }}</b>
                    </v-label>
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      class="mt-2"
                      v-model="form.gift_receiver"
                      filled
                      rounded
                      flat
                      type="text"
                    >
                    </v-text-field>
                  </template>
                </form-group>
                <form-group
                  name="gift_receiver_mobile"
                  attribute="fields.gift_receiver_mobile"
                >
                  <template slot-scope="{ attrs, listeners }">
                    <v-label>
                      <b class="gray--text">{{
                        $t('fields.gift_receiver_mobile')
                      }}</b>
                    </v-label>
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      class="mt-2"
                      v-model="form.gift_receiver_mobile"
                      filled
                      rounded
                      flat
                      type="text"
                    >
                    </v-text-field>
                  </template>
                </form-group>

                <section>
                  <p>{{ $t('choose_card') }}</p>
                  <v-radio-group
                    class="mt-0 regiments"
                    v-model="form.gift_image_id"
                    row
                  >
                    <v-radio
                      v-for="(card, i) in cards"
                      :key="i"
                      color="secondary"
                      :value="card"
                    >
                      <template v-slot:label>
                        <img :src="card.image || ''" height="200px" alt="" />
                      </template>
                    </v-radio>
                  </v-radio-group>
                  <div class="d-flex">
                    <v-btn
                      :loading="loading"
                      @click.prevent="handleSubmitForm"
                      :disabled="$v.form.$invalid"
                      color="primary"
                      width="48%"
                      class="elevation-0"
                      large
                    >
                      {{ $t('button.confirm_booking') }}
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                      width="48%"
                      @click="cancelGift"
                      color="error"
                      class="elevation-0"
                      large
                    >
                      {{ $t('button.cancel') }}
                    </v-btn>
                  </div>
                </section>
              </v-col>
              <v-col md="6">
                <img
                  v-if="form.gift_image_id"
                  :src="form.gift_image_id.image || ''"
                  width="100%"
                  alt=""
                />
              </v-col>
            </v-row>
          </template>
        </v-row>
      </form-wrapper>
    </v-container>
  </main>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'ServiceBooking',
  middleware: ['isAuth', 'isClient'],
  watchQuery: true,
  async asyncData({ $http, query }) {
    const res = await $http.get({ resource: `singleService/${query.id}` })
    const { data } = res.data

    console.log(data)
    return {
      service: data,
    }
  },
  data() {
    return {
      form: {
        reservation_date: new Date(
          Date.now() - new Date().getTimezoneOffset() * 60000
        )
          .toISOString()
          .substr(0, 10),
        male_count: 1,
        female_count: 1,
        children_count: 0,
        gift: false,
        service_id: Number(this.$route.query.id),
        payment_type: 'wallet',
        // gift_image_id: null,
      },
      coupon: '',
      loading: false,
      has_discount: false,

      total_price: '',
      regiment_id: '',
      discount: '',
      cards: [],
    }
  },
  methods: {
    generateData() {
      const formData = new FormData()
      for (const key in this.form) {
        if (key == 'gift_image_id' && this.form.gift == true) {
          formData.append(key, this.form[key].id)
        } else {
          formData.append(key, this.form[key])
        }
        // if (this.form[key] !== '') {
        // }
      }
      if (this.$route.query.type == 'route') {
        formData.append('regiment_id', this.regiment_id)
      }
      return formData
    },
    handleSubmit() {
      const reqName =
        this.$route.query.type == 'route'
          ? 'checkOrderPrice'
          : 'checkActivityPrice'

      this.$http
        .post({ resource: reqName, data: this.generateData() })
        .then((res) => {
          this.total_price = res.data.data.price
        })
        .catch((err) => {
          if (err) {
            window.scrollTo({ top: 0, behavior: 'smooth' })
          }
        })
        .finally(() => {})
    },
    handleSubmitForm() {
      this.loading = true
      const reqName =
        this.$route.query.type == 'route'
          ? 'makeRouteOrder'
          : 'makeActivityOrder'
      this.$http
        .post({ resource: reqName, data: this.generateData() })
        .then(() => {
          this.$router.push(this.localePath('/'))
          // history.go(-1)
        })
        .catch((err) => {
          if (err) {
            window.scrollTo({ top: 0, behavior: 'smooth' })
          }
        })
        .finally(() => {
          this.loading = false
        })
    },

    async gift() {
      this.form.gift = true
      window.scrollTo({ top: 0, behavior: 'smooth' })

      const res = await this.$http.get({
        resource: `cards`,
      })
      const { data } = res.data
      this.cards = data
    },
    checkCoupon() {
      this.$http
        .post({
          resource: 'checkCouponValidate',
          data: {
            coupon: this.coupon,
            money:
              this.total_price == '' ? this.service.price : this.total_price,
          },
        })
        .then((res) => {
          this.total_price = res.data.data.newAmount
          this.discount = res.data.data.discount
          this.has_discount = true
        })
        .catch((err) => {
          if (err) {
            window.scrollTo({ top: 0, behavior: 'smooth' })
          }
        })
        .finally(() => {
          this.loading = false
        })
    },
    cancelGift() {
      window.scrollTo({ top: 0, behavior: 'smooth' })
      this.form.gift = false
    },
  },
  validations: {
    form: {
      reservation_date: {
        required,
      },
      male_count: {
        required,
      },
      female_count: {
        required,
      },
      children_count: {
        required,
      },
      gift_owner: {},
      gift_receiver: {},
      gift_receiver_mobile: {},
    },
  },
}
</script>
