<template>
  <main class="booking">
    <v-container>
      <v-row>
        <v-col cols="12" lg="3">
          <v-app-bar-nav-icon
            class="d-large-adjust"
            small
            @click.stop="drawer = !drawer"
          />
          <v-navigation-drawer
            :style="{ top: !isMobile ? '60px' : '' }"
            :width="isMobile ? 300 : 400"
            v-model="drawer"
            :clipped="$vuetify.breakpoint.lgAndUp"
            fixed
            :right="isRight"
          >
            <v-list>
              <v-list-item class="px-2">
                <v-list-item-content>
                  <v-list-item-title>
                    <h1>
                      {{ $t('heading.booking') }}
                    </h1>
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-icon>
                  <v-menu
                    v-model="menu"
                    :close-on-content-click="false"
                    :nudge-width="200"
                    offset-y
                    right
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        style="border-radius: 8px"
                        width="46"
                        height="46"
                        v-bind="attrs"
                        v-on="on"
                      >
                        <v-icon color="light-gray">mdi-filter</v-icon>
                      </v-btn>
                    </template>

                    <v-card>
                      <v-list>
                        <v-list-item>
                          {{ $t('heading.filter_booking') }}
                        </v-list-item>
                        <v-list-item>
                          <v-radio-group
                            color="secondary"
                            v-model="booking_type"
                          >
                            <v-radio
                              v-for="(type, index) in bookingTypes"
                              :key="index"
                              :label="type.label"
                              :value="type.value"
                            ></v-radio>
                          </v-radio-group>
                        </v-list-item>
                      </v-list>
                    </v-card>
                  </v-menu>
                </v-list-item-icon>
              </v-list-item>
            </v-list>
            <v-list nav dense>
              <v-list-item
                v-for="(item, index) in items"
                :key="index"
                :to="item.to"
              >
                <v-list-item-content>
                  <v-list-item-title>
                    {{ item.title }}
                  </v-list-item-title>
                </v-list-item-content>
                <!-- <v-list-item-action>
                  <v-chip>{{ orders.length }}</v-chip>
                </v-list-item-action> -->
              </v-list-item>
            </v-list>
            <template v-slot:append> </template>
          </v-navigation-drawer>
        </v-col>
        <v-col cols="12" lg="9">
          <v-content>
            <nuxt-child :orders="orders" />
          </v-content>
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'Bookings',
  fetch() {
    this.getBookings()
  },
  data() {
    return {
      drawer: true,
      isMobile: false,
      menu: false,
      orders: [],
      meta: {},
      booking_type: 'activity',
    }
  },
  methods: {
    async getBookings() {
      const param = this.$route.path.substr(
        this.$route.path.lastIndexOf('/') + 1
      )
      const res = await this.$http.get({
        resource: `orderHistory/${this.booking_type}/${param}`,
      })
      const { data, meta } = res.data
      this.orders = data
      this.meta = meta
    },
  },
  computed: {
    bookingTypes() {
      return [
        { value: 'activity', label: this.$t('activity') },
        { value: 'route', label: this.$t('route') },
      ]
    },
    isRight() {
      if (this.$i18n.locale === 'ar') {
        return true
      } else {
        return false
      }
    },
    items() {
      return [
        {
          title: this.$t('heading.new_booking'),
          count: 50,
          to: this.localePath('/bookings/new'),
        },
        {
          title: this.$t('heading.accepted_booking'),
          count: 50,
          to: this.localePath('/bookings/accepted'),
        },
        {
          title: this.$t('heading.completed_booking'),
          count: 50,
          to: this.localePath('/bookings/completed'),
        },
        {
          title: this.$t('heading.incomplete_bookings'),
          count: 50,
          to: this.localePath('/bookings/uncompleted'),
        },
      ]
    },
  },
  mounted() {
    window.addEventListener('resize', () => {
      if (window.innerWidth <= 767) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
    })
  },
  watch: {
    '$vuetify.breakpoint': {
      handler({ mdAndDown }) {
        if (mdAndDown) {
          this.isMobile = true
        } else {
          this.isMobile = false
        }
      },
      immediate: true,
    },
    booking_type: {
      handler() {
        this.$fetch()
      },
      immediate: true,
    },
  },
}
</script>