<template>
  <main>
    <LazyHomeIntro />
    <template v-if="$auth.loggedIn && $auth.user.type === 'guide'">
      <LazyHomeMyServices />
    </template>
    <LazyHomeOfferServices />
    <v-col cols="12" lg="10" class="mx-auto">
      <LazyActivities />
    </v-col>
    <v-col cols="12" lg="10" class="py-16 mx-auto">
      <LazyItineraries />
    </v-col>
    <LazyHomeExplore :categories="categories" />
    <LazyHomeEvents :events="events" />
    <LazyHomeSuggestedServices />
    <LazyHomeServiceMap />
    <v-fab-transition>
      <v-btn
        @click="handleScrollTop"
        style="z-index: 99999"
        fixed
        color="secondary"
        fab
        dark
        bottom
        left
        small
      >
        <v-icon color="white">mdi-arrow-up-bold</v-icon>
      </v-btn>
    </v-fab-transition>
  </main>
</template>

<script>
export default {
  name: 'HomeIndex',
  async asyncData({ $http }) {
    try {
      const [categories, eventRes] = await Promise.all([
        $http.get({ resource: 'discoverCategories' }),
        $http.get({ resource: 'events' }),
      ])

      return {
        categories: categories.data.data,
        events: eventRes.data.data,
      }
    } catch (error) {
      console.log(error)
    }
  },
  methods: {
    handleScrollTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    },
  },
}
</script>
