<template>
  <main class="booking">
    <v-container>
      <v-row>
        <v-col cols="12" lg="3">
          <v-app-bar-nav-icon
            class="d-large-adjust"
            small
            @click.stop="drawer = !drawer"
          />
          <v-navigation-drawer
            :style="{ top: !isMobile ? '60px' : '' }"
            :width="isMobile ? 300 : 400"
            v-model="drawer"
            :clipped="$vuetify.breakpoint.lgAndUp"
            fixed
            :right="isRight"
          >
            <v-list>
              <v-list-item class="px-2" to="/">
                <h1>
                  {{ $t('heading.orders') }}
                </h1>
              </v-list-item>
            </v-list>
            <v-list nav dense>
              <v-list-item
                v-for="(item, index) in items"
                :key="index"
                :to="item.to"
              >
                <v-list-item-content>
                  <v-list-item-title>
                    {{ item.title }}
                  </v-list-item-title>
                </v-list-item-content>
                <!-- <v-list-item-action>
                  <v-chip>{{ meta.total }}</v-chip>
                </v-list-item-action> -->
              </v-list-item>
            </v-list>
            <template v-slot:append> </template>
          </v-navigation-drawer>
        </v-col>
        <v-col cols="12" lg="9">
          <v-content>
            <nuxt-child :orders="orders" :meta="meta" />
          </v-content>
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'Orders',
  watchQuery: true,
  async asyncData({ $http, route }) {
    const param = route.path.substr(route.path.lastIndexOf('/') + 1)
    const res = await $http.get({
      resource: `orderHistory/customized/${param}`,
    })
    const { data, meta } = res.data

    return { orders: data, meta }
  },
  data() {
    return {
      drawer: true,
      isMobile: false,
    }
  },

  computed: {
    isRight() {
      if (this.$i18n.locale === 'ar') {
        return true
      } else {
        return false
      }
    },
    items() {
      return [
        {
          title: this.$t('heading.new_order'),
          order_type: 'new',
          to: this.localePath('/orders/new'),
        },
        {
          title: this.$t('heading.accepted_order'),
          order_type: 'accepted',
          to: this.localePath('/orders/accepted'),
        },
        {
          title: this.$t('heading.completed_order'),
          order_type: 'completed',
          to: this.localePath('/orders/completed'),
        },
        {
          title: this.$t('heading.uncompleted_order'),
          order_type: 'uncompleted',
          to: this.localePath('/orders/uncompleted'),
        },
      ]
    },
  },
  mounted() {
    window.addEventListener('resize', () => {
      if (window.innerWidth <= 767) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
    })
  },
  watch: {
    '$vuetify.breakpoint': {
      handler({ mdAndDown }) {
        if (mdAndDown) {
          this.isMobile = true
        } else {
          this.isMobile = false
        }
      },
      immediate: true,
    },
  },
}
</script>