<template>
  <main>
    <v-container>
      <LazyWrappingTable :items="orders">
        <template v-slot="{ item }">
          <nuxt-link
            tag="tr"
            :to="localePath(`/services/${item.id}?type=customize_trip`)"
            style="cursor: pointer"
          >
            <td class="text-center">
              {{ `#${item.code}` }}
              <div class="light-gray--text">{{ $t('table.order_number') }}</div>
            </td>
            <td class="text-center">
              {{ item.category_name }}
              <div class="light-gray--text">{{ $t('table.service_type') }}</div>
            </td>
            <td class="text-center">
              {{ `${item.date} - ${item.time}` }}
              <div class="light-gray--text">
                {{ $t('table.time_of_request') }}
              </div>
            </td>
            <!-- <td class="text-center">
            {{ `${item.date} - ${item.time}` }}
            <div class="light-gray--text">
              {{ $t('table.duration') }}
            </div>
          </td> -->

            <!-- <td class="text-center">
            <v-list flat max-width="260" class="mx-auto">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ item.name }}
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    <span class="light-gray--text">
                      {{ item.provider }}
                    </span>
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-avatar size="70">
                    <img :src="item.avatar" alt="avatar" />
                  </v-avatar>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </td> -->
          </nuxt-link>
        </template>
      </LazyWrappingTable>
    </v-container>
    <v-col cols="12">
      <LazyPagination :meta="meta" />
    </v-col>
  </main>
</template>

<script>
export default {
  name: 'Accepted',
  props: {
    orders: {
      type: Array,
      default: () => [],
    },
    meta: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

