<template>
  <v-container>
    <v-row>
      <v-col cols="12" lg="10" class="mx-auto">
        <transition name="fade" mode="out-in">
          <component
            :is="componentsName[index]"
            @on-switch="onSwitch"
            :form="form"
            @close-dialog="$emit('close-dialog')"
          />
        </transition>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Authentication',
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    Login: () => import('./Login'),
    Register: () => import('./Register'),
    ForgetPassword: () => import('./ForgetPassword'),
    Otp: () => import('./Otp'),
    ResetPassword: () => import('./ResetPassword'),
  },
  data() {
    return {
      index: 0,
      form: {
        code: '',
        mobile: '',
        country_code_id: '',
        password: '',
      },
      componentsName: [
        'Login',
        'Register',
        'ForgetPassword',
        'Otp',
        'ResetPassword',
      ],
    }
  },
  methods: {
    onSwitch(componentName) {
      this.index = this.componentsName.indexOf(componentName)
    },
    resetForm() {
      this.index = 1
      setTimeout(() => {
        this.index = 0
      }, 50)
      for (const key in this.form) {
        this.form[key] = ''
      }
    },
  },
  watch: {
    dialog: {
      handler(value) {
        if (!value) {
          this.index = 0
          this.resetForm()
        }
      },
      immediate: true,
    },
  },
}
</script>

