<template>
  <div class="event">
    <nuxt-link :to="localePath(`/events/${event.id}`)">
      <v-row>
        <v-col cols="12" :lg="$attrs.col_4" class="align-self-center">
          <div class="event__img-wrapper">
            <v-img height="100%" :src="event.images[0].image" alt="photo" />
          </div>
        </v-col>
        <v-col cols="12" :lg="$attrs.col_8" class="align-self-center">
          <v-row>
            <v-col cols="8" lg="8" class="py-0">
              <h3 class="gray--text text-capitalize event__title mb-2">
                {{ event.title }}
              </h3>
            </v-col>
            <v-col cols="4" lg="4" class="d-flex justify-end py-0">
              <v-chip class="duration-chip" small>
                {{ `${event.duration_days} ${$t('days')}` }}
              </v-chip>
            </v-col>
            <v-col cols="12" class="py-0">
              <v-list class="py-0">
                <v-list-item class="px-0 min-h-20">
                  <v-list-item-action class="mx-auto my-0">
                    <img
                      height="16px"
                      :src="require('@/assets/images/icons/calendar.svg')"
                      alt=""
                    />
                  </v-list-item-action>
                  <v-list-item-content class="px-2 py-0">
                    <v-list-item-title>
                      <small class="light-gray--text">
                        {{
                          `
                      ${$t('start_date')}

                    ${$moment(event.start_date)
                      .locale($i18n.locale)
                      .format('LL')}
                      `
                        }}
                      </small>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item class="px-0 min-h-20">
                  <v-list-item-action class="mx-auto my-0">
                    <img
                      height="14px"
                      :src="require('@/assets/images/icons/lang.svg')"
                      alt=""
                    />
                  </v-list-item-action>
                  <v-list-item-content class="px-2 py-0">
                    <v-list-item-title>
                      <small class="light-gray--text">
                        {{ `${event.country_name}-${event.city_name}` }}
                      </small>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'EventCard',
  inheritAttrs: false,
  props: {
    event: {
      type: Object,
      default: () => ({
        images: [],
      }),
    },
  },
}
</script>

