<template>
  <main class="offers">
    <v-container>
      <v-row>
        <v-col cols="12">
          <section>
            <LazyHomeTitle title="special_offers" />
          </section>
        </v-col>
      </v-row>
      <v-col cols="12" lg="6" class="mx-auto">
        <v-tabs
          center-active
          centered
          hide-slider
          active-class="active-service"
          v-model="tab"
          class="mt-3"
        >
          <v-tabs-slider color="transparent"></v-tabs-slider>

          <v-tab v-for="item in items" :key="item">
            <small class="font-weight-bold">{{ $t(`fields.${item}`) }}</small>
          </v-tab>
        </v-tabs>
      </v-col>
      <v-col cols="12" class="my-5 px-0">
        <LazySwiperWrapper :breakpoints="breakpoints" ref="swiper_ref">
          <swiper-slide v-for="(offer, index) in offers" :key="index">
            <LazyCardsSpecialOffer :offer="offer" />
          </swiper-slide>
        </LazySwiperWrapper>
      </v-col>
      <v-col cols="12" lg="3" class="mx-auto text-center">
        <v-btn
          @click="$refs.swiper_ref.nextSlide()"
          class="secondary"
          icon
          style="border-radius: 8px"
        >
          <v-icon color="white">{{ arrowIconRight }}</v-icon>
        </v-btn>

        <v-btn
          @click="$refs.swiper_ref.prevSlide()"
          class="secondary mx-2"
          icon
          style="border-radius: 8px"
        >
          <v-icon color="white">{{ arrowIconLeft }}</v-icon>
        </v-btn>
      </v-col>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'OfferServices',
  data: () => ({
    offers: [],
    isEnd: false,
    offer_type: 'activity',
    tab: 0,
    breakpoints: {
      1440: {
        slidesPerView: 4,
        spaceBetween: 30,
      },
      1280: {
        slidesPerView: 4,
        spaceBetween: 30,
      },
      991: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      640: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      320: {
        slidesPerView: 1,
        spaceBetween: 30,
      },
    },
  }),
  async fetch() {
    const res = await this.$http.get({
      resource: `offer_services/${this.items[this.tab]}`,
    })
    const { data } = res.data
    this.offers = data.map((el) => ({
      ...el,
      favourite_status: el.favourite_status === 'false' ? false : true,
    }))
  },
  computed: {
    arrowIconRight() {
      return this.$i18n.locale === 'ar' ? 'mdi-arrow-right' : 'mdi-arrow-left'
    },
    arrowIconLeft() {
      return this.$i18n.locale === 'ar' ? 'mdi-arrow-left' : 'mdi-arrow-right'
    },
    items() {
      return ['activity', 'route']
    },
  },
  watch: {
    tab: {
      handler() {
        this.$fetch()
      },
    },
  },
}
</script>

