<template>
  <GenericDialog :dialog.sync="dialog" persistent>
    <v-col cols="12" lg="11" class="mx-auto">
      <v-row>
        <v-col cols="12">
          <h2 class="text-center py-5">{{ $t('heading.add_offer') }}</h2>
        </v-col>
        <v-col cols="12">
          <v-row>
            <v-col cols="12">
              <form-group name="offer_price" attribute="fields.offer_price">
                <template slot-scope="{ attrs, listeners }">
                  <v-label for="offer_price">
                    <b class="gray--text">{{ $t('fields.offer_price') }}</b>
                  </v-label>
                  <v-text-field
                    v-bind="attrs"
                    v-on="listeners"
                    id="offer_price"
                    v-model="form['offer_price']"
                    filled
                    rounded
                    type="number"
                    flat
                  >
                  </v-text-field>
                </template>
              </form-group>
            </v-col>
            <v-col cols="12" lg="6">
              <form-group
                name="offer_date_start"
                attribute="fields.offer_date_start"
              >
                <template slot-scope="{ attrs, listeners }">
                  <LazySingleDatePicker
                    :max="form['offer_date_end']"
                    v-bind="attrs"
                    v-on="listeners"
                    :form="form"
                    fieldName="offer_date_start"
                    label="offer_date_start"
                  />
                </template>
              </form-group>
            </v-col>
            <v-col cols="12" lg="6">
              <form-group
                name="offer_date_end"
                attribute="fields.offer_date_end"
              >
                <template slot-scope="{ attrs, listeners }">
                  <LazySingleDatePicker
                    :min="form['offer_date_start']"
                    v-bind="attrs"
                    v-on="listeners"
                    :form="form"
                    fieldName="offer_date_end"
                    label="end_offer_price"
                  />
                </template>
              </form-group>
            </v-col>
            <v-col cols="12" lg="6">
              <form-group name="offer_time_to" attribute="fields.offer_time_to">
                <template slot-scope="{ attrs, listeners }">
                  <LazyTimePicker
                    :max="form['offer_time_from']"
                    v-bind="attrs"
                    v-on="listeners"
                    :form="form"
                    fieldName="offer_time_to"
                  >
                    <template #title>
                      {{ $t('fields.offer_time_to') }}
                    </template>
                  </LazyTimePicker>
                </template>
              </form-group>
            </v-col>
            <v-col cols="12" lg="6">
              <form-group
                name="offer_time_from"
                attribute="fields.offer_time_from"
              >
                <template slot-scope="{ attrs, listeners }">
                  <LazyTimePicker
                    :min="form['offer_time_to']"
                    v-bind="attrs"
                    v-on="listeners"
                    :form="form"
                    fieldName="offer_time_from"
                  >
                    <template #title>
                      {{ $t('fields.offer_time_from') }}
                    </template>
                  </LazyTimePicker>
                </template>
              </form-group>
            </v-col>
          </v-row>
        </v-col>
        <v-row>
          <v-col cols="12" lg="6">
            <v-btn
              :disabled="!requiredField"
              @click="toggleDialog()"
              block
              large
              class="primary"
            >
              {{ $t('button.add') }}
            </v-btn>
          </v-col>
          <v-col cols="12" lg="6">
            <v-btn @click="handleCancel" block large class="error">
              {{ $t('button.cancel') }}
            </v-btn>
          </v-col>
        </v-row>
        <v-col cols="12">
          <p class="text-center">{{ $t('heading.when_add_offer_price') }}</p>
        </v-col>
      </v-row>
    </v-col>
  </GenericDialog>
</template>

<script>
export default {
  name: 'ServiceOffer',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
    $v: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      dialog: false,
      fields: [
        'offer_price',
        'offer_date_start',
        'offer_date_end',
        'offer_time_to',
        'offer_time_from',
      ],
    }
  },
  computed: {
    requiredField() {
      return this.fields.every((field) => this.form[field] !== '')
    },
  },
  methods: {
    resetForm() {
      this.form.has_offer = false

      for (const field of this.fields) {
        this.form[field] = ''
      }
    },
    handleCancel() {
      this.resetForm()
      this.toggleDialog()
    },
    toggleDialog() {
      this.dialog = !this.dialog
    },
  },
  watch: {
    dialog: {
      handler(value) {
        if (!value) {
          this.$v.$reset()
        }
      },
      immediate: true,
    },
  },
}
</script>
