<template>
  <form-wrapper :validator="$v.form">
    <v-form>
      <v-col cols="12">
        <h2 class="text-center">{{ $t('heading.new_password') }}</h2>
        <p class="text-center">
          {{ $t('heading.please_add_new_password') }}
        </p>
      </v-col>

      <v-col cols="12" class="py-0">
        <div class="password-wrapper">
          <form-group name="password" attribute="fields.password">
            <template slot-scope="{ attrs, listeners }">
              <v-label for="password">
                <span class="gray--text">{{ $t('fields.new_password') }}</span>
              </v-label>
              <v-text-field
                v-bind="attrs"
                v-on="listeners"
                id="password"
                v-model="form.password"
                filled
                rounded
                flat
                :type="inputType"
                :append-icon="passwordIcon"
                @click:append="showPassword = !showPassword"
              >
              </v-text-field>
            </template>
          </form-group>
        </div>
      </v-col>
      <v-col cols="12">
        <v-btn
          :disabled="$v.form.$invalid"
          :loading="loading"
          large
          block
          class="primary"
          >{{ $t('button.send') }}</v-btn
        >
      </v-col>
    </v-form>
  </form-wrapper>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'ResetPassword',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data: () => ({
    showPassword: false,
    loading: false,
  }),
  computed: {
    inputType() {
      return this.showPassword ? 'text' : 'password'
    },
    passwordIcon() {
      return this.showPassword ? 'mdi-eye' : 'mdi-eye-off'
    },
  },
  methods: {
    handleChangePassword() {
      this.$http
        .post({ resource: 'change_password', data: this.form })
        .then(() => {
          this.$emit('on-switch', 'Login')
        })
    },
  },

  validations: {
    form: {
      password: {
        required,
      },
    },
  },
}
</script>

