<template>
  <v-card
    class="offer-card radius-10 elevation-0"
    :to="localePath(`/services/${offer.id}?service_type=${offer.type}`)"
  >
    <div
      class="services__actions"
      v-if="$auth.loggedIn && $auth.user.type === 'client'"
    >
      <v-btn
        :loading="loading"
        @click.prevent="toggleFavorite"
        small
        icon
        class="white"
      >
        <v-icon small color="error" v-if="!offer.favourite_status">
          mdi-heart-outline
        </v-icon>
        <v-icon small color="error" v-else> mdi-heart </v-icon>
      </v-btn>
    </div>
    <div class="offer-card__img-wrapper">
      <v-img alt="image" :src="offer.main_image" aspect-ratio="1.5" />
      <div class="offer-card__offer-date">
        <div>
          {{
            `${$t('offer_start')}  ${$moment(offer.offer_start_date)
              .locale($i18n.locale)
              .format('LL')} ${$t('offer_end')}  ${$moment(offer.offer_end_date)
              .locale($i18n.locale)
              .format('LL')} `
          }}
        </div>
      </div>
    </div>
    <v-card-text class="off-white py-0 px-0">
      <v-list flat style="background-color: transparent">
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <v-icon small color="light-gray">mdi-map-marker</v-icon>
              <small class="light-gray--text">{{
                `${offer.country} , ${offer.city}`
              }}</small>
            </v-list-item-title>
            <v-list-item-subtitle class="pt-3">
              <span style="font-size: 14px" class="gray--text">
                {{ offer.title }}
              </span>
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action class="align-self-baseline">
            <span class="secondary--text font-weight-bold">
              {{ `${offer.price} ${$t('sar')}` }}
            </span>
          </v-list-item-action>
        </v-list-item>
        <v-divider class="my-2 mx-4" />
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <v-avatar size="40">
                <v-img alt="photo" :src="offer.guide_image" />
              </v-avatar>
              <span class="light-gray--text px-1">{{ offer.guide_name }}</span>
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-action class="align-self-baseline">
            <v-btn
              color="primary"
              @click.prevent="handleBooking"
              outlined
              class="offer-card__booking-btn text-capitalize"
            >
              <span class="font-weight-bold">{{ $t('book_now') }}</span>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'SpecialOfferCard',
  props: {
    offer: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    handleBooking() {
      if (this.$auth.loggedIn) {
        this.$router.push(
          this.localePath(
            `/services/book?type=${this.offer.type}&id=${this.offer.id}`
          )
        )
      } else {
        this.$eventBus.$emit('open-login-dialog')
      }
    },
    toggleFavorite() {
      this.loading = true
      this.offer.favourite_status = !this.offer.favourite_status
      this.$http
        .get({ resource: `favouriteService/${this.offer.id}` })
        .then(() => {
          this.$emit('on-favorite-change')
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
}
</script>

