<template>
  <div>
    <v-label>
      <b class="gray--text">
        <slot name="title" />
      </b>
    </v-label>
    <v-menu
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      :nudge-right="40"
      :return-value.sync="form[fieldName]"
      transition="scale-transition"
      offset-y
      max-width="290px"
      min-width="290px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          v-model="form[fieldName]"
          prepend-icon=""
          readonly
          rounded
          filled
          v-bind="[attrs, $attrs]"
          v-on="{ ...on, ...$listeners }"
          append-icon="mdi-clock"
        ></v-text-field>
      </template>
      <v-time-picker
        :min="min"
        :max="max"
        ampm-in-title
        format="ampm"
        v-if="menu"
        v-model="form[fieldName]"
        full-width
        @click:minute="$refs.menu.save(form[fieldName])"
      ></v-time-picker>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: 'TimPicker',
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      default: () => {},
    },
    fieldName: {
      type: String,
      default: '',
    },
    min: {
      type: String,
      default: '',
    },
    max: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      menu: null,
    }
  },
}
</script>

