<template>
  <div>
    <v-navigation-drawer
      :right="isRight"
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      dark
      app
      :disable-resize-watcher="true"
    >
      <v-list class="text-center">
        <v-list-item class="px-2 mb-5" :to="localePath('/')">
          <v-list-item-avatar size="100" class="mx-auto pa-4" color="white">
            <img
              :src="require('@/assets/images/logo.svg')"
              height="40px"
              alt=""
            />
          </v-list-item-avatar>
        </v-list-item>
      </v-list>
      <v-list flat color="transparent" class="d-lg-flex justify-space-around">
        <v-list-item
          class="px-0 text-center"
          dense
          v-for="(item, index) in items"
          :key="index"
        >
          <v-btn text class="text-capitalize on-hover" :to="localePath(item.to)"
            ><small
              ><strong class="size-12">{{ item.title }}</strong></small
            ></v-btn
          >
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      class="app-header"
      elevation="0"
      v-onScroll
      :clipped-left="clipped"
      fixed
      app
    >
      <v-container class="d-flex align-center pa-0 reversed">
        <LazyNavBar :items="items" />
        <v-app-bar-nav-icon
          class="d-large-adjust"
          small
          @click.stop="drawer = !drawer"
        />
      </v-container>
    </v-app-bar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
// import _ from 'lodash'
export default {
  directives: {
    onScroll: {
      bind(el, bind) {
        document.addEventListener('scroll', (e) => {
          if (e.path[1].scrollY > 100) {
            el.classList.add('active-header')
          } else {
            el.classList.remove('active-header')
          }
        })
      },
    },
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      dialog: false,
      loading: true,
      isRight: true,
      search: '',
      results: [],
      today: this.$moment().format('YYYY-MM-DD'),
      hijri: new Intl.DateTimeFormat('ar-FR-u-ca-islamic', {
        day: 'numeric',
        month: 'long',
        // weekday: 'long',
        year: 'numeric',
      }).format(Date.now()),
    }
  },
  computed: {
    locale() {
      return this.$i18n.locale
    },

    items() {
      return [
        {
          title: this.$t('home'),
          to: '/',
          requiredAuth: false,
        },
        {
          title: this.$t('bookings'),
          to: '/bookings',
          requiredAuth: this.$auth.loggedIn,
        },
        {
          title: this.$t('seperate_trips'),
          to: '/orders',
          type: 'client',
          requiredAuth:
            this.$auth.loggedIn && this.$auth.user.type === 'client',
        },
        {
          title: this.$t('wallet'),
          to: '/wallet',
          requiredAuth: this.$auth.loggedIn,
        },
      ]
    },
    ...mapGetters({
      profile: 'profile/getProfile',
      settings: 'globalSettings/getSettings',
    }),
  },
  methods: {
    handleLogout() {
      this.$auth.logout()
    },
    searchModal() {
      this.dialog = true
    },
    // searchData: _.debounce(() => {
    //   this.loading = true
    //   // const padeNo = query.page || 1
    //   this.$axios.get(`/search?search=${this.search}`).then((res) => {
    //     const { data } = res.data
    //     this.results = data
    //     // this.shimmer = false
    //     // this.pagination = data
    //     this.loading = false
    //   })
    // }, 2000),
    searchData() {
      this.loading = true
      // const padeNo = query.page || 1
      this.$axios.get(`/search?search=${this.search}`).then((res) => {
        const { data } = res.data
        this.results = data
        // this.shimmer = false
        // this.pagination = data
        this.loading = false
      })
    },
    close() {
      this.dialog = false
    },
  },

  watch: {
    $route: {
      handler() {
        if (this.$route.path.includes('en')) {
          this.$vuetify.rtl = false
          this.isRight = false
        } else {
          this.$vuetify.rtl = true
          this.isRight = true
        }
      },
      immediate: true,
    },
  },
}
</script>
