<template>
  <form-wrapper :validator="$v.form">
    <v-form @submit.prevent="handleLogin">
      <LazyErrorAlert />

      <v-col cols="12">
        <h2 class="text-center py-5">{{ $t('heading.login') }}</h2>
      </v-col>
      <v-col cols="12" class="py-0">
        <form-group name="mobile" attribute="fields.mobile">
          <template slot-scope="{ attrs, listeners }">
            <LazyPhone v-bind="attrs" v-on="listeners" :form="form" />
          </template>
        </form-group>
      </v-col>
      <v-col cols="12" class="py-0">
        <div class="password-wrapper">
          <form-group name="password" attribute="fields.password">
            <template slot-scope="{ attrs, listeners }">
              <v-label for="password">
                <b class="gray--text">{{ $t('fields.password') }}</b>
              </v-label>
              <v-text-field
                v-bind="attrs"
                v-on="listeners"
                id="password"
                class="mt-2"
                v-model="form.password"
                filled
                rounded
                flat
                :type="inputType"
                :append-icon="passwordIcon"
                @click:append="showPassword = !showPassword"
              >
              </v-text-field>
            </template>
          </form-group>
          <div class="align-text forget-password">
            <a
              @click.prevent="$emit('on-switch', 'ForgetPassword')"
              class="gray--text"
              style="opacity: 0.6"
              >{{ $t('fields.forgot_password') }}</a
            >
          </div>
        </div>
      </v-col>
      <v-col cols="12">
        <v-btn
          type="submit"
          :disabled="$v.form.$invalid"
          :loading="loading"
          large
          block
          color="primary"
          class="mt-3 radius-10"
          height="54px"
          >{{ $t('button.login') }}</v-btn
        >
      </v-col>
      <v-col cols="12">
        <div class="text-center">
          <span>{{ $t('fields.dont_have_account') }}</span>
          <a
            @click.prevent="$emit('on-switch', 'Register')"
            class="secondary--text"
          >
            {{ $t('fields.register_now') }}
          </a>
        </div>
      </v-col>
      <v-col cols="12">
        <LazyLanguage />
      </v-col>
    </v-form>
  </form-wrapper>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'Login',
  props: {
    form: {
      type: Object,
      default: () => {},
    },
  },
  data: () => ({
    showPassword: false,
    loading: false,
  }),
  computed: {
    inputType() {
      return this.showPassword ? 'text' : 'password'
    },
    passwordIcon() {
      return this.showPassword ? 'mdi-eye' : 'mdi-eye-off'
    },
  },
  methods: {
    handleLogin() {
      this.loading = true
      this.$auth
        .loginWith('local', { data: { ...this.form } })
        .then(() => this.$emit('close-dialog'))
        .finally(() => (this.loading = false))
    },
  },
  validations: {
    form: {
      mobile: {
        required,
      },
      password: {
        required,
      },
      country_code_id: {
        required,
      },
    },
  },
}
</script>

