<template>
  <main class="wallet">
    <v-container>
      <v-row>
        <v-col cols="12" lg="4">
          <div class="wallet__total-dues">
            <v-row class="py-5 px-8">
              <v-col cols="12">
                <h1>
                  {{ $t('total_dues') }}
                  <span> ({{ `1500 ${$t('completed_booking')} ` }}) </span>
                </h1>
              </v-col>
              <v-col cols="12">
                <h2 class="wallet__total-dues__money">
                  {{ wallet.walletAmount }}
                  <sub>ريال سعودي</sub>
                </h2>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="12" lg="3">
                    <v-btn large class="primary" block>
                      {{ $t('button.request_my_dues') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </div>
        </v-col>
        <v-col cols="12" lg="8">
          <div class="wallet__history">
            <v-row class="py-5 px-8">
              <v-col cols="12">
                <h2>
                  {{ $t('prev_operations') }}
                  <span class="light-gray--text">
                    {{ $t('prev_transations') }}
                  </span>
                </h2>
              </v-col>
              <v-col cols="12">
                <LazyWrappingTable :items="items">
                  <template v-slot="{ item }">
                    <tr>
                      <td class="text-center">
                        {{ `#${item.reference}` }}
                        <div class="light-gray--text">رقم الحجز</div>
                      </td>
                      <td class="text-center">
                        1\1\2021
                        <div class="light-gray--text">تاريخ و وقت العملية</div>
                      </td>

                      <td class="text-center">
                        {{ item.price }}
                        <div class="light-gray--text">سعر الحجز</div>
                      </td>
                    </tr>
                  </template>
                </LazyWrappingTable>
              </v-col>
            </v-row>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
export default {
  name: 'Wallet',
  async asyncData({ $http }) {
    const res = await $http.get({ resource: 'guideWallet/financialDues' })
    const { data } = res.data
    return {
      wallet: data,
    }
  },
  data: () => ({
    items: [
      {
        reference: '1231212',
        name: 'جبال فيفاء بجازان',
        date: '22-12-2222',
        avatar: 'https://cdn.vuetifyjs.com/images/john.jpg',
        price: '100',
        category: 'mount view',
        provider: 'مرشد سياحي',
      },
      {
        reference: '1231212',
        name: 'جبال فيفاء بجازان',
        date: '22-12-2222',
        avatar: 'https://cdn.vuetifyjs.com/images/john.jpg',
        price: '100',
        category: 'mount view',
        provider: 'مرشد سياحي',
      },
    ],
  }),
}
</script>