<template>
  <v-btn
    v-bind="$attrs"
    color="primary"
    class="text-capitalize elevation-0 white--text"
    ><b>{{ $t('view_more') }}</b></v-btn
  >
</template>

<script>
export default {
  name: 'ViewMoreButton',
  inheritAttrs: false,
}
</script>
