<template>
  <swiper ref="mySwiper" :options="swiperOptions" :dir="direction">
    <slot />
  </swiper>
</template>

<script>
export default {
  name: 'SwiperWrapper',
  inheritAttrs: false,
  props: {
    breakpoints: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    swiperOptions() {
      return {
        loop: false,
        spaceBetween: 0,
        centeredSlides: false,
        breakpoints: this.breakpoints,
        autoplay: false,
        ...this.$attrs,
      }
    },
    direction() {
      if (this.$i18n.locale === 'ar') {
        return 'rtl'
      } else {
        return 'ltr'
      }
    },
  },

  methods: {
    nextSlide() {
      this.$refs.mySwiper.$swiper.slideNext()
    },
    prevSlide() {
      this.$refs.mySwiper.$swiper.slidePrev()
    },
  },
}
</script>
