<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="22.152"
    height="19.446"
    viewBox="0 0 22.152 19.446"
  >
    <g id="Solid" transform="translate(0)">
      <path
        id="Path_7781"
        data-name="Path 7781"
        d="M43.364,258.527a1.167,1.167,0,0,0-1.542.586,7.392,7.392,0,0,1-13.352.288l.661.294a1.167,1.167,0,0,0,.949-2.132L27.009,256.2a1.167,1.167,0,0,0-1.54.591L24.1,259.859a1.167,1.167,0,0,0,2.132.949l.156-.35a9.724,9.724,0,0,0,8.688,5.356h.17a9.724,9.724,0,0,0,8.7-5.743,1.167,1.167,0,0,0-.587-1.542Z"
        transform="translate(-24 -246.368)"
        fill="#7960da"
      />
      <path
        id="Path_7782"
        data-name="Path 7782"
        d="M87.974,56.762a1.167,1.167,0,0,0-1.54.591l-.156.35a9.725,9.725,0,0,0-17.526.31,1.167,1.167,0,1,0,2.12.975A7.392,7.392,0,0,1,84.2,58.76l-.661-.294a1.167,1.167,0,1,0-.949,2.132l3.062,1.363.006,0a1.167,1.167,0,0,0,1.543-.59L88.565,58.3A1.167,1.167,0,0,0,87.974,56.762Z"
        transform="translate(-66.514 -52.347)"
        fill="#7960da"
      />
    </g>
  </svg>
</template>

<script>
export default {
  name: 'ResendIcon',
}
</script>

