<template>
  <v-dialog
    v-bind="$attrs"
    :value="dialog"
    @input="onDialogChange"
    max-width="750"
  >
    <v-card max-width="750" class="py-8 px-5">
      <slot :dialog="dialog" />
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'GenericDialog',
  inheritAttrs: false,
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onDialogChange() {
      this.$emit('update:dialog')
      this.$emit('on-dialog-change')
    },
  },
}
</script>

