<template>
  <main>
    <LazyPageTitle>
      {{ $t('heading.terms_and_conditions') }}
    </LazyPageTitle>
    <v-container class="my-12">
      <template v-if="$auth.loggedIn">
        <p
          v-if="$auth.user.type === 'guide'"
          v-html="settings.guide_terms || ''"
        ></p>
        <p
          v-else-if="$auth.user.type === 'client'"
          v-html="settings.client_terms || ''"
        ></p>
      </template>
      <p v-else v-html="settings.client_terms || ''"></p>
    </v-container>
  </main>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      settings: 'globalSettings/getSettings',
    }),
  },
}
</script>